Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add tracing-limit (customSmallerIsBetter) benchmark result for fd0cb9c429ca4522dd941a01893db01fb4782ca8
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for fd0cb9c429ca4522dd941a01893db01fb4782ca8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fd0cb9c429ca4522dd941a01893db01fb4782ca8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 91dec175fad00ee024638cc893cd4f1436636138
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 91dec175fad00ee024638cc893cd4f1436636138
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 91dec175fad00ee024638cc893cd4f1436636138
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 91dec175fad00ee024638cc893cd4f1436636138
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 91dec175fad00ee024638cc893cd4f1436636138
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 91dec175fad00ee024638cc893cd4f1436636138
  bench/data.js
Labels: none

disable redfish integration test
  Makefile
Labels: none

panic when typ is unsupported
  lib/resolver/src/proto/mod.rs
Labels: none

support more RecordData
  lib/resolver/src/proto/mod.rs
  src/extensions/dns_observer.rs
Labels: extensions

try
  src/sources/http_check.rs
Labels: sources

lookup ip address
  lib/resolver/src/resolver.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 4a77bc945be333fb4721e24b325cf9d2090c9ed6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 4a77bc945be333fb4721e24b325cf9d2090c9ed6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 4a77bc945be333fb4721e24b325cf9d2090c9ed6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 4a77bc945be333fb4721e24b325cf9d2090c9ed6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 4a77bc945be333fb4721e24b325cf9d2090c9ed6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 4a77bc945be333fb4721e24b325cf9d2090c9ed6
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 2443a31d4f6e26532fe671af2ecd6c2dc36ed89f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 2443a31d4f6e26532fe671af2ecd6c2dc36ed89f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 2443a31d4f6e26532fe671af2ecd6c2dc36ed89f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 2443a31d4f6e26532fe671af2ecd6c2dc36ed89f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 2443a31d4f6e26532fe671af2ecd6c2dc36ed89f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2443a31d4f6e26532fe671af2ecd6c2dc36ed89f
  bench/data.js
Labels: none

simplify decode_message
  lib/resolver/src/proto/mod.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d70238d8b5380708bb0d1e06c0e7c466fa7c00e9
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d70238d8b5380708bb0d1e06c0e7c466fa7c00e9
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d70238d8b5380708bb0d1e06c0e7c466fa7c00e9
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d70238d8b5380708bb0d1e06c0e7c466fa7c00e9
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d70238d8b5380708bb0d1e06c0e7c466fa7c00e9
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d70238d8b5380708bb0d1e06c0e7c466fa7c00e9
  bench/data.js
Labels: none

cleanup
  Cargo.lock
  Cargo.toml
  lib/event/src/metric/mod.rs
  lib/resolver/src/cache.rs
  lib/resolver/src/resolver.rs
  lib/tracing-internal/Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f6d46452264cef4e78ce169aeae66c668787d146
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f6d46452264cef4e78ce169aeae66c668787d146
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f6d46452264cef4e78ce169aeae66c668787d146
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f6d46452264cef4e78ce169aeae66c668787d146
  bench/data.js
Labels: none

set start before resolve
  src/sources/http_check.rs
Labels: sources

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
