Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add Build (customSmallerIsBetter) benchmark result for 3973b2c9b52f45d5a6de7952ed492e9fab88d8b6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3973b2c9b52f45d5a6de7952ed492e9fab88d8b6
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 24fe151777669df4a12aaf72704b90bb0dd1d09e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 24fe151777669df4a12aaf72704b90bb0dd1d09e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 24fe151777669df4a12aaf72704b90bb0dd1d09e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 24fe151777669df4a12aaf72704b90bb0dd1d09e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 24fe151777669df4a12aaf72704b90bb0dd1d09e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 24fe151777669df4a12aaf72704b90bb0dd1d09e
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 9c8dfa2387db3d19515cca2e0ad17812cf130ea0
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 9c8dfa2387db3d19515cca2e0ad17812cf130ea0
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 9c8dfa2387db3d19515cca2e0ad17812cf130ea0
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 9c8dfa2387db3d19515cca2e0ad17812cf130ea0
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9c8dfa2387db3d19515cca2e0ad17812cf130ea0
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 9c8dfa2387db3d19515cca2e0ad17812cf130ea0
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 80cbc09646647baa81dd1d2021afec8e34e9c067
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c780214dcabf07d01f1748e3ddd66591b081eed0
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 80cbc09646647baa81dd1d2021afec8e34e9c067
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c780214dcabf07d01f1748e3ddd66591b081eed0
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 80cbc09646647baa81dd1d2021afec8e34e9c067
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c780214dcabf07d01f1748e3ddd66591b081eed0
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 80cbc09646647baa81dd1d2021afec8e34e9c067
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c780214dcabf07d01f1748e3ddd66591b081eed0
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 80cbc09646647baa81dd1d2021afec8e34e9c067
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 80cbc09646647baa81dd1d2021afec8e34e9c067
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c780214dcabf07d01f1748e3ddd66591b081eed0
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c780214dcabf07d01f1748e3ddd66591b081eed0
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c17e1d2f11be7d003762210d08d7cb16df5a9aa1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c17e1d2f11be7d003762210d08d7cb16df5a9aa1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c17e1d2f11be7d003762210d08d7cb16df5a9aa1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c17e1d2f11be7d003762210d08d7cb16df5a9aa1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c17e1d2f11be7d003762210d08d7cb16df5a9aa1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c17e1d2f11be7d003762210d08d7cb16df5a9aa1
  bench/data.js
Labels: none

add sources/audit
  Cargo.toml
  README.md
  src/sources/audit/mod.rs
  src/sources/audit/netlink.rs
  src/sources/audit/parse.rs
  src/sources/audit/syscalls.rs
  src/sources/mod.rs
Labels: sources

fix type_def of `to_integer`
  lib/vtl/src/compiler/function/to_integer.rs
Labels: VTL

add prometheus (customSmallerIsBetter) benchmark result for eb5d4b999302ffa924eb08f1a60c26fa3b6c659b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for eb5d4b999302ffa924eb08f1a60c26fa3b6c659b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for eb5d4b999302ffa924eb08f1a60c26fa3b6c659b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for eb5d4b999302ffa924eb08f1a60c26fa3b6c659b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 0800e8d7f85c9b1b377c7e8051bbeda5c544fd08
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0800e8d7f85c9b1b377c7e8051bbeda5c544fd08
  bench/data.js
Labels: none
