Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add event (customSmallerIsBetter) benchmark result for 9ad0217a003e2173ca1734e6f3accf9fce8db669
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 9ad0217a003e2173ca1734e6f3accf9fce8db669
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 9ad0217a003e2173ca1734e6f3accf9fce8db669
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9ad0217a003e2173ca1734e6f3accf9fce8db669
  bench/data.js
Labels: none

add checkpoint support
  src/sources/kmsg.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 429404e3045a1cd168addce168fd8b8e49701bfc
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 429404e3045a1cd168addce168fd8b8e49701bfc
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 429404e3045a1cd168addce168fd8b8e49701bfc
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 429404e3045a1cd168addce168fd8b8e49701bfc
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 429404e3045a1cd168addce168fd8b8e49701bfc
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 429404e3045a1cd168addce168fd8b8e49701bfc
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for a696d877f1c13e86069da06dcba66eb56888f77e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for a696d877f1c13e86069da06dcba66eb56888f77e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for a696d877f1c13e86069da06dcba66eb56888f77e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for a696d877f1c13e86069da06dcba66eb56888f77e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for a696d877f1c13e86069da06dcba66eb56888f77e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a696d877f1c13e86069da06dcba66eb56888f77e
  bench/data.js
Labels: none

fix feature name
  Cargo.toml
  src/extensions/mod.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 7d41e576d5e9f6beff0ebaaca78ad9a581915481
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7d41e576d5e9f6beff0ebaaca78ad9a581915481
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7d41e576d5e9f6beff0ebaaca78ad9a581915481
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7d41e576d5e9f6beff0ebaaca78ad9a581915481
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7d41e576d5e9f6beff0ebaaca78ad9a581915481
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7d41e576d5e9f6beff0ebaaca78ad9a581915481
  bench/data.js
Labels: none

fix owned_target_path
  lib/value/src/path/mod.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 2bebdd969d57622f9d731f175e744800d74c5b53
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 2bebdd969d57622f9d731f175e744800d74c5b53
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 2bebdd969d57622f9d731f175e744800d74c5b53
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 2bebdd969d57622f9d731f175e744800d74c5b53
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 2bebdd969d57622f9d731f175e744800d74c5b53
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2bebdd969d57622f9d731f175e744800d74c5b53
  bench/data.js
Labels: none

remove uuid since we don't need it
  Cargo.lock
  Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 957e242564bf00a014c043f5527e4cc022c0931e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 957e242564bf00a014c043f5527e4cc022c0931e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 957e242564bf00a014c043f5527e4cc022c0931e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 957e242564bf00a014c043f5527e4cc022c0931e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 957e242564bf00a014c043f5527e4cc022c0931e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 957e242564bf00a014c043f5527e4cc022c0931e
  bench/data.js
Labels: none

add GRPC
  Cargo.lock
  Cargo.toml
  src/extensions/healthcheck.rs
  src/extensions/healthcheck/grpc.rs
  src/extensions/healthcheck/http.rs
  src/extensions/healthcheck/mod.rs
Labels: extensions

add Build (customSmallerIsBetter) benchmark result for f466d6e8220a41f88cabe24731849e820ea4efb6
  bench/data.js
Labels: none
