Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add tracing-limit (customSmallerIsBetter) benchmark result for 3196c1403ab84142dfad7425d5f67527fd4125f6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3196c1403ab84142dfad7425d5f67527fd4125f6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3196c1403ab84142dfad7425d5f67527fd4125f6
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for b5669be4b8949111091024069e316fcc03cdb072
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b5669be4b8949111091024069e316fcc03cdb072
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b5669be4b8949111091024069e316fcc03cdb072
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b5669be4b8949111091024069e316fcc03cdb072
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b5669be4b8949111091024069e316fcc03cdb072
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b5669be4b8949111091024069e316fcc03cdb072
  bench/data.js
Labels: none

bump to toolchain 1.90.0
  lib/framework/src/config/provider/http.rs
  rust-toolchain.toml
  src/sinks/jaeger/mod.rs
  src/sources/systemd/dbus.rs
Labels: sources, sinks

add prometheus (customSmallerIsBetter) benchmark result for 8ea3ca47e2aee57b2806eb4e749415ecd717cd40
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8ea3ca47e2aee57b2806eb4e749415ecd717cd40
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8ea3ca47e2aee57b2806eb4e749415ecd717cd40
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8ea3ca47e2aee57b2806eb4e749415ecd717cd40
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for fe916bb29d593111341be59b2b7b26ca5e5ced18
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for fe916bb29d593111341be59b2b7b26ca5e5ced18
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for fe916bb29d593111341be59b2b7b26ca5e5ced18
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for fe916bb29d593111341be59b2b7b26ca5e5ced18
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8ea3ca47e2aee57b2806eb4e749415ecd717cd40
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8ea3ca47e2aee57b2806eb4e749415ecd717cd40
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for fe916bb29d593111341be59b2b7b26ca5e5ced18
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fe916bb29d593111341be59b2b7b26ca5e5ced18
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 689120be00e377b66003066ff4d4f52dd23c1536
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 689120be00e377b66003066ff4d4f52dd23c1536
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 689120be00e377b66003066ff4d4f52dd23c1536
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e12697583e7eca72a9a93e2d610f4bf033e7b1fb
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e12697583e7eca72a9a93e2d610f4bf033e7b1fb
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e12697583e7eca72a9a93e2d610f4bf033e7b1fb
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 689120be00e377b66003066ff4d4f52dd23c1536
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e12697583e7eca72a9a93e2d610f4bf033e7b1fb
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 689120be00e377b66003066ff4d4f52dd23c1536
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e12697583e7eca72a9a93e2d610f4bf033e7b1fb
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 689120be00e377b66003066ff4d4f52dd23c1536
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e12697583e7eca72a9a93e2d610f4bf033e7b1fb
  bench/data.js
Labels: none

lib/resolver support windows
  Cargo.lock
  lib/resolver/Cargo.toml
  lib/resolver/src/config/mod.rs
  lib/resolver/src/config/unix.rs
  lib/resolver/src/config/windows.rs
  lib/resolver/src/hosts.rs
  lib/resolver/src/lib.rs
  lib/resolver/src/resolver.rs
  src/sources/dnsmasq/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 3653a7977185cfff1492cabb4a35ba0eac52f8ed
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3653a7977185cfff1492cabb4a35ba0eac52f8ed
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3653a7977185cfff1492cabb4a35ba0eac52f8ed
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 3653a7977185cfff1492cabb4a35ba0eac52f8ed
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3653a7977185cfff1492cabb4a35ba0eac52f8ed
  bench/data.js
Labels: none
