Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

remove rustup in the cargo-cross setup step
  ci/prepare.sh
Labels: CI

add Build (customSmallerIsBetter) benchmark result for bc0ed79a5ef48e072de87d4da3344a5b22fc2671
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 4e8f3f7d02e236387bb83dd81d93457d78fb2dcd
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 4e8f3f7d02e236387bb83dd81d93457d78fb2dcd
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 7b39e488a490aeaa11fd0e256d31e318fb653f67
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7b39e488a490aeaa11fd0e256d31e318fb653f67
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 4e8f3f7d02e236387bb83dd81d93457d78fb2dcd
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7b39e488a490aeaa11fd0e256d31e318fb653f67
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7b39e488a490aeaa11fd0e256d31e318fb653f67
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 4e8f3f7d02e236387bb83dd81d93457d78fb2dcd
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 4e8f3f7d02e236387bb83dd81d93457d78fb2dcd
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7b39e488a490aeaa11fd0e256d31e318fb653f67
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 56e9191ed9362438836cb1c97d93e9ed32cf5143
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 4e8f3f7d02e236387bb83dd81d93457d78fb2dcd
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 56e9191ed9362438836cb1c97d93e9ed32cf5143
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7b39e488a490aeaa11fd0e256d31e318fb653f67
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 56e9191ed9362438836cb1c97d93e9ed32cf5143
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 56e9191ed9362438836cb1c97d93e9ed32cf5143
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 56e9191ed9362438836cb1c97d93e9ed32cf5143
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 56e9191ed9362438836cb1c97d93e9ed32cf5143
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f6f226722ead238b2557c1c2b51dcaf0690dac29
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f6f226722ead238b2557c1c2b51dcaf0690dac29
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f6f226722ead238b2557c1c2b51dcaf0690dac29
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f6f226722ead238b2557c1c2b51dcaf0690dac29
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f6f226722ead238b2557c1c2b51dcaf0690dac29
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f6f226722ead238b2557c1c2b51dcaf0690dac29
  bench/data.js
Labels: none

fix ipv6 lookup's RecordType
  lib/resolver/src/resolver.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8616728c027e0493db1e3295dca4f6c3e90b65a2
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8616728c027e0493db1e3295dca4f6c3e90b65a2
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8616728c027e0493db1e3295dca4f6c3e90b65a2
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8616728c027e0493db1e3295dca4f6c3e90b65a2
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8616728c027e0493db1e3295dca4f6c3e90b65a2
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8616728c027e0493db1e3295dca4f6c3e90b65a2
  bench/data.js
Labels: none

remove unnecessary bool
  lib/resolver/src/resolver.rs
  lib/resolver/src/singleflight.rs
Labels: none

lib/typesize init
  Cargo.lock
  Cargo.toml
  lib/bytesize/src/external/bytes.rs
  lib/bytesize/src/external/mod.rs
  lib/bytesize/src/external/value.rs
  lib/bytesize/src/lib.rs
  lib/event/Cargo.toml
  lib/event/src/array.rs
  lib/event/src/buffer.rs
  lib/event/src/lib.rs
  lib/event/src/log/mod.rs
  lib/event/src/metadata.rs
  lib/event/src/metric/mod.rs
  lib/event/src/tags/key.rs
  lib/event/src/tags/mod.rs
  lib/event/src/trace/evicted_hash_map.rs
  lib/event/src/trace/evicted_queue.rs
  lib/event/src/trace/mod.rs
  lib/event/src/trace/span.rs
  lib/finalize/Cargo.toml
  lib/finalize/src/finalization.rs
  lib/framework/Cargo.toml
  lib/framework/src/metrics.rs
  lib/framework/src/pipeline/mod.rs
  lib/framework/src/sink/buffer/partition.rs
  lib/framework/src/sink/builder.rs
  lib/framework/src/sink/http.rs
  lib/framework/src/stream/batcher/limiter.rs
  lib/framework/src/stream/partitioned_batcher.rs
  lib/framework/src/topology/builder.rs
  lib/framework/src/transform.rs
  lib/typesize/Cargo.toml
  lib/typesize/src/lib.rs
  src/sinks/elasticsearch/encoder.rs
  src/sinks/elasticsearch/request_builder.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/elasticsearch/sink.rs
  src/sinks/loki/request_builder.rs
  src/sinks/loki/sink.rs
Labels: sinks

add prometheus (customSmallerIsBetter) benchmark result for 1c7175f53f6dbc633aa7f6a00c5994a6168147d1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1c7175f53f6dbc633aa7f6a00c5994a6168147d1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1c7175f53f6dbc633aa7f6a00c5994a6168147d1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 1c7175f53f6dbc633aa7f6a00c5994a6168147d1
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
