Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add event (customSmallerIsBetter) benchmark result for f301428aa2b1fc039a305d0b9e90e2c6b55f28d1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f301428aa2b1fc039a305d0b9e90e2c6b55f28d1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f301428aa2b1fc039a305d0b9e90e2c6b55f28d1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f301428aa2b1fc039a305d0b9e90e2c6b55f28d1
  bench/data.js
Labels: none

bump libc to 0.2.170
  Cargo.toml
  lib/framework/Cargo.toml
  lib/hostname/Cargo.toml
  lib/sysinfo/Cargo.toml
Labels: none

remove `--nocapture` so integration tests will not compile multiple times
  Makefile
Labels: none

bump libc to 0.2.170 (#2222)
  Cargo.toml
  lib/framework/Cargo.toml
  lib/hostname/Cargo.toml
  lib/sysinfo/Cargo.toml
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 580fa69f2565594cf447f58cdd631e9bdd8eccc3
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 580fa69f2565594cf447f58cdd631e9bdd8eccc3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 580fa69f2565594cf447f58cdd631e9bdd8eccc3
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 580fa69f2565594cf447f58cdd631e9bdd8eccc3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 580fa69f2565594cf447f58cdd631e9bdd8eccc3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 580fa69f2565594cf447f58cdd631e9bdd8eccc3
  bench/data.js
Labels: none

remove `--nocapture` so integration tests will not compile multiple times (#2223)
  Makefile
Labels: none

add Build (customSmallerIsBetter) benchmark result for b101c4dc4eff15e9c7248db729407f4119e05a9f
  bench/data.js
Labels: none

bump rskafka to 0.6.0
  Cargo.lock
  Cargo.toml
Labels: none

deps: bump rskafka to 0.6.0 (#2224)
  Cargo.lock
  Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8b32ea0378c46ec3ec97e5e1509005630793e354
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8b32ea0378c46ec3ec97e5e1509005630793e354
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8b32ea0378c46ec3ec97e5e1509005630793e354
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8b32ea0378c46ec3ec97e5e1509005630793e354
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8b32ea0378c46ec3ec97e5e1509005630793e354
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8b32ea0378c46ec3ec97e5e1509005630793e354
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 06220ed65b3eac66cf501e2afd12b5f859208b31
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 06220ed65b3eac66cf501e2afd12b5f859208b31
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 06220ed65b3eac66cf501e2afd12b5f859208b31
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 06220ed65b3eac66cf501e2afd12b5f859208b31
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 06220ed65b3eac66cf501e2afd12b5f859208b31
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 06220ed65b3eac66cf501e2afd12b5f859208b31
  bench/data.js
Labels: none

fix integration tests
  Cargo.toml
  Makefile
  build.rs
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
  lib/testify/src/wait.rs
  src/sinks/clickhouse/integration_tests.rs
  src/sinks/clickhouse/mod.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/kafka/tests.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/loki.proto
  src/sinks/prometheus_remote_write.rs
  src/sources/clickhouse_metrics.rs
  src/sources/consul/integration_test.rs
  src/sources/consul/integration_tests.rs
  src/sources/consul/mod.rs
  src/sources/dnstap/mod.rs
  src/sources/fluent/mod.rs
  src/sources/haproxy.rs
  src/sources/http.rs
  src/sources/memcached.rs
  src/sources/mysqld/integration_tests.rs
  src/sources/mysqld/mod.rs
  src/sources/nginx_stub.rs
  src/sources/redis/mod.rs
  src/sources/zookeeper.rs
  src/testing/container.rs
  src/testing/mod.rs
  src/testing/wait.rs
Labels: sources, sinks

fix integration tests (#2226)
  Cargo.toml
  Makefile
  build.rs
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
  lib/testify/src/wait.rs
  src/sinks/clickhouse/integration_tests.rs
  src/sinks/clickhouse/mod.rs
  src/sinks/elasticsearch/mod.rs
  src/sinks/kafka/tests.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/loki.proto
  src/sinks/prometheus_remote_write.rs
  src/sources/clickhouse_metrics.rs
  src/sources/consul/integration_test.rs
  src/sources/consul/integration_tests.rs
  src/sources/consul/mod.rs
  src/sources/dnstap/mod.rs
  src/sources/fluent/mod.rs
  src/sources/haproxy.rs
  src/sources/http.rs
  src/sources/memcached.rs
  src/sources/mysqld/integration_tests.rs
  src/sources/mysqld/mod.rs
  src/sources/nginx_stub.rs
  src/sources/redis/mod.rs
  src/sources/zookeeper.rs
  src/testing/container.rs
  src/testing/mod.rs
  src/testing/wait.rs
Labels: sources, sinks

add prometheus (customSmallerIsBetter) benchmark result for 014e1f6440a6d0881c0c99375c1ba1018ed4cc3c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 014e1f6440a6d0881c0c99375c1ba1018ed4cc3c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 014e1f6440a6d0881c0c99375c1ba1018ed4cc3c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 014e1f6440a6d0881c0c99375c1ba1018ed4cc3c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 014e1f6440a6d0881c0c99375c1ba1018ed4cc3c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 014e1f6440a6d0881c0c99375c1ba1018ed4cc3c
  bench/data.js
Labels: none

fix integration tests
  src/sources/mysqld/integration_tests.rs
Labels: sources

fix integration tests (#2229)
  src/sources/mysqld/integration_tests.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for ad29fbded12afd21296a4c38f726bafd34c738f8
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
