Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

deprecate futures::{ready, pin_mut}
  lib/framework/src/http/proxy/tunnel.rs
  lib/framework/src/sink/retries.rs
  lib/framework/src/stream/driver.rs
  lib/framework/src/tls/incoming.rs
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8b17df7559adf6a94efe700be6961573fa4fb7c6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fafc003e9820787f1580906c8a8b98219c36a88e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b7effc6878b5aee60c445ed0f6a0c858d81070fe
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 50b7f710ca0d06b5b55a3857a52d4fd9ebfc41d1
  bench/data.js
Labels: none

add swap metrics
  src/sources/node/error.rs
  src/sources/node/mod.rs
  src/sources/node/swap.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for d725897a9532486f9c98f63838c2d9382364c43e
  bench/data.js
Labels: none

fix some value and tags
  src/sources/node/btrfs.rs
  src/sources/node/diskstats.rs
  src/sources/node/dmi.rs
  src/sources/node/hwmon.rs
  src/sources/node/mod.rs
  src/sources/node/netclass.rs
  src/sources/node/nvme.rs
  src/sources/node/os_release.rs
  src/sources/node/sockstat.rs
  src/sources/node/stat.rs
  src/sources/node/tcpstat.rs
  src/sources/node/timex.rs
Labels: sources

fix some value and tags
  src/sources/node/arp.rs
  src/sources/node/bcache.rs
  src/sources/node/btrfs.rs
  src/sources/node/cpu.rs
  src/sources/node/diskstats.rs
  src/sources/node/dmi.rs
  src/sources/node/entropy.rs
  src/sources/node/fibrechannel.rs
  src/sources/node/filesystem.rs
  src/sources/node/hwmon.rs
  src/sources/node/infiniband.rs
  src/sources/node/ipvs.rs
  src/sources/node/loadavg.rs
  src/sources/node/mdadm.rs
  src/sources/node/meminfo.rs
  src/sources/node/mod.rs
  src/sources/node/netclass.rs
  src/sources/node/netdev.rs
  src/sources/node/nfs.rs
  src/sources/node/nfsd.rs
  src/sources/node/nvme.rs
  src/sources/node/os_release.rs
  src/sources/node/powersupplyclass.rs
  src/sources/node/rapl.rs
  src/sources/node/sockstat.rs
  src/sources/node/stat.rs
  src/sources/node/tapestats.rs
  src/sources/node/tcpstat.rs
  src/sources/node/thermal_zone.rs
  src/sources/node/timex.rs
  src/sources/node/udp_queues.rs
  src/sources/node/xfs.rs
  src/sources/node/zfs.rs
Labels: sources

remove unused test & rename test name
  examples/node_exporter_alternative.yml
  src/sources/node/hwmon.rs
Labels: sources

fix tests
  src/sources/node/nfs.rs
  src/sources/node/nfsd.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for 418bb1a2aa561c76453aae716d76e27748b4c308
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d7cbc28ad5309500d5f85bea399800a584c2049c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for dda69f2ed2676a25d52cf825a35bdc47943ec71a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ea6afab7040b479e0c98a025763b4a1f66519fc0
  bench/data.js
Labels: none

remove test path
  examples/node_exporter_alternative.yml
Labels: none

remove sensitive data
  src/sources/audit/parse.rs
Labels: sources

add audit test config
  examples/audit.yml
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2b978009e33d814d109fb9cc52a38e1df963c5ef
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0f8ed9499f4d0b872ddcb2390bc5fe9d8c760657
  bench/data.js
Labels: none

use Cow<'static, str> for metric name and description
  lib/event/src/buffer.rs
  lib/event/src/metric/mod.rs
  lib/framework/src/sink/buffer/metrics.rs
  lib/typesize/src/lib.rs
  src/common/prometheus.rs
  src/common/vtl.rs
  src/sinks/influxdb/encoder.rs
  src/sinks/prometheus_exporter.rs
  src/sinks/prometheus_remote_write.rs
  src/sources/dpdk.rs
  src/sources/nvidia.rs
  src/sources/prometheus_remote_write.rs
  src/sources/redfish/mod.rs
  src/sources/redis/info.rs
  src/sources/static_metrics.rs
  src/sources/zookeeper.rs
  src/transforms/cardinality.rs
  src/transforms/metricalize.rs
Labels: sources, transforms, sinks

add Build (customSmallerIsBetter) benchmark result for b144e98f8c17907658a8d0fc15a1c2c162205cf6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a41c274695dfeedf3c3d2321b8eee10f3efdba14
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d844bf104cd85a31afd27114d4639f98c0121390
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d844bf104cd85a31afd27114d4639f98c0121390
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d844bf104cd85a31afd27114d4639f98c0121390
  bench/data.js
Labels: none

remove unnecessary async function
  src/sources/node/btrfs.rs
Labels: sources

simplify macro `record_gather`
  src/sources/node/mod.rs
Labels: sources

fix power supply description
  src/sources/node/powersupplyclass.rs
Labels: sources

add tracked_allocator
  src/common/tracked_allocator.rs
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2e8b6f7f4114f221fe38c4692ee0ed40e67000f9
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 70f39556047be4fdd8459b833e45ad9308d22b74
  bench/data.js
Labels: none

fix metrics values
  src/sources/node/filesystem.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for 238564b9547cdf0e0174651ea599cc9601f8d6cb
  bench/data.js
Labels: none

simplify metric writing
  src/sinks/prometheus_exporter.rs
Labels: sinks

fix const_labels writing
  src/sinks/prometheus_exporter.rs
Labels: sinks

add Build (customSmallerIsBetter) benchmark result for e0691b632d245055cb2c9248778b148a6dd2396d
  bench/data.js
Labels: none

use Cow<'static, str> for Endpoint's typ field
  lib/framework/src/observe/endpoint.rs
  lib/framework/src/observe/observer.rs
  src/extensions/consul_observer.rs
  src/extensions/dns_observer.rs
  src/extensions/docker_observer.rs
  src/extensions/host_observer.rs
  src/extensions/kubernetes_observer/ingress.rs
  src/extensions/kubernetes_observer/pod.rs
  src/extensions/kubernetes_observer/service.rs
  src/sources/multiplier/interpolate.rs
  src/sources/multiplier/mod.rs
Labels: sources, extensions

add Build (customSmallerIsBetter) benchmark result for e98fa122fb7fff7c0e9d8c2709ccc8c78f33babb
  bench/data.js
Labels: none
