Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add vertex (customSmallerIsBetter) benchmark result for e210e63e2380a4f2b3d1fc5276a52b60095c0ad4
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e210e63e2380a4f2b3d1fc5276a52b60095c0ad4
  bench/data.js
Labels: none

add extensions/dns_observer
  Cargo.lock
  Cargo.toml
  src/extensions/dns_observer.rs
  src/extensions/mod.rs
Labels: extensions

fix generate_config test
  src/extensions/dns_observer.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 237dd4975ea0aef284c20e3a73796af1f1603a3b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 237dd4975ea0aef284c20e3a73796af1f1603a3b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 237dd4975ea0aef284c20e3a73796af1f1603a3b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 237dd4975ea0aef284c20e3a73796af1f1603a3b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 237dd4975ea0aef284c20e3a73796af1f1603a3b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 237dd4975ea0aef284c20e3a73796af1f1603a3b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 79614ef34bae402fae5d4917a71b70faf4c69faf
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 79614ef34bae402fae5d4917a71b70faf4c69faf
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 79614ef34bae402fae5d4917a71b70faf4c69faf
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 79614ef34bae402fae5d4917a71b70faf4c69faf
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 79614ef34bae402fae5d4917a71b70faf4c69faf
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 79614ef34bae402fae5d4917a71b70faf4c69faf
  bench/data.js
Labels: none

add lib/kubernetes
  lib/kubernetes/Cargo.toml
  lib/kubernetes/README.md
  lib/kubernetes/examples/watch_pod.rs
  lib/kubernetes/src/client.rs
  lib/kubernetes/src/config/file.rs
  lib/kubernetes/src/config/incluster.rs
  lib/kubernetes/src/config/mod.rs
  lib/kubernetes/src/config/tls.rs
  lib/kubernetes/src/lib.rs
  lib/kubernetes/src/resource/endpoint_slice.rs
  lib/kubernetes/src/resource/endpoints.rs
  lib/kubernetes/src/resource/event.rs
  lib/kubernetes/src/resource/ingress.rs
  lib/kubernetes/src/resource/metadata.rs
  lib/kubernetes/src/resource/mod.rs
  lib/kubernetes/src/resource/node.rs
  lib/kubernetes/src/resource/pod.rs
  lib/kubernetes/src/resource/service.rs
  lib/kubernetes/src/version.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 7e5d38b49dfa24395d1867468702bb13f0db250c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7e5d38b49dfa24395d1867468702bb13f0db250c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7e5d38b49dfa24395d1867468702bb13f0db250c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7e5d38b49dfa24395d1867468702bb13f0db250c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7e5d38b49dfa24395d1867468702bb13f0db250c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7e5d38b49dfa24395d1867468702bb13f0db250c
  bench/data.js
Labels: none

bump to 1.85.1
  rust-toolchain.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 98577473566baa65bb0fe1ee1d4ae1fe4445620f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 98577473566baa65bb0fe1ee1d4ae1fe4445620f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 98577473566baa65bb0fe1ee1d4ae1fe4445620f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 98577473566baa65bb0fe1ee1d4ae1fe4445620f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a1b49ed48a15b7c94d84f949757e2a766f26c059
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 98577473566baa65bb0fe1ee1d4ae1fe4445620f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 98577473566baa65bb0fe1ee1d4ae1fe4445620f
  bench/data.js
Labels: none

add extensions/kubernetes_observer
  Cargo.lock
  Cargo.toml
  lib/framework/src/observe/mod.rs
  lib/framework/src/observe/observer.rs
  lib/kubernetes/Cargo.toml
  lib/kubernetes/README.md
  lib/kubernetes/examples/watch_pod.rs
  lib/kubernetes/src/client.rs
  lib/kubernetes/src/config/mod.rs
  lib/kubernetes/src/lib.rs
  lib/kubernetes/src/resource.rs
  lib/kubernetes/src/resource/mod.rs
  lib/value/src/lib.rs
  lib/vtl/src/compiler/function/flatten.rs
  src/extensions/consul_observer.rs
  src/extensions/kubernetes_observer/endpoint_slice.rs
  src/extensions/kubernetes_observer/endpoints.rs
  src/extensions/kubernetes_observer/ingress.rs
  src/extensions/kubernetes_observer/mod.rs
  src/extensions/kubernetes_observer/node.rs
  src/extensions/kubernetes_observer/pod.rs
  src/extensions/kubernetes_observer/service.rs
  src/extensions/mod.rs
  src/extensions/zpages/mod.rs
  src/sources/kubernetes_events/event.rs
  src/sources/multiplier/interpolate.rs
  src/sources/multiplier/mod.rs
Labels: sources, extensions, VTL

add metrics (customSmallerIsBetter) benchmark result for d6ea9c2abd2394e20c87c8ed0135eecc4f89e794
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d6ea9c2abd2394e20c87c8ed0135eecc4f89e794
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d6ea9c2abd2394e20c87c8ed0135eecc4f89e794
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d6ea9c2abd2394e20c87c8ed0135eecc4f89e794
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d6ea9c2abd2394e20c87c8ed0135eecc4f89e794
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d6ea9c2abd2394e20c87c8ed0135eecc4f89e794
  bench/data.js
Labels: none

remove kube-rs
  Cargo.lock
  Cargo.toml
  lib/kubernetes/Cargo.toml
  lib/kubernetes/README.md
  lib/kubernetes/examples/list_watch.rs
  lib/kubernetes/examples/streaming_watch.rs
  lib/kubernetes/examples/watch_pod.rs
  lib/kubernetes/src/client.rs
  lib/kubernetes/src/lib.rs
  lib/kubernetes/src/resource.rs
  lib/kubernetes/src/version.rs
  src/extensions/kubernetes_observer/mod.rs
  src/sources/kubernetes_events/event.rs
  src/sources/kubernetes_events/mod.rs
  src/sources/kubernetes_logs/annotator.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/pod.rs
  src/sources/kubernetes_logs/provider.rs
  src/sources/kubernetes_logs/reflector.rs
  src/sources/kubernetes_logs/store.rs
Labels: sources, extensions

remove unused
  lib/kubernetes/src/config/mod.rs
  src/sources/kubernetes_events/event.rs
Labels: sources

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
