Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add tracing-limit (customSmallerIsBetter) benchmark result for 3ac4816c02724e0de8a2a9fd289c84d5d1c7fae7
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3ac4816c02724e0de8a2a9fd289c84d5d1c7fae7
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3ac4816c02724e0de8a2a9fd289c84d5d1c7fae7
  bench/data.js
Labels: none

sources/bind: support multiple endpoints; add json v1 and remove xml v2
  src/common/mod.rs
  src/common/offset.rs
  src/sources/bind/client/mod.rs
  src/sources/bind/client/v2.rs
  src/sources/bind/json.rs
  src/sources/bind/mod.rs
  src/sources/bind/tests.rs
  src/sources/bind/xml.rs
  tests/bind/json/v1/server.json
  tests/bind/json/v1/status.json
  tests/bind/json/v1/tasks.json
  tests/bind/json/v1/zones.json
  tests/bind/v2.xml
  tests/bind/xml/v3/server.xml
  tests/bind/xml/v3/status.xml
  tests/bind/xml/v3/tasks.xml
  tests/bind/xml/v3/zones.xml
Labels: sources, tests

fix common::offset
  src/sources/http_check.rs
  src/sources/prometheus_scrape.rs
Labels: sources

fix tests
  src/sources/bind/json.rs
  src/sources/bind/mod.rs
  src/sources/bind/xml.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 328fd09af0c250a02e5becde67287bdc075046ff
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 328fd09af0c250a02e5becde67287bdc075046ff
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 328fd09af0c250a02e5becde67287bdc075046ff
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 328fd09af0c250a02e5becde67287bdc075046ff
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 328fd09af0c250a02e5becde67287bdc075046ff
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 328fd09af0c250a02e5becde67287bdc075046ff
  bench/data.js
Labels: none

support multiple endpoints
  src/sources/redis/mod.rs
Labels: sources

introduce `Auth` to simplify
  src/sources/redis/mod.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for 68bc8a665d317fc39d7a91f9ad728af26e75e905
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 68bc8a665d317fc39d7a91f9ad728af26e75e905
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 68bc8a665d317fc39d7a91f9ad728af26e75e905
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 68bc8a665d317fc39d7a91f9ad728af26e75e905
  bench/data.js
Labels: none

fix required value of non-attributes field
  lib/configurable-derive/src/configurable.rs
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 68bc8a665d317fc39d7a91f9ad728af26e75e905
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 68bc8a665d317fc39d7a91f9ad728af26e75e905
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for a4605316f767baa91cded5319976e16a94bf4d2c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for a4605316f767baa91cded5319976e16a94bf4d2c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for a4605316f767baa91cded5319976e16a94bf4d2c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for a4605316f767baa91cded5319976e16a94bf4d2c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for a4605316f767baa91cded5319976e16a94bf4d2c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a4605316f767baa91cded5319976e16a94bf4d2c
  bench/data.js
Labels: none

add `alloc` feature to serde
  lib/event/Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 501b5d3307f340a1e7c34865ce778cda27e9ed58
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 501b5d3307f340a1e7c34865ce778cda27e9ed58
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 501b5d3307f340a1e7c34865ce778cda27e9ed58
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 501b5d3307f340a1e7c34865ce778cda27e9ed58
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 501b5d3307f340a1e7c34865ce778cda27e9ed58
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 501b5d3307f340a1e7c34865ce778cda27e9ed58
  bench/data.js
Labels: none

support multiple endpoints
  src/sources/zookeeper.rs
Labels: sources

fix fallible
  lib/vtl/src/compiler/function/get.rs
Labels: VTL

return set value
  lib/vtl/src/compiler/function/set.rs
Labels: VTL

add metrics (customSmallerIsBetter) benchmark result for 3e0579ddb22e6e02817a0ee679508e6093e3aca9
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 3e0579ddb22e6e02817a0ee679508e6093e3aca9
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3e0579ddb22e6e02817a0ee679508e6093e3aca9
  bench/data.js
Labels: none
