Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add Build (customSmallerIsBetter) benchmark result for fd51301ec12114887202ec45995a714d17960016
  bench/data.js
Labels: none

optimize tokio::select!
  lib/framework/src/http/serve.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/source/unix.rs
  lib/framework/src/topology/builder.rs
  src/sinks/kafka/service.rs
  src/sources/dnstap/unix.rs
  src/sources/elasticsearch/mod.rs
  src/sources/filestats.rs
  src/sources/jaeger/mod.rs
  src/sources/jaeger/udp.rs
  src/sources/mqtt/mod.rs
  src/sources/multiplier/mod.rs
  src/sources/ping.rs
  src/sources/redfish/mod.rs
  src/sources/sflow/mod.rs
  src/testing/components.rs
Labels: sources, sinks

add Build (customSmallerIsBetter) benchmark result for 9834289168e7937e85cfbe9cee8ec84824f3848d
  bench/data.js
Labels: none

cleanup filestats.yml example
  examples/filestats.yml
Labels: none

add Build (customSmallerIsBetter) benchmark result for c68fd55dce9fbd6c9541d4ef0d08f0ef3fc7ed12
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3f4884e37b94dc293223d06b30bfc1ff27c28e37
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2a79934e37fe41b365d7f833dc4fc51406bdb255
  bench/data.js
Labels: none

use std::task::ready
  lib/framework/src/http/proxy/rt.rs
  lib/framework/src/shutdown.rs
  lib/framework/src/sink/adaptive_concurrency/future.rs
  lib/framework/src/sink/adaptive_concurrency/semaphore.rs
  lib/framework/src/sink/adaptive_concurrency/service.rs
  lib/framework/src/sink/batch.rs
  lib/framework/src/sink/builder.rs
  lib/framework/src/sink/http.rs
  lib/framework/src/sink/net/mod.rs
  lib/framework/src/sink/net/udp.rs
  lib/framework/src/sink/vec.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/stream/batcher/mod.rs
  lib/framework/src/stream/concurrent_map.rs
  lib/framework/src/stream/partitioned_batcher.rs
  lib/framework/src/testing/counter_receiver.rs
  lib/framework/src/testing/stream.rs
  lib/framework/src/tls/incoming.rs
  lib/framework/src/topology/builder.rs
  lib/framework/src/trace.rs
  lib/framework/src/utilization.rs
Labels: none

fmt
  lib/framework/src/testing/stream.rs
Labels: none

add Build (customSmallerIsBetter) benchmark result for b1c961686da5c7b257299c3cdcff73b362dc1f55
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a925fc2eb40e6421203cffa8216b427887263aa0
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fd13242a0c9a73f328d2fe52e44f9faa7b3a779a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 35cce09ab1755a2a3abb4944f3aabf316622f3cc
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

add Build (customSmallerIsBetter) benchmark result for 6c88cb5db2a30114e8113ec58c87713b4937ba7e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 95944152fe208e5265a7b0cb5658560a98a79ac5
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 94f60dc62d7a473f105150050ceafc37c010c325
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5f1a5ec813600eb6ee1f526e224f819872782c34
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 83ea67cc4f0def846e27887946704ad87fbae15d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5ea2a123880fa36a9fec3a681d73cc57166990e2
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0bb0a08e2aa4974b315da3a7efe39b3df1833f29
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a15a870e1fc1a2d7aafff3501f8626574652a95e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 466b8fde3dabda79918417dff294d9295b396922
  bench/data.js
Labels: none

bump rand_distr to 0.6.0
  Cargo.lock
  lib/buffer/examples/bench.rs
  lib/buffer/src/disk/ledger.rs
  lib/buffer/src/disk/tests/mod.rs
  lib/buffer/src/tests.rs
  lib/framework/Cargo.toml
  lib/framework/src/pipeline/mod.rs
  lib/framework/src/sink/adaptive_concurrency/tests.rs
  lib/framework/src/trace.rs
  lib/tail/examples/generate.rs
  lib/testify/src/portpicker.rs
  lib/testify/src/random.rs
  src/sources/generate.rs
  src/sources/ping.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for 8babab5de2b248902f912f86a0173ba9d9279c3e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for eeb3db6ab2a29048e64404b6b1e7bddf7d1a7a29
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for bef4ff0cfbd63fdb9444cc9c97f67ee620e1cfa9
  bench/data.js
Labels: none

bump toolchain to 1.93.1
  rust-toolchain.toml
Labels: none

add Build (customSmallerIsBetter) benchmark result for 777f31e85d7a5d557bedd6a2990f60f063bc0162
  bench/data.js
Labels: none

fix container based integration tests
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
Labels: none

bump toolchain to 1.93.1
  rust-toolchain.toml
Labels: none

add Build (customSmallerIsBetter) benchmark result for d11040dcf9b8bed26f4212805d4f9a0e1af3ef52
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 941b74975245db266bb977f2d7ed526e70c56598
  bench/data.js
Labels: none

add kernel_hung
  src/sources/node/kernel_hung.rs
  src/sources/node/mod.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for 36e9a103a657a3f0edc59bf5f575a6b17daf98d3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ff85ca16c28d9e829435621bc66646a11ff38c10
  bench/data.js
Labels: none

add erofs to default exclude fs type
  src/sources/node/filesystem.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for f2c0a94fdfa895b903249f247a4a580b1898d59e
  bench/data.js
Labels: none

add systemd virtualization type
  src/sources/systemd/mod.rs
  src/sources/systemd/virtualization.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for 3f631cabb0c8f3bb0b9fed42d36cfb8b745d2c13
  bench/data.js
Labels: none
