Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add tracing-limit (customSmallerIsBetter) benchmark result for 0f2b2664ab6c46b7fd6ac6c19660b402e2635207
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c0498581f85f4d40671675933ce7e98c9a5b5fb8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c0498581f85f4d40671675933ce7e98c9a5b5fb8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c0498581f85f4d40671675933ce7e98c9a5b5fb8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0f2b2664ab6c46b7fd6ac6c19660b402e2635207
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 0f2b2664ab6c46b7fd6ac6c19660b402e2635207
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c0498581f85f4d40671675933ce7e98c9a5b5fb8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c0498581f85f4d40671675933ce7e98c9a5b5fb8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8a9376271292e93699825e781541438af2c898c2
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 965ff522922d932a6b0545feb03a4112ed5a1f02
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8a9376271292e93699825e781541438af2c898c2
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 965ff522922d932a6b0545feb03a4112ed5a1f02
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8a9376271292e93699825e781541438af2c898c2
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 965ff522922d932a6b0545feb03a4112ed5a1f02
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8a9376271292e93699825e781541438af2c898c2
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 965ff522922d932a6b0545feb03a4112ed5a1f02
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8a9376271292e93699825e781541438af2c898c2
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8a9376271292e93699825e781541438af2c898c2
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 965ff522922d932a6b0545feb03a4112ed5a1f02
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 965ff522922d932a6b0545feb03a4112ed5a1f02
  bench/data.js
Labels: none

format
  src/testing/container.rs
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 07831008c3aee36ec9a250e82879e7772560dc82
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 07831008c3aee36ec9a250e82879e7772560dc82
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 07831008c3aee36ec9a250e82879e7772560dc82
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 07831008c3aee36ec9a250e82879e7772560dc82
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 07831008c3aee36ec9a250e82879e7772560dc82
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 07831008c3aee36ec9a250e82879e7772560dc82
  bench/data.js
Labels: none

fix tests
  src/sources/fluent/mod.rs
Labels: sources

fix tests
  src/sinks/loki/integration_tests.rs
  src/sinks/prometheus_remote_write.rs
  src/sources/clickhouse_metrics.rs
  src/sources/consul/integration_test.rs
  src/sources/fluent/mod.rs
  src/sources/haproxy.rs
  src/sources/memcached.rs
  src/sources/mysqld/integration_tests.rs
  src/sources/nginx_stub.rs
  src/sources/redis/mod.rs
  src/sources/zookeeper.rs
  src/testing/container.rs
  src/testing/wait.rs
Labels: sources, sinks

add prometheus (customSmallerIsBetter) benchmark result for d8cf2b617f313c610835aa29c9c3da0a0a27b1dd
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d8cf2b617f313c610835aa29c9c3da0a0a27b1dd
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d8cf2b617f313c610835aa29c9c3da0a0a27b1dd
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d8cf2b617f313c610835aa29c9c3da0a0a27b1dd
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d8cf2b617f313c610835aa29c9c3da0a0a27b1dd
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d8cf2b617f313c610835aa29c9c3da0a0a27b1dd
  bench/data.js
Labels: none

implement UdpSource with events
  lib/framework/src/source/udp.rs
  src/sources/netflow/mod.rs
  src/sources/sflow/mod.rs
Labels: sources

implement UdpSource with events (#2143)
  lib/framework/src/source/udp.rs
  src/sources/netflow/mod.rs
  src/sources/sflow/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 6ff6ad3de78376ba1b5e773c7a05bc957266eba3
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 6ff6ad3de78376ba1b5e773c7a05bc957266eba3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 6ff6ad3de78376ba1b5e773c7a05bc957266eba3
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
