Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

bump headers to 0.4.1
  Cargo.toml
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5776d3cc6a4336d4798ed7a23421f55f3268eeea
  bench/data.js
Labels: none

remove tokio-stream
  Cargo.lock
  Cargo.toml
  src/launch.rs
Labels: none

add Build (customSmallerIsBetter) benchmark result for e06409df4ae2d950672ac9fc44728c0f0dee1d8f
  bench/data.js
Labels: none

add tests
  src/extensions/healthcheck/grpc.rs
  src/extensions/healthcheck/http.rs
Labels: extensions

style
  src/extensions/healthcheck/grpc.rs
  src/extensions/healthcheck/http.rs
Labels: extensions

add Build (customSmallerIsBetter) benchmark result for 35047b0670606d8898382eb34979719733d19f34
  bench/data.js
Labels: none

fix bench
  Makefile
Labels: none

cargo update
  Cargo.lock
Labels: none

add Build (customSmallerIsBetter) benchmark result for a2504859a52eaa07446679e22c35ff3843552d71
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c6ceac81018a129bcea818984d170aed5746a15a
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c6ceac81018a129bcea818984d170aed5746a15a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c6ceac81018a129bcea818984d170aed5746a15a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c6ceac81018a129bcea818984d170aed5746a15a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c6ceac81018a129bcea818984d170aed5746a15a
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for dd6937d8f6374af051865fa4692ae058cb800187
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for dd6937d8f6374af051865fa4692ae058cb800187
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for dd6937d8f6374af051865fa4692ae058cb800187
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for dd6937d8f6374af051865fa4692ae058cb800187
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for dd6937d8f6374af051865fa4692ae058cb800187
  bench/data.js
Labels: none

fix vertex bench
  Makefile
Labels: none

add Build (customSmallerIsBetter) benchmark result for ad5a00ed1841fb5906adc969bb09b5272393cf0d
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for ef86afff44554dc3626c13139bbe070a080f65cc
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ef86afff44554dc3626c13139bbe070a080f65cc
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ef86afff44554dc3626c13139bbe070a080f65cc
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ef86afff44554dc3626c13139bbe070a080f65cc
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ef86afff44554dc3626c13139bbe070a080f65cc
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ef86afff44554dc3626c13139bbe070a080f65cc
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 3a8a5f55c31e53bf53bbdcf5d380289cf8585550
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3a8a5f55c31e53bf53bbdcf5d380289cf8585550
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3a8a5f55c31e53bf53bbdcf5d380289cf8585550
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 3a8a5f55c31e53bf53bbdcf5d380289cf8585550
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3a8a5f55c31e53bf53bbdcf5d380289cf8585550
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3a8a5f55c31e53bf53bbdcf5d380289cf8585550
  bench/data.js
Labels: none

use distroless to reduce docker image size
  .github/workflows/nightly.yml
  Makefile
  distribution/docker/distroless-libc/Dockerfile
  distribution/docker/distroless/Dockerfile
Labels: CI

fix API `list`
  lib/framework/src/config/loading.rs
  lib/kubernetes/src/client.rs
  lib/kubernetes/src/config/incluster.rs
  lib/tail/src/checkpoint.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/node/diskstats.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for a85209ac700ef043295532b3ed9409c817c0dfc6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for a85209ac700ef043295532b3ed9409c817c0dfc6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for a85209ac700ef043295532b3ed9409c817c0dfc6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for a85209ac700ef043295532b3ed9409c817c0dfc6
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
