Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add event (customSmallerIsBetter) benchmark result for 7a29f401d1e8b49ee1e5cf555a334d6fd0b2a2f4
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7a29f401d1e8b49ee1e5cf555a334d6fd0b2a2f4
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7a29f401d1e8b49ee1e5cf555a334d6fd0b2a2f4
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7a29f401d1e8b49ee1e5cf555a334d6fd0b2a2f4
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 9eefa68c59db5a3764383ed2571877f398206f23
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 9eefa68c59db5a3764383ed2571877f398206f23
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 9eefa68c59db5a3764383ed2571877f398206f23
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 9eefa68c59db5a3764383ed2571877f398206f23
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 9eefa68c59db5a3764383ed2571877f398206f23
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9eefa68c59db5a3764383ed2571877f398206f23
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 80e44d5e591ccb72a3e50eb7b593b293c853af98
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 80e44d5e591ccb72a3e50eb7b593b293c853af98
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 80e44d5e591ccb72a3e50eb7b593b293c853af98
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 80e44d5e591ccb72a3e50eb7b593b293c853af98
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 80e44d5e591ccb72a3e50eb7b593b293c853af98
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 80e44d5e591ccb72a3e50eb7b593b293c853af98
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 363b2138368c5f72c62c4dfc56e8b23ea151dacd
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 363b2138368c5f72c62c4dfc56e8b23ea151dacd
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 363b2138368c5f72c62c4dfc56e8b23ea151dacd
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 363b2138368c5f72c62c4dfc56e8b23ea151dacd
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 363b2138368c5f72c62c4dfc56e8b23ea151dacd
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 363b2138368c5f72c62c4dfc56e8b23ea151dacd
  bench/data.js
Labels: none

add sources/nats_metrics
  src/sources/mod.rs
  src/sources/nats_metrics/accstatz.rs
  src/sources/nats_metrics/connz.rs
  src/sources/nats_metrics/gatewayz.rs
  src/sources/nats_metrics/healthz.rs
  src/sources/nats_metrics/jsz.rs
  src/sources/nats_metrics/leafz.rs
  src/sources/nats_metrics/mod.rs
  src/sources/nats_metrics/routez.rs
  src/sources/nats_metrics/varz.rs
  tests/nats/docker-compose.yaml
  tests/nats/stats/accstatz.json
  tests/nats/stats/connz.json
  tests/nats/stats/gatewayz.json
  tests/nats/stats/healthz.json
  tests/nats/stats/jsz.json
  tests/nats/stats/jsz_accounts.json
  tests/nats/stats/jsz_consumers.json
  tests/nats/stats/leafz.json
  tests/nats/stats/routez.json
  tests/nats/stats/subsz.json
  tests/nats/stats/varz.json
Labels: sources, tests

add sources/nats_metrics
  Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for dcba3a6849bad5d12764500256b5d5959a296cf6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for dcba3a6849bad5d12764500256b5d5959a296cf6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for dcba3a6849bad5d12764500256b5d5959a296cf6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for dcba3a6849bad5d12764500256b5d5959a296cf6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for dcba3a6849bad5d12764500256b5d5959a296cf6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for dcba3a6849bad5d12764500256b5d5959a296cf6
  bench/data.js
Labels: none

fix names
  src/sources/nats_metrics/accstatz.rs
  src/sources/nats_metrics/gatewayz.rs
  src/sources/nats_metrics/healthz.rs
  src/sources/nats_metrics/jsz.rs
  src/sources/nats_metrics/leafz.rs
  src/sources/nats_metrics/mod.rs
  src/sources/nats_metrics/routez.rs
  src/sources/nats_metrics/varz.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 14d5b7ee6710fa5d0895b6f3d854a32a395e322b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 14d5b7ee6710fa5d0895b6f3d854a32a395e322b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 14d5b7ee6710fa5d0895b6f3d854a32a395e322b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 14d5b7ee6710fa5d0895b6f3d854a32a395e322b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 14d5b7ee6710fa5d0895b6f3d854a32a395e322b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 14d5b7ee6710fa5d0895b6f3d854a32a395e322b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 3ac4816c02724e0de8a2a9fd289c84d5d1c7fae7
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3ac4816c02724e0de8a2a9fd289c84d5d1c7fae7
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3ac4816c02724e0de8a2a9fd289c84d5d1c7fae7
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
