Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add tracing-limit (customSmallerIsBetter) benchmark result for fc301837664e738bc24f53cc4306644d421f4b63
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f0b73852317acdcd2f3acbafde08a8586bf46a48
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for fc301837664e738bc24f53cc4306644d421f4b63
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f0b73852317acdcd2f3acbafde08a8586bf46a48
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fc301837664e738bc24f53cc4306644d421f4b63
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f0b73852317acdcd2f3acbafde08a8586bf46a48
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for ee4c559592996ecfb820bccfaf0fe4fe7d5611f7
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ee4c559592996ecfb820bccfaf0fe4fe7d5611f7
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ee4c559592996ecfb820bccfaf0fe4fe7d5611f7
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ee4c559592996ecfb820bccfaf0fe4fe7d5611f7
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ee4c559592996ecfb820bccfaf0fe4fe7d5611f7
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ee4c559592996ecfb820bccfaf0fe4fe7d5611f7
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 9d3641ccdc2037e489bc8ae3897fea738aaff362
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 9d3641ccdc2037e489bc8ae3897fea738aaff362
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 2816c661164693466d775542c484ccaebd14d3b1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 2816c661164693466d775542c484ccaebd14d3b1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 9d3641ccdc2037e489bc8ae3897fea738aaff362
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 2816c661164693466d775542c484ccaebd14d3b1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 9d3641ccdc2037e489bc8ae3897fea738aaff362
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 2816c661164693466d775542c484ccaebd14d3b1
  bench/data.js
Labels: none

bump glob to 0.3.3
  Cargo.toml
  lib/framework/Cargo.toml
  lib/vtl/Cargo.toml
Labels: VTL

add vertex (customSmallerIsBetter) benchmark result for 2816c661164693466d775542c484ccaebd14d3b1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9d3641ccdc2037e489bc8ae3897fea738aaff362
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 9d3641ccdc2037e489bc8ae3897fea738aaff362
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2816c661164693466d775542c484ccaebd14d3b1
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 10890cb5c20721f76f308149811f00daf3f2155e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 10890cb5c20721f76f308149811f00daf3f2155e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 10890cb5c20721f76f308149811f00daf3f2155e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 10890cb5c20721f76f308149811f00daf3f2155e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 10890cb5c20721f76f308149811f00daf3f2155e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 10890cb5c20721f76f308149811f00daf3f2155e
  bench/data.js
Labels: none

add sources/pulsar
  Cargo.lock
  Cargo.toml
  Makefile
  src/sources/mod.rs
  src/sources/pulsar.rs
  tests/pulsar/docker-compose.yaml
Labels: sources, tests

simplify
  lib/framework/src/topology/builder.rs
Labels: none

set default value for decoding
  src/sources/pulsar.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for d985bd3d87d7f67c10188f54182b3b37a7bad3c0
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d985bd3d87d7f67c10188f54182b3b37a7bad3c0
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8262ca41ad136965cef2601f6f4ec7fd472be10b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d985bd3d87d7f67c10188f54182b3b37a7bad3c0
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8262ca41ad136965cef2601f6f4ec7fd472be10b
  bench/data.js
Labels: none
