Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

force flush every 8MB
  lib/buffer/src/disk/writer.rs
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b4a0f0ef8fe4cd4327494b62b7b7579138a63f87
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b4a0f0ef8fe4cd4327494b62b7b7579138a63f87
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for b4a0f0ef8fe4cd4327494b62b7b7579138a63f87
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b4a0f0ef8fe4cd4327494b62b7b7579138a63f87
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b4a0f0ef8fe4cd4327494b62b7b7579138a63f87
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b4a0f0ef8fe4cd4327494b62b7b7579138a63f87
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d74bfde8d95dfddc0f855e8ab8cf7e6c22d04f36
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d74bfde8d95dfddc0f855e8ab8cf7e6c22d04f36
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d74bfde8d95dfddc0f855e8ab8cf7e6c22d04f36
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d74bfde8d95dfddc0f855e8ab8cf7e6c22d04f36
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d74bfde8d95dfddc0f855e8ab8cf7e6c22d04f36
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d74bfde8d95dfddc0f855e8ab8cf7e6c22d04f36
  bench/data.js
Labels: none

add information about building a small binary
  README.md
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9de7465a00858a5eb18e3e64ba581db59757a9ce
  bench/data.js
Labels: none

add `async-await` for futures
  lib/framework/Cargo.toml
Labels: none

update
  lib/framework/src/stream/driver.rs
  lib/framework/src/stream/futures_unordered_chunked.rs
  lib/framework/src/stream/futures_unordered_count.rs
  lib/framework/src/stream/mod.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for aa73e324b7ca4b4ff1da39a9dc58e37737416581
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for aa73e324b7ca4b4ff1da39a9dc58e37737416581
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for aa73e324b7ca4b4ff1da39a9dc58e37737416581
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for aa73e324b7ca4b4ff1da39a9dc58e37737416581
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for aa73e324b7ca4b4ff1da39a9dc58e37737416581
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for aa73e324b7ca4b4ff1da39a9dc58e37737416581
  bench/data.js
Labels: none

sources/docker: init
  Cargo.lock
  Cargo.toml
  lib/hyper-unix/Cargo.toml
  lib/hyper-unix/src/lib.rs
  lib/testify/Cargo.toml
  lib/testify/src/container/docker.rs
  src/sinks/prometheus_exporter.rs
  src/sources/docker.rs
  src/sources/mod.rs
Labels: sources, sinks

add metrics (customSmallerIsBetter) benchmark result for 88729370d01191cba01a0f86be90e78d801d795b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 88729370d01191cba01a0f86be90e78d801d795b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 88729370d01191cba01a0f86be90e78d801d795b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 88729370d01191cba01a0f86be90e78d801d795b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 88729370d01191cba01a0f86be90e78d801d795b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 88729370d01191cba01a0f86be90e78d801d795b
  bench/data.js
Labels: none

implement some preset
  Cargo.lock
  lib/multiline/Cargo.toml
  lib/multiline/src/aggregate.rs
  lib/multiline/src/config.rs
  lib/multiline/src/lib.rs
  lib/multiline/src/preset/cri.rs
  lib/multiline/src/preset/docker.rs
  lib/multiline/src/preset/go.rs
  lib/multiline/src/preset/java.rs
  lib/multiline/src/preset/mod.rs
  lib/multiline/src/preset/noindent.rs
  lib/multiline/src/preset/regex.rs
  src/sources/tail/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for bdd6f938b9b8acedc53db664a2be10bb89851543
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for bdd6f938b9b8acedc53db664a2be10bb89851543
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for bdd6f938b9b8acedc53db664a2be10bb89851543
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for bdd6f938b9b8acedc53db664a2be10bb89851543
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for bdd6f938b9b8acedc53db664a2be10bb89851543
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for bdd6f938b9b8acedc53db664a2be10bb89851543
  bench/data.js
Labels: none

sources/dnsmasq: init
  Cargo.toml
  README.md
  src/sources/dnsmasq/dns.rs
  src/sources/dnsmasq/mod.rs
  src/sources/mod.rs
  tests/dnsmasq/dnsmasq.leases
  tests/dnsmasq/docker-compose.yaml
Labels: sources, tests

add prometheus (customSmallerIsBetter) benchmark result for 1f0477cee27af8b84b643dcd41f2048a61733233
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1f0477cee27af8b84b643dcd41f2048a61733233
  bench/data.js
Labels: none
