Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add Build (customSmallerIsBetter) benchmark result for c72969daa2d4b5dad7d4c98404cd11b5b8fc7ad3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ef9ffe920bcb6b01ce04d10fe894175764863148
  bench/data.js
Labels: none

improve docs
  examples/observe.yaml
  lib/framework/src/source/http/auth.rs
  src/extensions/dns_observer.rs
  src/extensions/http_observer.rs
  src/extensions/port_observer.rs
  src/sinks/http/config.rs
  src/sinks/jaeger/mod.rs
  src/sources/http_check.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/ping.rs
  src/sources/selfstat/mod.rs
  src/transforms/cardinality.rs
  src/transforms/geoip.rs
  src/transforms/relabel.rs
Labels: sources, transforms, sinks, extensions

add prometheus (customSmallerIsBetter) benchmark result for 788f657f07c6190fe04a40f5930d57b40e14a491
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 788f657f07c6190fe04a40f5930d57b40e14a491
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 788f657f07c6190fe04a40f5930d57b40e14a491
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 788f657f07c6190fe04a40f5930d57b40e14a491
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 0b9236bb563827120f7cc7ecccb97ca023da395e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0b9236bb563827120f7cc7ecccb97ca023da395e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0b9236bb563827120f7cc7ecccb97ca023da395e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 0b9236bb563827120f7cc7ecccb97ca023da395e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 788f657f07c6190fe04a40f5930d57b40e14a491
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 788f657f07c6190fe04a40f5930d57b40e14a491
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 0b9236bb563827120f7cc7ecccb97ca023da395e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0b9236bb563827120f7cc7ecccb97ca023da395e
  bench/data.js
Labels: none

add target_os attr for `proc_path`
  src/sources/selfstat/mod.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for fbada39da8ebce596241fd21cd7a04a5a1cbc877
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for fbada39da8ebce596241fd21cd7a04a5a1cbc877
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8f474181ba55d3a627e3eefcf90e2092535c9347
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8f474181ba55d3a627e3eefcf90e2092535c9347
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for fbada39da8ebce596241fd21cd7a04a5a1cbc877
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8f474181ba55d3a627e3eefcf90e2092535c9347
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8f474181ba55d3a627e3eefcf90e2092535c9347
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for fbada39da8ebce596241fd21cd7a04a5a1cbc877
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8f474181ba55d3a627e3eefcf90e2092535c9347
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for fbada39da8ebce596241fd21cd7a04a5a1cbc877
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fbada39da8ebce596241fd21cd7a04a5a1cbc877
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8f474181ba55d3a627e3eefcf90e2092535c9347
  bench/data.js
Labels: none

avoid `alloc` when diagnostic
  lib/vtl/examples/simple.rs
  lib/vtl/examples/vtl.rs
  lib/vtl/src/diagnostic/mod.rs
  lib/vtl/tests/scripts.rs
  src/sources/multiplier/mod.rs
  src/transforms/filter.rs
  src/transforms/rewrite.rs
  src/transforms/route.rs
  src/vtl.rs
Labels: sources, transforms, VTL

avoid clone when build sub source
  src/sources/multiplier/interpolate.rs
  src/sources/multiplier/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 5ede5bde9f943da9a3b724b3336a0f430eed6c67
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 5ede5bde9f943da9a3b724b3336a0f430eed6c67
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 5ede5bde9f943da9a3b724b3336a0f430eed6c67
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 5ede5bde9f943da9a3b724b3336a0f430eed6c67
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 5ede5bde9f943da9a3b724b3336a0f430eed6c67
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5ede5bde9f943da9a3b724b3336a0f430eed6c67
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 54b9ce48ee08a6053f75a10d481a86170faf1bf8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 54b9ce48ee08a6053f75a10d481a86170faf1bf8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 54b9ce48ee08a6053f75a10d481a86170faf1bf8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 54b9ce48ee08a6053f75a10d481a86170faf1bf8
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
