Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add prometheus (customSmallerIsBetter) benchmark result for aeeed04cb37f0f205dbf82399c39969b7a704c2f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0494fa1c55087b3cc00fe89e668ebff2ab660133
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c0dd0095e0c3ba337afca000df25699375a03baa
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0494fa1c55087b3cc00fe89e668ebff2ab660133
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for aeeed04cb37f0f205dbf82399c39969b7a704c2f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c0dd0095e0c3ba337afca000df25699375a03baa
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for aeeed04cb37f0f205dbf82399c39969b7a704c2f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c0dd0095e0c3ba337afca000df25699375a03baa
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 0494fa1c55087b3cc00fe89e668ebff2ab660133
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for aeeed04cb37f0f205dbf82399c39969b7a704c2f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c0dd0095e0c3ba337afca000df25699375a03baa
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 0494fa1c55087b3cc00fe89e668ebff2ab660133
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c0dd0095e0c3ba337afca000df25699375a03baa
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for aeeed04cb37f0f205dbf82399c39969b7a704c2f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0494fa1c55087b3cc00fe89e668ebff2ab660133
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for aeeed04cb37f0f205dbf82399c39969b7a704c2f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c0dd0095e0c3ba337afca000df25699375a03baa
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for af95e36084220dc00d6508566ac4b157134ead4c
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for af95e36084220dc00d6508566ac4b157134ead4c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for af95e36084220dc00d6508566ac4b157134ead4c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for af95e36084220dc00d6508566ac4b157134ead4c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for af95e36084220dc00d6508566ac4b157134ead4c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for af95e36084220dc00d6508566ac4b157134ead4c
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 359805b269a5a462f371c07ca0ebd62db55184d3
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 359805b269a5a462f371c07ca0ebd62db55184d3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 359805b269a5a462f371c07ca0ebd62db55184d3
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 359805b269a5a462f371c07ca0ebd62db55184d3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 359805b269a5a462f371c07ca0ebd62db55184d3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 359805b269a5a462f371c07ca0ebd62db55184d3
  bench/data.js
Labels: none

update humanize to fix serde compatible problem
  Cargo.lock
  Cargo.toml
  lib/buffer/Cargo.toml
  lib/configurable/Cargo.toml
  lib/framework/Cargo.toml
  lib/tail/Cargo.toml
  lib/vtl/Cargo.toml
Labels: VTL

fix deserialize
  src/sinks/kafka/config.rs
Labels: sinks

add prometheus (customSmallerIsBetter) benchmark result for 66499c17ea6e18af1abb6882ea5308cca9dc2b19
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 66499c17ea6e18af1abb6882ea5308cca9dc2b19
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 66499c17ea6e18af1abb6882ea5308cca9dc2b19
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 66499c17ea6e18af1abb6882ea5308cca9dc2b19
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 66499c17ea6e18af1abb6882ea5308cca9dc2b19
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 66499c17ea6e18af1abb6882ea5308cca9dc2b19
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 3196c1403ab84142dfad7425d5f67527fd4125f6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3196c1403ab84142dfad7425d5f67527fd4125f6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3196c1403ab84142dfad7425d5f67527fd4125f6
  bench/data.js
Labels: none
