Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add prometheus (customSmallerIsBetter) benchmark result for 84accf8705ffb1e9100a62788f02687b105900d0
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 84accf8705ffb1e9100a62788f02687b105900d0
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 84accf8705ffb1e9100a62788f02687b105900d0
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 84accf8705ffb1e9100a62788f02687b105900d0
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 84accf8705ffb1e9100a62788f02687b105900d0
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 84accf8705ffb1e9100a62788f02687b105900d0
  bench/data.js
Labels: none

bump toolchain to 1.94.0
  Cargo.toml
  rust-toolchain.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 1c6e150bcca39b6887ad25984e8a5d6d6918b96e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1c6e150bcca39b6887ad25984e8a5d6d6918b96e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1c6e150bcca39b6887ad25984e8a5d6d6918b96e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 1c6e150bcca39b6887ad25984e8a5d6d6918b96e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 1c6e150bcca39b6887ad25984e8a5d6d6918b96e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 1c6e150bcca39b6887ad25984e8a5d6d6918b96e
  bench/data.js
Labels: none

simplify http handler
  src/sinks/prometheus_exporter.rs
Labels: sinks

cleanup
  src/sources/journald.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for ca4232dc2a56c87f43f2951f747cac4189282f78
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for ca4232dc2a56c87f43f2951f747cac4189282f78
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ca4232dc2a56c87f43f2951f747cac4189282f78
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ad6b73a0e9b4071ff761e647509f0c35eb4e706a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ca4232dc2a56c87f43f2951f747cac4189282f78
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for ad6b73a0e9b4071ff761e647509f0c35eb4e706a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ad6b73a0e9b4071ff761e647509f0c35eb4e706a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ad6b73a0e9b4071ff761e647509f0c35eb4e706a
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ca4232dc2a56c87f43f2951f747cac4189282f78
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ca4232dc2a56c87f43f2951f747cac4189282f78
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ad6b73a0e9b4071ff761e647509f0c35eb4e706a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ad6b73a0e9b4071ff761e647509f0c35eb4e706a
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for ccd29d9d0e79d9d496012138a8a84647486dc092
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ccd29d9d0e79d9d496012138a8a84647486dc092
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ccd29d9d0e79d9d496012138a8a84647486dc092
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ccd29d9d0e79d9d496012138a8a84647486dc092
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ccd29d9d0e79d9d496012138a8a84647486dc092
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ccd29d9d0e79d9d496012138a8a84647486dc092
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 1bce36a9d92b0b38fccdcaf575bfcda9586d5e5c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1bce36a9d92b0b38fccdcaf575bfcda9586d5e5c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1bce36a9d92b0b38fccdcaf575bfcda9586d5e5c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 1bce36a9d92b0b38fccdcaf575bfcda9586d5e5c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 1bce36a9d92b0b38fccdcaf575bfcda9586d5e5c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 1bce36a9d92b0b38fccdcaf575bfcda9586d5e5c
  bench/data.js
Labels: none

add mountstats colletor
  src/sources/node/mod.rs
  src/sources/node/mountstats.rs
Labels: sources

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
