Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

fix required value of optional field
  lib/configurable-derive/src/configurable.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 427948e6a429d138f06338247cb50efcd764ede1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 427948e6a429d138f06338247cb50efcd764ede1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 427948e6a429d138f06338247cb50efcd764ede1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 427948e6a429d138f06338247cb50efcd764ede1
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 404867a4a2579f1cee30f75d2b69ffd7dde722a2
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 404867a4a2579f1cee30f75d2b69ffd7dde722a2
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 404867a4a2579f1cee30f75d2b69ffd7dde722a2
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 404867a4a2579f1cee30f75d2b69ffd7dde722a2
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 427948e6a429d138f06338247cb50efcd764ede1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 427948e6a429d138f06338247cb50efcd764ede1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 404867a4a2579f1cee30f75d2b69ffd7dde722a2
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 404867a4a2579f1cee30f75d2b69ffd7dde722a2
  bench/data.js
Labels: none

remove unnecessary required
  lib/configurable/tests/cfg.rs
  lib/configurable/tests/component.rs
  lib/configurable/tests/configurable.rs
  lib/configurable/tests/enum_in_struct.rs
  lib/configurable/tests/flatten_enum.rs
  lib/framework/src/config/provider/http.rs
  lib/framework/src/http/mod.rs
  lib/framework/src/sink/net/tcp.rs
  lib/framework/src/sink/net/udp.rs
  lib/framework/src/sink/net/unix.rs
  lib/framework/src/source/http/auth.rs
  src/extensions/pprof/mod.rs
  src/extensions/zpages/mod.rs
  src/sinks/clickhouse/config.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/http/config.rs
  src/sinks/influxdb/config.rs
  src/sinks/jaeger/http.rs
  src/sinks/kafka/config.rs
  src/sinks/loki/config.rs
  src/sinks/prometheus_exporter.rs
  src/sinks/prometheus_remote_write.rs
  src/sources/chrony/mod.rs
  src/sources/clickhouse_metrics.rs
  src/sources/elasticsearch/mod.rs
  src/sources/exec/scheduled.rs
  src/sources/grpc_check.rs
  src/sources/jaeger/grpc.rs
  src/sources/jaeger/http.rs
  src/sources/jaeger/udp.rs
  src/sources/kafka.rs
  src/sources/libvirt.rs
  src/sources/prometheus_remote_write.rs
  src/sources/syslog.rs
  src/transforms/cardinality.rs
  src/transforms/filter.rs
  src/transforms/geoip.rs
  src/transforms/metricalize.rs
  src/transforms/route.rs
  src/transforms/sample.rs
Labels: sources, transforms, sinks, extensions

print returned value rather than target
  src/vtl.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 318efaeea6d0cf875a37940f06c0bfbee1abc103
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 318efaeea6d0cf875a37940f06c0bfbee1abc103
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 318efaeea6d0cf875a37940f06c0bfbee1abc103
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 318efaeea6d0cf875a37940f06c0bfbee1abc103
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 318efaeea6d0cf875a37940f06c0bfbee1abc103
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 318efaeea6d0cf875a37940f06c0bfbee1abc103
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 18221739aeaa421b12b1aa28a1a0b65d2f92b146
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 18221739aeaa421b12b1aa28a1a0b65d2f92b146
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 18221739aeaa421b12b1aa28a1a0b65d2f92b146
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 18221739aeaa421b12b1aa28a1a0b65d2f92b146
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 18221739aeaa421b12b1aa28a1a0b65d2f92b146
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 18221739aeaa421b12b1aa28a1a0b65d2f92b146
  bench/data.js
Labels: none

remove unnecessary pub
  src/sinks/http/config.rs
Labels: sinks

unify listen name
  src/sources/jaeger/grpc.rs
  src/sources/jaeger/http.rs
  src/sources/jaeger/mod.rs
  src/sources/jaeger/udp.rs
Labels: sources

remove default support
  lib/configurable-derive/src/configurable.rs
  lib/configurable-derive/src/parse_attrs.rs
  lib/configurable/tests/configurable.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 30a0dfcaa7aef171b83ab5eab41e7726c1f14539
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 30a0dfcaa7aef171b83ab5eab41e7726c1f14539
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 30a0dfcaa7aef171b83ab5eab41e7726c1f14539
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 30a0dfcaa7aef171b83ab5eab41e7726c1f14539
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c9b9a323347783b415f2da1b34e00c32d2230340
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c9b9a323347783b415f2da1b34e00c32d2230340
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c9b9a323347783b415f2da1b34e00c32d2230340
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c9b9a323347783b415f2da1b34e00c32d2230340
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 30a0dfcaa7aef171b83ab5eab41e7726c1f14539
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 30a0dfcaa7aef171b83ab5eab41e7726c1f14539
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
