Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

fix metrics extend, to reduce clones
  src/sources/clickhouse_metrics.rs
  src/sources/elasticsearch/nodes.rs
  src/sources/elasticsearch/slm.rs
  src/sources/elasticsearch/snapshot.rs
  src/sources/haproxy.rs
  src/sources/kafka_metrics.rs
  src/sources/libvirt.rs
  src/sources/memcached.rs
  src/sources/mysqld/info_schema_innodb_cmp.rs
  src/sources/mysqld/info_schema_innodb_cmpmem.rs
  src/sources/mysqld/mod.rs
  src/sources/nvidia_smi.rs
  src/sources/prometheus_scrape.rs
  src/sources/redis/mod.rs
  src/sources/zookeeper.rs
Labels: sources

add vertex (customSmallerIsBetter) benchmark result for c47e6a286174f7828e2740b905bda8496d042173
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c47e6a286174f7828e2740b905bda8496d042173
  bench/data.js
Labels: none

fix metrics extend, to reduce clones (#2173)
  src/sources/clickhouse_metrics.rs
  src/sources/elasticsearch/nodes.rs
  src/sources/elasticsearch/slm.rs
  src/sources/elasticsearch/snapshot.rs
  src/sources/haproxy.rs
  src/sources/kafka_metrics.rs
  src/sources/libvirt.rs
  src/sources/memcached.rs
  src/sources/mysqld/info_schema_innodb_cmp.rs
  src/sources/mysqld/info_schema_innodb_cmpmem.rs
  src/sources/mysqld/mod.rs
  src/sources/nvidia_smi.rs
  src/sources/prometheus_scrape.rs
  src/sources/redis/mod.rs
  src/sources/zookeeper.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for d1a9ce7a8ec27fabbcbfd07c3f50e85992543eec
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d1a9ce7a8ec27fabbcbfd07c3f50e85992543eec
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d1a9ce7a8ec27fabbcbfd07c3f50e85992543eec
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d1a9ce7a8ec27fabbcbfd07c3f50e85992543eec
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d1a9ce7a8ec27fabbcbfd07c3f50e85992543eec
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d1a9ce7a8ec27fabbcbfd07c3f50e85992543eec
  bench/data.js
Labels: none

fix regression test
  lib/event/src/log/mod.rs
  regression/file_to_socket/lading.yaml
  regression/file_to_socket/vertex.yaml
Labels: none

optimize read line with memchr
  Cargo.lock
  lib/tail/Cargo.toml
  lib/tail/src/buffer.rs
Labels: none

remove vertex log env, increase lading memory limitation
  regression/docker-compose.yaml
Labels: none

Fix regression tests (#2174)
  Cargo.lock
  lib/event/src/log/mod.rs
  lib/tail/Cargo.toml
  lib/tail/src/buffer.rs
  regression/docker-compose.yaml
  regression/file_to_socket/lading.yaml
  regression/file_to_socket/vertex.yaml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 524a161b8db432515c3fd0d7ec30125706a0cd8b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 524a161b8db432515c3fd0d7ec30125706a0cd8b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 524a161b8db432515c3fd0d7ec30125706a0cd8b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 524a161b8db432515c3fd0d7ec30125706a0cd8b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 524a161b8db432515c3fd0d7ec30125706a0cd8b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 524a161b8db432515c3fd0d7ec30125706a0cd8b
  bench/data.js
Labels: none

remove unnecessary pub
  src/extensions/healthcheck.rs
  src/extensions/heartbeat.rs
  src/extensions/pprof.rs
Labels: extensions

remove unnecessary pub (#2175)
  src/extensions/healthcheck.rs
  src/extensions/heartbeat.rs
  src/extensions/pprof.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 99a0b60c73818bb075a11bb8feb0007441439846
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 99a0b60c73818bb075a11bb8feb0007441439846
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 99a0b60c73818bb075a11bb8feb0007441439846
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 99a0b60c73818bb075a11bb8feb0007441439846
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 99a0b60c73818bb075a11bb8feb0007441439846
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 99a0b60c73818bb075a11bb8feb0007441439846
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8bf7a1a1b6d40d29f64bd6d54f3afe317a6d02d8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8bf7a1a1b6d40d29f64bd6d54f3afe317a6d02d8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8bf7a1a1b6d40d29f64bd6d54f3afe317a6d02d8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8bf7a1a1b6d40d29f64bd6d54f3afe317a6d02d8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8bf7a1a1b6d40d29f64bd6d54f3afe317a6d02d8
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8bf7a1a1b6d40d29f64bd6d54f3afe317a6d02d8
  bench/data.js
Labels: none

remove unused dependencies
  Cargo.lock
  lib/codecs/Cargo.toml
Labels: none

refine dependencies
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/event/Cargo.toml
  lib/event/src/log/mod.rs
  lib/framework/Cargo.toml
  lib/testify/Cargo.toml
  lib/testify/src/event.rs
  lib/testify/src/lib.rs
  lib/vtl/Cargo.toml
Labels: VTL

remove unused dependencies (#2178)
  Cargo.lock
  lib/codecs/Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 1289129367a116040dbf44a65f1c6eac2cdd98b0
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1289129367a116040dbf44a65f1c6eac2cdd98b0
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1289129367a116040dbf44a65f1c6eac2cdd98b0
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
