Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add vertex (customSmallerIsBetter) benchmark result for f6d46452264cef4e78ce169aeae66c668787d146
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f6d46452264cef4e78ce169aeae66c668787d146
  bench/data.js
Labels: none

rename demo_logs to generate
  Cargo.toml
  README.md
  examples/rewrite_logs.yml
  examples/route.yaml
  examples/skywalking.yaml
  lib/framework/src/topology/test/mod.rs
  lib/framework/src/topology/test/reload.rs
  lib/framework/src/topology/test/source_finished.rs
  tests/exec_observer/config.yaml
Labels: tests

add prometheus (customSmallerIsBetter) benchmark result for b454f99f2ed2105cd81e61cd831baf6a680de47a
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b454f99f2ed2105cd81e61cd831baf6a680de47a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b454f99f2ed2105cd81e61cd831baf6a680de47a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b454f99f2ed2105cd81e61cd831baf6a680de47a
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b454f99f2ed2105cd81e61cd831baf6a680de47a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b454f99f2ed2105cd81e61cd831baf6a680de47a
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 79c99fa78a87608fd3ca9a3fece441546a12ac42
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 79c99fa78a87608fd3ca9a3fece441546a12ac42
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 79c99fa78a87608fd3ca9a3fece441546a12ac42
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 79c99fa78a87608fd3ca9a3fece441546a12ac42
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 79c99fa78a87608fd3ca9a3fece441546a12ac42
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 79c99fa78a87608fd3ca9a3fece441546a12ac42
  bench/data.js
Labels: none

rename demo_logs to generate
  src/sources/generate.rs
  src/sources/mod.rs
Labels: sources

set required to false for Optional field
  lib/configurable-derive/src/configurable.rs
  lib/configurable-derive/src/parse_attrs.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 72d5c7114067ae02bc3be82b36e6b6bdfb72220c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 72d5c7114067ae02bc3be82b36e6b6bdfb72220c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 72d5c7114067ae02bc3be82b36e6b6bdfb72220c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 72d5c7114067ae02bc3be82b36e6b6bdfb72220c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 72d5c7114067ae02bc3be82b36e6b6bdfb72220c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 72d5c7114067ae02bc3be82b36e6b6bdfb72220c
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 10537cc937d8703e260bb86045d62ee38583df16
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 10537cc937d8703e260bb86045d62ee38583df16
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 10537cc937d8703e260bb86045d62ee38583df16
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 10537cc937d8703e260bb86045d62ee38583df16
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 10537cc937d8703e260bb86045d62ee38583df16
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 10537cc937d8703e260bb86045d62ee38583df16
  bench/data.js
Labels: none

refactor sources/nvidia and remove quick-xml
  Cargo.toml
  README.md
  src/sources/mod.rs
  src/sources/nvidia.rs
  src/sources/nvidia_smi.rs
  tests/nvidia/mock.sh
  tests/nvidia/output_ubuntu_20.04_v465.27.txt
  tests/nvidia/output_win10_v466.63.txt
  tests/nvidia/sample-output.csv
  tests/nvidia/sample-source.sh
  tests/nvidia/smi.xml
Labels: sources, tests

a little optimize, alloc less
  src/sources/nvidia.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 3924d18c3ed0a093655d32930566de0b80550e8b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3924d18c3ed0a093655d32930566de0b80550e8b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3924d18c3ed0a093655d32930566de0b80550e8b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 3924d18c3ed0a093655d32930566de0b80550e8b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3924d18c3ed0a093655d32930566de0b80550e8b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3924d18c3ed0a093655d32930566de0b80550e8b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f5328d5486b59bd4955929ea76849a08dcf4bf7b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f5328d5486b59bd4955929ea76849a08dcf4bf7b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f5328d5486b59bd4955929ea76849a08dcf4bf7b
  bench/data.js
Labels: none
