Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add Build (customSmallerIsBetter) benchmark result for e43dc5a22b787c54aa03f2f7aa68bebe023397dc
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e8c42ddd4ea1195549c00227896b10488f8590ef
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e8c42ddd4ea1195549c00227896b10488f8590ef
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7e3b8e0e3d3492d53ab6b43a81670a192df7e874
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 7e3b8e0e3d3492d53ab6b43a81670a192df7e874
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7e3b8e0e3d3492d53ab6b43a81670a192df7e874
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7e3b8e0e3d3492d53ab6b43a81670a192df7e874
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7e3b8e0e3d3492d53ab6b43a81670a192df7e874
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7e3b8e0e3d3492d53ab6b43a81670a192df7e874
  bench/data.js
Labels: none

add interrupts collector
  src/sources/node/interrupts.rs
  src/sources/node/mod.rs
Labels: sources

add /proc/interrupts
  tests/node/fixtures.ttar
Labels: tests

add metrics (customSmallerIsBetter) benchmark result for 932f68632761b4354a06a5b7a11063a01b2a5048
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 932f68632761b4354a06a5b7a11063a01b2a5048
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 932f68632761b4354a06a5b7a11063a01b2a5048
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 932f68632761b4354a06a5b7a11063a01b2a5048
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 932f68632761b4354a06a5b7a11063a01b2a5048
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 932f68632761b4354a06a5b7a11063a01b2a5048
  bench/data.js
Labels: none

add ksmd collector
  src/sources/node/ksmd.rs
  src/sources/node/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 653aa84acd7ffcbeb18ffb263236198d7b2e42b1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 653aa84acd7ffcbeb18ffb263236198d7b2e42b1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 653aa84acd7ffcbeb18ffb263236198d7b2e42b1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 653aa84acd7ffcbeb18ffb263236198d7b2e42b1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 653aa84acd7ffcbeb18ffb263236198d7b2e42b1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 653aa84acd7ffcbeb18ffb263236198d7b2e42b1
  bench/data.js
Labels: none

add nvme namespace metrics
  src/sources/node/nvme.rs
Labels: sources

add test data
  src/sources/node/nvme.rs
  tests/node/fixtures.ttar
Labels: sources, tests

add prometheus (customSmallerIsBetter) benchmark result for b517983d90235a5ebcce718be839a519bec2fbb2
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b517983d90235a5ebcce718be839a519bec2fbb2
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b517983d90235a5ebcce718be839a519bec2fbb2
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b517983d90235a5ebcce718be839a519bec2fbb2
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b517983d90235a5ebcce718be839a519bec2fbb2
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b517983d90235a5ebcce718be839a519bec2fbb2
  bench/data.js
Labels: none

remove unnecessary path
  src/sources/mysqld/info_schema_query_response_time.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for ecac551549f199eb86591ba3a2f3ca541611c0dc
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ecac551549f199eb86591ba3a2f3ca541611c0dc
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ecac551549f199eb86591ba3a2f3ca541611c0dc
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ecac551549f199eb86591ba3a2f3ca541611c0dc
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ecac551549f199eb86591ba3a2f3ca541611c0dc
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ecac551549f199eb86591ba3a2f3ca541611c0dc
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 654ec36c0dab4b049c80809022520fc2f958d3d3
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
