Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add prometheus (customSmallerIsBetter) benchmark result for 9bfdea90cde1f8e9176300ceb93dfaf7e66911d8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 9bfdea90cde1f8e9176300ceb93dfaf7e66911d8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 9bfdea90cde1f8e9176300ceb93dfaf7e66911d8
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 9bfdea90cde1f8e9176300ceb93dfaf7e66911d8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9bfdea90cde1f8e9176300ceb93dfaf7e66911d8
  bench/data.js
Labels: none

better deserialize error message
  src/sinks/kafka/config.rs
Labels: sinks

add prometheus (customSmallerIsBetter) benchmark result for 7db9779f5fedd27bfcea0d59c1e49cfe28920558
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7db9779f5fedd27bfcea0d59c1e49cfe28920558
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7db9779f5fedd27bfcea0d59c1e49cfe28920558
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7db9779f5fedd27bfcea0d59c1e49cfe28920558
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7db9779f5fedd27bfcea0d59c1e49cfe28920558
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7db9779f5fedd27bfcea0d59c1e49cfe28920558
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for ad345731aaed3c2c8a83689ffa65b12d14c1909d
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ad345731aaed3c2c8a83689ffa65b12d14c1909d
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ad345731aaed3c2c8a83689ffa65b12d14c1909d
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ad345731aaed3c2c8a83689ffa65b12d14c1909d
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ad345731aaed3c2c8a83689ffa65b12d14c1909d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ad345731aaed3c2c8a83689ffa65b12d14c1909d
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 39d58ba7b8e65bfad9bf3a0e39e473bec4e3a76f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 39d58ba7b8e65bfad9bf3a0e39e473bec4e3a76f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 39d58ba7b8e65bfad9bf3a0e39e473bec4e3a76f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 39d58ba7b8e65bfad9bf3a0e39e473bec4e3a76f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 39d58ba7b8e65bfad9bf3a0e39e473bec4e3a76f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 39d58ba7b8e65bfad9bf3a0e39e473bec4e3a76f
  bench/data.js
Labels: none

refactor
  lib/tail/Cargo.toml
  lib/tail/README.md
  lib/tail/benches/buffer.rs
  lib/tail/examples/checkpoint.rs
  lib/tail/examples/generate.rs
  lib/tail/examples/tail.rs
  lib/tail/src/buffer.rs
  lib/tail/src/checkpoint.rs
  lib/tail/src/decode/bytes.rs
  lib/tail/src/decode/mod.rs
  lib/tail/src/decode/newline.rs
  lib/tail/src/harvest.rs
  lib/tail/src/harvester.rs
  lib/tail/src/lib.rs
  lib/tail/src/multiline.rs
  lib/tail/src/notify/inotify.rs
  lib/tail/src/notify/mod.rs
  lib/tail/src/provider/glob.rs
  lib/tail/src/provider/mod.rs
  lib/tail/src/ready_frames.rs
  lib/tail/src/watch/mod.rs
  lib/tail/src/watch/tests/experiment.rs
  lib/tail/src/watch/tests/mod.rs
  lib/tail/tests/rotate.rs
  lib/tail/tests/watch.rs
Labels: none

add grafana, loki & prometheus to test
  distribution/kubernetes/configmap.yaml
  distribution/kubernetes/daemonset.yaml
  distribution/kubernetes/grafana.yaml
  distribution/kubernetes/kustomization.yaml
  distribution/kubernetes/loki.yaml
  distribution/kubernetes/prometheus.yaml
  distribution/kubernetes/rbac.yaml
  distribution/kubernetes/service-headless.yaml
  distribution/kubernetes/serviceaccount.yaml
  distribution/kubernetes/vertex.yaml
Labels: none

refactor
  src/sources/kubernetes_logs/annotator.rs
  src/sources/kubernetes_logs/cri.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/provider.rs
  src/sources/kubernetes_logs/provider/kubelet.rs
  src/sources/kubernetes_logs/provider/kubernetes.rs
  src/sources/kubernetes_logs/provider/mod.rs
  src/sources/kubernetes_logs/provider/pod.json
  src/sources/kubernetes_logs/provider/pod.rs
Labels: sources

refactor sources/tail
  Cargo.lock
  Cargo.toml
  src/sources/tail/mod.rs
  src/sources/tail/provider.rs
  src/sources/tail/transcode.rs
Labels: sources

remove lib/multiline
  lib/multiline/Cargo.toml
  lib/multiline/src/aggregate.rs
  lib/multiline/src/config.rs
  lib/multiline/src/lib.rs
  lib/multiline/src/preset/cri.rs
  lib/multiline/src/preset/docker.rs
  lib/multiline/src/preset/go.rs
  lib/multiline/src/preset/java.rs
  lib/multiline/src/preset/mod.rs
  lib/multiline/src/preset/noindent.rs
  lib/multiline/src/preset/regex.rs
  lib/multiline/src/serde_regex.rs
Labels: none

avoid extra alloc when create BytesDelimitDecoder
  lib/tail/Cargo.toml
  lib/tail/src/decode/bytes.rs
Labels: none

style
  src/sources/tail/mod.rs
Labels: sources

remove lib/multiline
  Cargo.lock
  Cargo.toml
Labels: none

fix tests
  lib/tail/src/harvest.rs
  lib/tail/src/lib.rs
  lib/tail/tests/rotate.rs
  lib/tail/tests/watch.rs
Labels: none

style
  lib/tail/src/harvest.rs
  lib/tail/tests/rotate.rs
  lib/tail/tests/watch.rs
Labels: none

remove NoopLogic
  lib/tail/src/lib.rs
  lib/tail/src/multiline.rs
Labels: none

fix tests
  src/sources/tail/provider.rs
Labels: sources

style
  src/sources/tail/provider.rs
Labels: sources

add internal_metrics
  distribution/kubernetes/vertex.yaml
Labels: none

simplify
  src/sources/kubernetes_logs/provider/pod.rs
Labels: sources

simplify
  src/sources/kubernetes_logs/provider/mod.rs
Labels: sources
