Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

unify endpoint
  src/sources/mysqld/mod.rs
Labels: sources

add vertex (customSmallerIsBetter) benchmark result for 107c1dbb3ea6e766e85bd2c34cafdc8e9d46ca41
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 17ba501ff93ea52336a6548c1a95097e62611f19
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 107c1dbb3ea6e766e85bd2c34cafdc8e9d46ca41
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 17ba501ff93ea52336a6548c1a95097e62611f19
  bench/data.js
Labels: none

unify listen
  src/sources/prometheus_pushgateway.rs
Labels: sources

unify listen
  src/sources/prometheus_remote_write.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for ae3d84df868784bec61f47842f8533809405d4c8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ae3d84df868784bec61f47842f8533809405d4c8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ae3d84df868784bec61f47842f8533809405d4c8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ae3d84df868784bec61f47842f8533809405d4c8
  bench/data.js
Labels: none

unify listen
  src/sources/syslog.rs
  tests/syslog.rs
Labels: sources, tests

add vertex (customSmallerIsBetter) benchmark result for ae3d84df868784bec61f47842f8533809405d4c8
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d2aeea0cb8078548cf98d016ae0f664c3357d163
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d2aeea0cb8078548cf98d016ae0f664c3357d163
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d2aeea0cb8078548cf98d016ae0f664c3357d163
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d2aeea0cb8078548cf98d016ae0f664c3357d163
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ae3d84df868784bec61f47842f8533809405d4c8
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d2aeea0cb8078548cf98d016ae0f664c3357d163
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d2aeea0cb8078548cf98d016ae0f664c3357d163
  bench/data.js
Labels: none

refactor sources/syslog
  src/sources/syslog/mod.rs
  src/sources/syslog/tcp.rs
  src/sources/syslog/udp.rs
  src/sources/syslog/unix.rs
Labels: sources

refactor sources/syslog
  Cargo.toml
  tests/syslog.rs
Labels: tests

refactor sources/syslog
  src/sources/mod.rs
Labels: sources

use PathBuf for Resource::UnixSocket
  lib/framework/src/config/resource.rs
  src/sources/dnstap/unix.rs
  src/sources/socket/unix.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for f64b404180e27a2729e24eb0d12648170c208e13
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f64b404180e27a2729e24eb0d12648170c208e13
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f64b404180e27a2729e24eb0d12648170c208e13
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f64b404180e27a2729e24eb0d12648170c208e13
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f64b404180e27a2729e24eb0d12648170c208e13
  bench/data.js
Labels: none

fix tests
  src/sources/syslog/mod.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for f64b404180e27a2729e24eb0d12648170c208e13
  bench/data.js
Labels: none

fix tests
  src/sources/syslog/tcp.rs
  src/sources/syslog/udp.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for f937f8e20ab11968dc34cf6b299f9caf0abb92c8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f937f8e20ab11968dc34cf6b299f9caf0abb92c8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f937f8e20ab11968dc34cf6b299f9caf0abb92c8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f937f8e20ab11968dc34cf6b299f9caf0abb92c8
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f937f8e20ab11968dc34cf6b299f9caf0abb92c8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f937f8e20ab11968dc34cf6b299f9caf0abb92c8
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 06230575e2947028aa9af7b46fd70a4f63293caf
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 06230575e2947028aa9af7b46fd70a4f63293caf
  bench/data.js
Labels: none
