Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add prometheus (customSmallerIsBetter) benchmark result for c24e3e056dad27c4f3572bc73a2a36e0b77803cb
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c24e3e056dad27c4f3572bc73a2a36e0b77803cb
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c24e3e056dad27c4f3572bc73a2a36e0b77803cb
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c24e3e056dad27c4f3572bc73a2a36e0b77803cb
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c24e3e056dad27c4f3572bc73a2a36e0b77803cb
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c24e3e056dad27c4f3572bc73a2a36e0b77803cb
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for fb28fe9396c728752e4f668dfd793df06fed2689
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for fb28fe9396c728752e4f668dfd793df06fed2689
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for fb28fe9396c728752e4f668dfd793df06fed2689
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for fb28fe9396c728752e4f668dfd793df06fed2689
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fb28fe9396c728752e4f668dfd793df06fed2689
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for fb28fe9396c728752e4f668dfd793df06fed2689
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c44c9399636dcf2985089f70d9efb7d5df6f81db
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c44c9399636dcf2985089f70d9efb7d5df6f81db
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c44c9399636dcf2985089f70d9efb7d5df6f81db
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c44c9399636dcf2985089f70d9efb7d5df6f81db
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c44c9399636dcf2985089f70d9efb7d5df6f81db
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c44c9399636dcf2985089f70d9efb7d5df6f81db
  bench/data.js
Labels: none

add with_extra_args for docker cli
  src/testing/container.rs
Labels: none

add fluent example config
  examples/fluent.yaml
Labels: none

impl AddBatchNotifier for LogRecord
  lib/event/src/log/mod.rs
Labels: none

impl From<i8> for Value
  lib/value/src/convert.rs
Labels: none

add sources/fluent
  Cargo.toml
  Makefile
  src/sources/fluent/mod.rs
  src/sources/fluent/msgpack.rs
  src/sources/mod.rs
Labels: sources

add apply_to for TcpKeepaliveConfig
  lib/framework/src/tcp.rs
Labels: none

apply keepalive and receive_buffer_bytes to tokio socket
  src/sources/fluent/mod.rs
Labels: sources

fix tests
  src/sources/fluent/mod.rs
Labels: sources

add fluent
  README.md
Labels: none

sources/fluent: init (#2135)
  Cargo.toml
  Makefile
  README.md
  examples/fluent.yaml
  lib/event/src/log/mod.rs
  lib/framework/src/tcp.rs
  lib/value/src/convert.rs
  src/sources/fluent/mod.rs
  src/sources/fluent/msgpack.rs
  src/sources/mod.rs
  src/testing/container.rs
Labels: sources

fix assert_eq tests
  lib/vtl/src/compiler/function/assert_eq.rs
Labels: VTL

add prometheus (customSmallerIsBetter) benchmark result for f8074a748128b0e984af871fd87c3f7ae7869c8d
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f8074a748128b0e984af871fd87c3f7ae7869c8d
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f8074a748128b0e984af871fd87c3f7ae7869c8d
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f8074a748128b0e984af871fd87c3f7ae7869c8d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f8074a748128b0e984af871fd87c3f7ae7869c8d
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f8074a748128b0e984af871fd87c3f7ae7869c8d
  bench/data.js
Labels: none

fix assert_eq tests (#2136)
  lib/vtl/src/compiler/function/assert_eq.rs
Labels: VTL

add prometheus (customSmallerIsBetter) benchmark result for 0f2b2664ab6c46b7fd6ac6c19660b402e2635207
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0f2b2664ab6c46b7fd6ac6c19660b402e2635207
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c0498581f85f4d40671675933ce7e98c9a5b5fb8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0f2b2664ab6c46b7fd6ac6c19660b402e2635207
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
