Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add Build (customSmallerIsBetter) benchmark result for 9e3ba0b3a10d02686dca0fd23090932524045e10
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3ff0ab8d514f1a962b75823e50ad6ae261f55ef1
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 3ff0ab8d514f1a962b75823e50ad6ae261f55ef1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3ff0ab8d514f1a962b75823e50ad6ae261f55ef1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 3ff0ab8d514f1a962b75823e50ad6ae261f55ef1
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8fd182d4d8319b3f20666819953ce3c45f40e9c2
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8fd182d4d8319b3f20666819953ce3c45f40e9c2
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8fd182d4d8319b3f20666819953ce3c45f40e9c2
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8fd182d4d8319b3f20666819953ce3c45f40e9c2
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3ff0ab8d514f1a962b75823e50ad6ae261f55ef1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3ff0ab8d514f1a962b75823e50ad6ae261f55ef1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8fd182d4d8319b3f20666819953ce3c45f40e9c2
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8fd182d4d8319b3f20666819953ce3c45f40e9c2
  bench/data.js
Labels: none

unify framing config names
  lib/codecs/src/decoding/config.rs
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/mod.rs
  src/sources/http/mod.rs
  src/sources/socket/unix.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 3f2e7e6a39da5c7ca94ce67386a15c892d8896ad
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3f2e7e6a39da5c7ca94ce67386a15c892d8896ad
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3f2e7e6a39da5c7ca94ce67386a15c892d8896ad
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 3f2e7e6a39da5c7ca94ce67386a15c892d8896ad
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3f2e7e6a39da5c7ca94ce67386a15c892d8896ad
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3f2e7e6a39da5c7ca94ce67386a15c892d8896ad
  bench/data.js
Labels: none

fix InputType
  src/sinks/console.rs
Labels: sinks

style
  lib/framework/src/config/mod.rs
Labels: none

add event (customSmallerIsBetter) benchmark result for b1cf41d9d61229ee478531f1f989ae830667e16b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for b1cf41d9d61229ee478531f1f989ae830667e16b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b1cf41d9d61229ee478531f1f989ae830667e16b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b1cf41d9d61229ee478531f1f989ae830667e16b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b1cf41d9d61229ee478531f1f989ae830667e16b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b1cf41d9d61229ee478531f1f989ae830667e16b
  bench/data.js
Labels: none

remove lib/sysinfo
  Cargo.lock
  Cargo.toml
  lib/sysinfo/Cargo.toml
  lib/sysinfo/src/lib.rs
  lib/sysinfo/src/unix.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 16e08a6cb039568903d0fbafd3a31053dd16ef5a
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 16e08a6cb039568903d0fbafd3a31053dd16ef5a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 16e08a6cb039568903d0fbafd3a31053dd16ef5a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 16e08a6cb039568903d0fbafd3a31053dd16ef5a
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 16e08a6cb039568903d0fbafd3a31053dd16ef5a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 16e08a6cb039568903d0fbafd3a31053dd16ef5a
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 0d88063e8aeef6b2d91971793d28efb37189c87c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0d88063e8aeef6b2d91971793d28efb37189c87c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0d88063e8aeef6b2d91971793d28efb37189c87c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 0d88063e8aeef6b2d91971793d28efb37189c87c
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 553e741b374497af1eea7813bb3f291ddcd71e88
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
