Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

fix deserializing for fetch_wait_max
  src/sources/kafka.rs
Labels: sources

add vertex (customSmallerIsBetter) benchmark result for 54b9ce48ee08a6053f75a10d481a86170faf1bf8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 54b9ce48ee08a6053f75a10d481a86170faf1bf8
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

style
  src/sources/kafka.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 8ddfea108e6bf8902f78c8ee341b2dfe717c50fa
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8ddfea108e6bf8902f78c8ee341b2dfe717c50fa
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8ddfea108e6bf8902f78c8ee341b2dfe717c50fa
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 665b23d29a6252f3a58b259e0c7c1b4638945568
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 665b23d29a6252f3a58b259e0c7c1b4638945568
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8ddfea108e6bf8902f78c8ee341b2dfe717c50fa
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 665b23d29a6252f3a58b259e0c7c1b4638945568
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 665b23d29a6252f3a58b259e0c7c1b4638945568
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8ddfea108e6bf8902f78c8ee341b2dfe717c50fa
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8ddfea108e6bf8902f78c8ee341b2dfe717c50fa
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 665b23d29a6252f3a58b259e0c7c1b4638945568
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 665b23d29a6252f3a58b259e0c7c1b4638945568
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e30d6feeba340f901841db7e24610aa6808a14bc
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e30d6feeba340f901841db7e24610aa6808a14bc
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e30d6feeba340f901841db7e24610aa6808a14bc
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e30d6feeba340f901841db7e24610aa6808a14bc
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e30d6feeba340f901841db7e24610aa6808a14bc
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e30d6feeba340f901841db7e24610aa6808a14bc
  bench/data.js
Labels: none

implement configurable for Collectors
  src/sources/node/bcache.rs
  src/sources/node/cpu.rs
  src/sources/node/diskstats.rs
  src/sources/node/filesystem.rs
  src/sources/node/ipvs.rs
  src/sources/node/mod.rs
  src/sources/node/netclass.rs
  src/sources/node/netdev.rs
  src/sources/node/netstat.rs
  src/sources/node/powersupplyclass.rs
  src/sources/node/vmstat.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for b29612ffe48084f2bed061780d0e4fbb14e89444
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b29612ffe48084f2bed061780d0e4fbb14e89444
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b29612ffe48084f2bed061780d0e4fbb14e89444
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b29612ffe48084f2bed061780d0e4fbb14e89444
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b29612ffe48084f2bed061780d0e4fbb14e89444
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b29612ffe48084f2bed061780d0e4fbb14e89444
  bench/data.js
Labels: none

remove args from config
  src/extensions/exec_observer.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 01e2958da5f4956d79520e2c51dbc845ba8d77db
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 01e2958da5f4956d79520e2c51dbc845ba8d77db
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 01e2958da5f4956d79520e2c51dbc845ba8d77db
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 01e2958da5f4956d79520e2c51dbc845ba8d77db
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 01e2958da5f4956d79520e2c51dbc845ba8d77db
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 01e2958da5f4956d79520e2c51dbc845ba8d77db
  bench/data.js
Labels: none

validate command value
  src/sources/exec/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 7a29f401d1e8b49ee1e5cf555a334d6fd0b2a2f4
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7a29f401d1e8b49ee1e5cf555a334d6fd0b2a2f4
  bench/data.js
Labels: none
