Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add Build (customSmallerIsBetter) benchmark result for 7494e148d8ee4e60566c2643af476445fd922c42
  bench/data.js
Labels: none

add `derive` feature to serde
  lib/buffer/Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c82c1c344ab87028cdf723c3dfa0dac2e0fce788
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c82c1c344ab87028cdf723c3dfa0dac2e0fce788
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c82c1c344ab87028cdf723c3dfa0dac2e0fce788
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c82c1c344ab87028cdf723c3dfa0dac2e0fce788
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c82c1c344ab87028cdf723c3dfa0dac2e0fce788
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c82c1c344ab87028cdf723c3dfa0dac2e0fce788
  bench/data.js
Labels: none

add `internal_logs` example
  examples/internal_logs.yml
Labels: none

fix error handling
  src/sources/internal_logs.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 0af7dbf4404d173a2a85367df36343a2afe539b2
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0af7dbf4404d173a2a85367df36343a2afe539b2
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0af7dbf4404d173a2a85367df36343a2afe539b2
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 0af7dbf4404d173a2a85367df36343a2afe539b2
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 0af7dbf4404d173a2a85367df36343a2afe539b2
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0af7dbf4404d173a2a85367df36343a2afe539b2
  bench/data.js
Labels: none

bump humanize to latest version
  Cargo.lock
  Cargo.toml
  lib/buffer/Cargo.toml
  lib/configurable/Cargo.toml
  lib/framework/Cargo.toml
  lib/tail/Cargo.toml
  lib/vtl/Cargo.toml
Labels: VTL

add prometheus (customSmallerIsBetter) benchmark result for 1d51e1ee4daec904964ebc17c3c5edf3a89a6284
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1d51e1ee4daec904964ebc17c3c5edf3a89a6284
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1d51e1ee4daec904964ebc17c3c5edf3a89a6284
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 1d51e1ee4daec904964ebc17c3c5edf3a89a6284
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 1d51e1ee4daec904964ebc17c3c5edf3a89a6284
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 1d51e1ee4daec904964ebc17c3c5edf3a89a6284
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 46554e147f6425453408fd1170e40bb2b422b5b5
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 46554e147f6425453408fd1170e40bb2b422b5b5
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 46554e147f6425453408fd1170e40bb2b422b5b5
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 46554e147f6425453408fd1170e40bb2b422b5b5
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 46554e147f6425453408fd1170e40bb2b422b5b5
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 46554e147f6425453408fd1170e40bb2b422b5b5
  bench/data.js
Labels: none

add Debug to Tripwire
  lib/tripwire/src/lib.rs
Labels: none

fix tests
  lib/framework/src/topology/test/doesnt_reload.rs
  lib/framework/src/topology/test/mod.rs
  lib/framework/src/topology/test/reload.rs
  lib/framework/src/topology/test/source_finished.rs
  lib/framework/src/topology/test/transient_state.rs
Labels: none

simplify BufferConfig
  lib/buffer/examples/bench.rs
  lib/buffer/src/channel/limited.rs
  lib/buffer/src/config.rs
  lib/buffer/src/tests.rs
  lib/framework/src/config/sink.rs
  lib/framework/src/pipeline/mod.rs
  tests/topology.rs
Labels: tests

add prometheus (customSmallerIsBetter) benchmark result for 6c951fbae8ab39fe8fcc2e5801465e1824f54985
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 6c951fbae8ab39fe8fcc2e5801465e1824f54985
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 6c951fbae8ab39fe8fcc2e5801465e1824f54985
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 6c951fbae8ab39fe8fcc2e5801465e1824f54985
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 6c951fbae8ab39fe8fcc2e5801465e1824f54985
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 6c951fbae8ab39fe8fcc2e5801465e1824f54985
  bench/data.js
Labels: none

fix reader shutdown
  lib/buffer/examples/bench.rs
  lib/buffer/src/channel/limited.rs
  lib/buffer/src/config.rs
  lib/buffer/src/disk/mod.rs
  lib/buffer/src/disk/reader.rs
  lib/buffer/src/tests.rs
  lib/framework/src/topology/builder.rs
Labels: none

add disk buffer example
  examples/disk_buffer.yml
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
