Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add vertex (customSmallerIsBetter) benchmark result for a39fcadd8bd2d02fec20e3d68897ce573bef2784
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a39fcadd8bd2d02fec20e3d68897ce573bef2784
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for bee79e851361bfb4786a3f77e94de945e006a7eb
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for bee79e851361bfb4786a3f77e94de945e006a7eb
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for bee79e851361bfb4786a3f77e94de945e006a7eb
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for bee79e851361bfb4786a3f77e94de945e006a7eb
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 28820eedf1e6767d2539e1e5fdd8673d3914c661
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 28820eedf1e6767d2539e1e5fdd8673d3914c661
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 28820eedf1e6767d2539e1e5fdd8673d3914c661
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 28820eedf1e6767d2539e1e5fdd8673d3914c661
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for bee79e851361bfb4786a3f77e94de945e006a7eb
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for bee79e851361bfb4786a3f77e94de945e006a7eb
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 28820eedf1e6767d2539e1e5fdd8673d3914c661
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 28820eedf1e6767d2539e1e5fdd8673d3914c661
  bench/data.js
Labels: none

re-implement RespWriter to reduce allocations and CPU usage
  src/sinks/prometheus_exporter.rs
Labels: sinks

clean up
  src/sinks/prometheus_exporter.rs
Labels: sinks

add prometheus (customSmallerIsBetter) benchmark result for 90831cda7b1a75d1c229852d30c3316fbb57c172
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 90831cda7b1a75d1c229852d30c3316fbb57c172
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 90831cda7b1a75d1c229852d30c3316fbb57c172
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 90831cda7b1a75d1c229852d30c3316fbb57c172
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 90831cda7b1a75d1c229852d30c3316fbb57c172
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 90831cda7b1a75d1c229852d30c3316fbb57c172
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f0fb7da49c4282a1b1282c79404929cb50118454
  bench/data.js
Labels: none

remove metric Kind
  lib/event/src/lib.rs
  lib/event/src/metric/mod.rs
  src/sources/haproxy.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 3f2a0bfde692c569df3c9bda1db40883a8bde940
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3f2a0bfde692c569df3c9bda1db40883a8bde940
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3f2a0bfde692c569df3c9bda1db40883a8bde940
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 3f2a0bfde692c569df3c9bda1db40883a8bde940
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3f2a0bfde692c569df3c9bda1db40883a8bde940
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3f2a0bfde692c569df3c9bda1db40883a8bde940
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 395e78477b3a3b5da318f095af20c14411f7beb1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 395e78477b3a3b5da318f095af20c14411f7beb1
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 45ef538145e74aca83158927704e73bc77536eca
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 45ef538145e74aca83158927704e73bc77536eca
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 395e78477b3a3b5da318f095af20c14411f7beb1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 45ef538145e74aca83158927704e73bc77536eca
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 395e78477b3a3b5da318f095af20c14411f7beb1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 45ef538145e74aca83158927704e73bc77536eca
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 395e78477b3a3b5da318f095af20c14411f7beb1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 45ef538145e74aca83158927704e73bc77536eca
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
