Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add metrics (customSmallerIsBetter) benchmark result for da71a4340e93496334655a0c27d4bccff0d1f079
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for da71a4340e93496334655a0c27d4bccff0d1f079
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for da71a4340e93496334655a0c27d4bccff0d1f079
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for da71a4340e93496334655a0c27d4bccff0d1f079
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for da71a4340e93496334655a0c27d4bccff0d1f079
  bench/data.js
Labels: none

expose config
  Cargo.toml
  examples/zpages.yaml
  lib/framework/src/config/builder.rs
  lib/framework/src/config/mod.rs
  lib/framework/src/config/secret.rs
  lib/framework/src/config/uri.rs
  lib/framework/src/http/mod.rs
  src/extensions/zpages/mod.rs
  src/launch.rs
  src/sinks/elasticsearch/common.rs
  src/sources/nginx_stub.rs
  src/sources/redis/mod.rs
Labels: sources, sinks, extensions

expose config (#2155)
  Cargo.toml
  examples/zpages.yaml
  lib/framework/src/config/builder.rs
  lib/framework/src/config/mod.rs
  lib/framework/src/config/secret.rs
  lib/framework/src/config/uri.rs
  lib/framework/src/http/mod.rs
  src/extensions/zpages/mod.rs
  src/launch.rs
  src/sinks/elasticsearch/common.rs
  src/sources/nginx_stub.rs
  src/sources/redis/mod.rs
Labels: sources, sinks, extensions

add prometheus (customSmallerIsBetter) benchmark result for dba54f988bb10408b05de8a1e6d17c798ce0aaec
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for dba54f988bb10408b05de8a1e6d17c798ce0aaec
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for dba54f988bb10408b05de8a1e6d17c798ce0aaec
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for dba54f988bb10408b05de8a1e6d17c798ce0aaec
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for dba54f988bb10408b05de8a1e6d17c798ce0aaec
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for dba54f988bb10408b05de8a1e6d17c798ce0aaec
  bench/data.js
Labels: none

use SecretString for password
  lib/framework/src/source/http/auth.rs
Labels: none

impl inner explicit
  lib/framework/src/config/secret.rs
Labels: none

impl static variable with RwLock
  src/extensions/heartbeat.rs
Labels: extensions

update regression tests
  Makefile
  regression/Dockerfile
  regression/docker-compose.yaml
  regression/file_to_socket/lading.yaml
  regression/file_to_socket/vertex.yaml
  regression/http_to_http_acks/lading.yaml
  regression/http_to_http_acks/vertex.yaml
  regression/tcp_to_tcp/vertex.yaml
Labels: none

fix extensions-heartbeat's parking_lot dependency
  Cargo.toml
Labels: none

remove unnecessary LazyLock
  lib/framework/src/config/loading.rs
Labels: none

add Build (customSmallerIsBetter) benchmark result for 98f0f73d1110b77dec7e6b2a115f3802bcab962e
  bench/data.js
Labels: none

misc/update (#2156)
  Cargo.toml
  lib/framework/src/config/loading.rs
  lib/framework/src/config/secret.rs
  lib/framework/src/source/http/auth.rs
  src/extensions/heartbeat.rs
Labels: extensions

add unix support
  lib/codecs/src/decoding/config.rs
  lib/codecs/src/decoding/framing/character.rs
  lib/codecs/src/decoding/framing/newline.rs
  lib/codecs/src/decoding/framing/octet_counting.rs
  lib/framework/src/source/unix.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/unix.rs
  src/sources/syslog.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for ce522e9ee10e5281c5fa456eb28fccf67ada1eee
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ce522e9ee10e5281c5fa456eb28fccf67ada1eee
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ce522e9ee10e5281c5fa456eb28fccf67ada1eee
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ce522e9ee10e5281c5fa456eb28fccf67ada1eee
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ce522e9ee10e5281c5fa456eb28fccf67ada1eee
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ce522e9ee10e5281c5fa456eb28fccf67ada1eee
  bench/data.js
Labels: none

fix compatible errors
  Cargo.lock
  lib/event/benches/tags.rs
  lib/event/src/trace/generator.rs
  lib/framework/Cargo.toml
  lib/framework/src/pipeline/mod.rs
  lib/framework/src/sink/util/adaptive_concurrency/tests.rs
  lib/testify/src/portpicker.rs
  lib/testify/src/random.rs
  src/sources/demo_logs.rs
  tests/syslog.rs
Labels: sources, tests

add unix support (#2159)
  lib/codecs/src/decoding/config.rs
  lib/codecs/src/decoding/framing/character.rs
  lib/codecs/src/decoding/framing/newline.rs
  lib/codecs/src/decoding/framing/octet_counting.rs
  lib/framework/src/source/unix.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/unix.rs
  src/sources/syslog.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 7d73b6b96e14c7484e49cd643583f7143eb30c6d
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7d73b6b96e14c7484e49cd643583f7143eb30c6d
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7d73b6b96e14c7484e49cd643583f7143eb30c6d
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7d73b6b96e14c7484e49cd643583f7143eb30c6d
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7d73b6b96e14c7484e49cd643583f7143eb30c6d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7d73b6b96e14c7484e49cd643583f7143eb30c6d
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for be05406d9deb2ab408a19155080d32a7ee0960ac
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for be05406d9deb2ab408a19155080d32a7ee0960ac
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for be05406d9deb2ab408a19155080d32a7ee0960ac
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for be05406d9deb2ab408a19155080d32a7ee0960ac
  bench/data.js
Labels: none
