Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

misc
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/config.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/format/vtl.rs
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/error.rs
  lib/value/src/serde.rs
  lib/vtl/examples/simple.rs
  lib/vtl/src/compiler/mod.rs
  lib/vtl/src/lib.rs
  lib/vtl/src/tests/mod.rs
  lib/vtl/tests/scripts.rs
  src/launch.rs
  src/main.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/fluent/msgpack.rs
  src/sources/http.rs
  src/sources/kafka.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/vtl.rs
Labels: sources, VTL

misc (#2192)
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/config.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/format/vtl.rs
  lib/codecs/src/decoding/mod.rs
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/error.rs
  lib/value/src/serde.rs
  lib/vtl/examples/simple.rs
  lib/vtl/src/compiler/mod.rs
  lib/vtl/src/lib.rs
  lib/vtl/src/tests/mod.rs
  lib/vtl/tests/scripts.rs
  src/launch.rs
  src/main.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/fluent/msgpack.rs
  src/sources/http.rs
  src/sources/kafka.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/vtl.rs
Labels: sources, VTL

add metrics (customSmallerIsBetter) benchmark result for af33504770246eb8f48589fda2f31168528ce009
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for af33504770246eb8f48589fda2f31168528ce009
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for af33504770246eb8f48589fda2f31168528ce009
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for af33504770246eb8f48589fda2f31168528ce009
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for af33504770246eb8f48589fda2f31168528ce009
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for af33504770246eb8f48589fda2f31168528ce009
  bench/data.js
Labels: none

support metadata
  lib/codecs/src/decoding/format/vtl.rs
Labels: none

style
  lib/codecs/src/decoding/format/vtl.rs
Labels: none

lib/codecs: add metadata support for VTL deserializer (#2193)
  lib/codecs/src/decoding/format/vtl.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 81c04fe450057e8afddec5ef63e8bbc4ddbc0bdc
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 81c04fe450057e8afddec5ef63e8bbc4ddbc0bdc
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 81c04fe450057e8afddec5ef63e8bbc4ddbc0bdc
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 81c04fe450057e8afddec5ef63e8bbc4ddbc0bdc
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 81c04fe450057e8afddec5ef63e8bbc4ddbc0bdc
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 81c04fe450057e8afddec5ef63e8bbc4ddbc0bdc
  bench/data.js
Labels: none

remove lib/xdr
  Cargo.lock
  Cargo.toml
  lib/xdr/Cargo.toml
  src/common/mod.rs
  src/common/read.rs
  src/sources/fluent/msgpack.rs
  src/sources/netflow/decode.rs
  src/sources/netflow/ipfix.rs
  src/sources/netflow/netflow.rs
  src/sources/sflow/datagram.rs
Labels: sources

remove lib/xdr (#2194)
  Cargo.lock
  Cargo.toml
  lib/xdr/Cargo.toml
  src/common/mod.rs
  src/common/read.rs
  src/sources/fluent/msgpack.rs
  src/sources/netflow/decode.rs
  src/sources/netflow/ipfix.rs
  src/sources/netflow/netflow.rs
  src/sources/sflow/datagram.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for dd9d551398630df009bced7180b9e8053551616a
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for dd9d551398630df009bced7180b9e8053551616a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for dd9d551398630df009bced7180b9e8053551616a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for dd9d551398630df009bced7180b9e8053551616a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for dd9d551398630df009bced7180b9e8053551616a
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for dd9d551398630df009bced7180b9e8053551616a
  bench/data.js
Labels: none

implement source/fluent with TcpSource
  Cargo.lock
  Cargo.toml
  regression/docker-compose.yaml
  src/extensions/pprof/mod.rs
  src/launch.rs
  src/main.rs
  src/sources/fluent/mod.rs
Labels: sources, extensions

add lib/tracked_alloc
  lib/tracked_alloc/Cargo.toml
  lib/tracked_alloc/examples/dump.rs
  lib/tracked_alloc/src/lib.rs
Labels: none

disable snmalloc by default
  Cargo.toml
Labels: none

fix test
  src/sources/fluent/mod.rs
Labels: sources

source/fluent: implement with TcpSource (#2195)
  Cargo.lock
  Cargo.toml
  lib/tracked_alloc/Cargo.toml
  lib/tracked_alloc/examples/dump.rs
  lib/tracked_alloc/src/lib.rs
  regression/docker-compose.yaml
  src/extensions/pprof/mod.rs
  src/launch.rs
  src/main.rs
  src/sources/fluent/mod.rs
Labels: sources, extensions

add prometheus (customSmallerIsBetter) benchmark result for 54103e7c53bf7a3c509dfb6412ea2083958f8c24
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 54103e7c53bf7a3c509dfb6412ea2083958f8c24
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 54103e7c53bf7a3c509dfb6412ea2083958f8c24
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 54103e7c53bf7a3c509dfb6412ea2083958f8c24
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 54103e7c53bf7a3c509dfb6412ea2083958f8c24
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 54103e7c53bf7a3c509dfb6412ea2083958f8c24
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f8a8fc803bcd09401fd812dc3c0b1648222809b8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f8a8fc803bcd09401fd812dc3c0b1648222809b8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f8a8fc803bcd09401fd812dc3c0b1648222809b8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f8a8fc803bcd09401fd812dc3c0b1648222809b8
  bench/data.js
Labels: none
