Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add metrics
  src/sources/kubernetes_logs/mod.rs
Labels: sources

remove unnecessary constraint on Metadata
  lib/tail/src/harvest.rs
Labels: none

remove Clone on Pod & Container
  src/sources/kubernetes_logs/provider/pod.rs
Labels: sources

remove commented
  src/sources/kubernetes_logs/mod.rs
Labels: sources

remove `assert_event_data_eq`
  lib/testify/src/event.rs
Labels: none

remove `assert_event_data_eq`
  src/sources/syslog.rs
Labels: sources

re-implement sources/kubernetes_logs
  Cargo.lock
  Cargo.toml
  lib/kubernetes/src/resource.rs
  lib/tail/src/lib.rs
  src/sources/kubernetes_logs/cri.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/provider/kubelet.rs
  src/sources/kubernetes_logs/provider/kubernetes.rs
  src/sources/kubernetes_logs/provider/mod.rs
  src/sources/kubernetes_logs/provider/pod.json
  src/sources/kubernetes_logs/provider/pod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for bd3c513402284de9a8b595633dd3362f3db23c9d
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for bd3c513402284de9a8b595633dd3362f3db23c9d
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for bd3c513402284de9a8b595633dd3362f3db23c9d
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for bd3c513402284de9a8b595633dd3362f3db23c9d
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for bd3c513402284de9a8b595633dd3362f3db23c9d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for bd3c513402284de9a8b595633dd3362f3db23c9d
  bench/data.js
Labels: none

refactor
  src/sources/exec/mod.rs
  src/sources/exec/scheduled.rs
  src/sources/exec/streaming.rs
  tests/exec/scheduled.sh
  tests/exec/streaming.sh
Labels: sources, tests

add prometheus (customSmallerIsBetter) benchmark result for 7e840bde9dc448131a208318c79f33d4164a98ac
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7e840bde9dc448131a208318c79f33d4164a98ac
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7e840bde9dc448131a208318c79f33d4164a98ac
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7e840bde9dc448131a208318c79f33d4164a98ac
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7e840bde9dc448131a208318c79f33d4164a98ac
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7e840bde9dc448131a208318c79f33d4164a98ac
  bench/data.js
Labels: none

fix `ledger.lock` creation
  lib/buffer/src/disk/ledger.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 4693252189d742ca0296f3f13a39b0eaf2871172
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 4693252189d742ca0296f3f13a39b0eaf2871172
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 4693252189d742ca0296f3f13a39b0eaf2871172
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 4693252189d742ca0296f3f13a39b0eaf2871172
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 4693252189d742ca0296f3f13a39b0eaf2871172
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 4693252189d742ca0296f3f13a39b0eaf2871172
  bench/data.js
Labels: none

set Concurrency::Adaptive as default
  lib/framework/src/sink/util/service/concurrency.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 72b24672aa00463dd6202da3a07ca46d7bc0ff59
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 72b24672aa00463dd6202da3a07ca46d7bc0ff59
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 72b24672aa00463dd6202da3a07ca46d7bc0ff59
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 72b24672aa00463dd6202da3a07ca46d7bc0ff59
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 72b24672aa00463dd6202da3a07ca46d7bc0ff59
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 72b24672aa00463dd6202da3a07ca46d7bc0ff59
  bench/data.js
Labels: none

rename BytesDecoder
  lib/codecs/src/decoding/config.rs
  lib/codecs/src/decoding/framing/bytes.rs
  lib/codecs/src/decoding/framing/mod.rs
  lib/codecs/src/decoding/mod.rs
  src/sources/syslog.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 957ea9f81864c36490797ee71f4df9ca8dd061ac
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 957ea9f81864c36490797ee71f4df9ca8dd061ac
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 957ea9f81864c36490797ee71f4df9ca8dd061ac
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 957ea9f81864c36490797ee71f4df9ca8dd061ac
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 957ea9f81864c36490797ee71f4df9ca8dd061ac
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
