Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add vertex (customSmallerIsBetter) benchmark result for 906f036f74616a7e4b9b8cae0c8f6dcb446d7843
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 906f036f74616a7e4b9b8cae0c8f6dcb446d7843
  bench/data.js
Labels: none

remove unused
  lib/framework/src/config/builder.rs
Labels: none

cleanup
  lib/framework/src/config/loading/mod.rs
  lib/framework/src/config/validation.rs
Labels: none

fix data_dir merge
  lib/framework/src/config/global.rs
Labels: none

remove unnecessary test attribute
  lib/framework/src/config/loading/mod.rs
Labels: none

fmt
  lib/framework/src/config/global.rs
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e121725349111602d973d0eed85de28adc7d627a
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e121725349111602d973d0eed85de28adc7d627a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e121725349111602d973d0eed85de28adc7d627a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e121725349111602d973d0eed85de28adc7d627a
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e121725349111602d973d0eed85de28adc7d627a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e121725349111602d973d0eed85de28adc7d627a
  bench/data.js
Labels: none

update
  Cargo.lock
Labels: none

remove unused
  lib/framework/src/config/graph.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d3d6a292b029062100dd0c66a3af0982f162065b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d3d6a292b029062100dd0c66a3af0982f162065b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d3d6a292b029062100dd0c66a3af0982f162065b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d3d6a292b029062100dd0c66a3af0982f162065b
  bench/data.js
Labels: none

unify listen
  src/extensions/zpages/mod.rs
Labels: extensions

add vertex (customSmallerIsBetter) benchmark result for d3d6a292b029062100dd0c66a3af0982f162065b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d3d6a292b029062100dd0c66a3af0982f162065b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d786683a63f06b42acf799f82514975f13819acd
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d786683a63f06b42acf799f82514975f13819acd
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d786683a63f06b42acf799f82514975f13819acd
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d786683a63f06b42acf799f82514975f13819acd
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d786683a63f06b42acf799f82514975f13819acd
  bench/data.js
Labels: none

add extensions/remote_tap & remove extensions/zpages
  Cargo.lock
  Cargo.toml
  README.md
  examples/observe.yaml
  examples/zpages.yaml
  lib/buffer/Cargo.toml
  lib/configurable/Cargo.toml
  lib/framework/Cargo.toml
  lib/tail/Cargo.toml
  lib/vtl/Cargo.toml
  src/extensions/mod.rs
  src/extensions/port_observer.rs
  src/extensions/remote_tap/mod.rs
  src/extensions/remote_tap/static/index.html
  src/extensions/zpages/mod.rs
  src/extensions/zpages/statsz.rs
  src/launch.rs
  src/top.rs
  tests/exec_observer/config.yaml
Labels: extensions, VTL, tests

add prometheus (customSmallerIsBetter) benchmark result for 99377939745bc31bd042e1ee28de9dced24481b9
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 99377939745bc31bd042e1ee28de9dced24481b9
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 99377939745bc31bd042e1ee28de9dced24481b9
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 99377939745bc31bd042e1ee28de9dced24481b9
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 99377939745bc31bd042e1ee28de9dced24481b9
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 99377939745bc31bd042e1ee28de9dced24481b9
  bench/data.js
Labels: none

add secret features
  Cargo.toml
  src/secrets/mod.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for bc7b79d900715f158b492913486acf260543741b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for bc7b79d900715f158b492913486acf260543741b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for bc7b79d900715f158b492913486acf260543741b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for bc7b79d900715f158b492913486acf260543741b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for bc7b79d900715f158b492913486acf260543741b
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
