Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

split parsers into two files
  lib/prometheus/src/error.rs
  lib/prometheus/src/lib.rs
  lib/prometheus/src/pb.rs
  lib/prometheus/src/text.rs
Labels: none

add Build (customSmallerIsBetter) benchmark result for 93c1d5a549ff45960d546c38e1b155c74e9d2389
  bench/data.js
Labels: none

fix benchmarks based on lib/testify
  lib/testify/Cargo.toml
  lib/tracing-limit/Cargo.toml
Labels: none

add Build (customSmallerIsBetter) benchmark result for ab1d7277ab46563eeb3f3e31ee3f527e90bc6f1d
  bench/data.js
Labels: none

fix bench
  lib/event/Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 1ece04bb7930a6d1ff30705aa3a4b1e6eea78e59
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1ece04bb7930a6d1ff30705aa3a4b1e6eea78e59
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1ece04bb7930a6d1ff30705aa3a4b1e6eea78e59
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 1ece04bb7930a6d1ff30705aa3a4b1e6eea78e59
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 1ece04bb7930a6d1ff30705aa3a4b1e6eea78e59
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 1ece04bb7930a6d1ff30705aa3a4b1e6eea78e59
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 23936397bfb91ac555a044269df2a892e24dbf05
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 23936397bfb91ac555a044269df2a892e24dbf05
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 23936397bfb91ac555a044269df2a892e24dbf05
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 23936397bfb91ac555a044269df2a892e24dbf05
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 23936397bfb91ac555a044269df2a892e24dbf05
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 23936397bfb91ac555a044269df2a892e24dbf05
  bench/data.js
Labels: none

reuse line buffer to speed up parsing
  src/sources/haproxy.rs
Labels: sources

simplify
  src/sources/haproxy.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 02440de246bf6389f7657e45c822947edacffe73
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 02440de246bf6389f7657e45c822947edacffe73
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 02440de246bf6389f7657e45c822947edacffe73
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 02440de246bf6389f7657e45c822947edacffe73
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 02440de246bf6389f7657e45c822947edacffe73
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 02440de246bf6389f7657e45c822947edacffe73
  bench/data.js
Labels: none

add pcidevice collector
  src/sources/node/mod.rs
  src/sources/node/pcidevice.rs
Labels: sources

simplify parsing process
  src/sources/node/pcidevice.rs
Labels: sources

fix devices test
  src/sources/node/pcidevice.rs
Labels: sources

fmt
  src/sources/node/pcidevice.rs
Labels: sources

fmt
  src/sources/node/pcidevice.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 7cf66d2420d7299ad9e134921d354a02144ef95e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7cf66d2420d7299ad9e134921d354a02144ef95e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7cf66d2420d7299ad9e134921d354a02144ef95e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7cf66d2420d7299ad9e134921d354a02144ef95e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7cf66d2420d7299ad9e134921d354a02144ef95e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7cf66d2420d7299ad9e134921d354a02144ef95e
  bench/data.js
Labels: none

parse os-release directly
  src/sources/node/os_release.rs
  tests/node/fixtures.ttar
Labels: sources, tests

add metrics (customSmallerIsBetter) benchmark result for e44dc2f0580009e9e8ce7c07e7e59f270b25d558
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e44dc2f0580009e9e8ce7c07e7e59f270b25d558
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e44dc2f0580009e9e8ce7c07e7e59f270b25d558
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
