Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

switch to framework::http::Authorizer
  Cargo.lock
  Cargo.toml
  src/extensions/healthcheck/http.rs
  src/extensions/healthcheck/mod.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for f05cee1ece5307f08de2a08ee8624348e5265ae9
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f05cee1ece5307f08de2a08ee8624348e5265ae9
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f05cee1ece5307f08de2a08ee8624348e5265ae9
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f05cee1ece5307f08de2a08ee8624348e5265ae9
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f05cee1ece5307f08de2a08ee8624348e5265ae9
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f05cee1ece5307f08de2a08ee8624348e5265ae9
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 79b169b7337f216409684ace4ada528f0e7ef22f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 79b169b7337f216409684ace4ada528f0e7ef22f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 79b169b7337f216409684ace4ada528f0e7ef22f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 79b169b7337f216409684ace4ada528f0e7ef22f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 79b169b7337f216409684ace4ada528f0e7ef22f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 79b169b7337f216409684ace4ada528f0e7ef22f
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 864320e2b3c9c258ba498831fe75d02e3af334db
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 864320e2b3c9c258ba498831fe75d02e3af334db
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 864320e2b3c9c258ba498831fe75d02e3af334db
  bench/data.js
Labels: none

remove UdpSource
  lib/framework/src/source/mod.rs
  lib/framework/src/source/udp.rs
Labels: none

add Value::object
  lib/value/src/convert.rs
  lib/value/src/lib.rs
Labels: none

refactor
  src/sources/netflow/decode.rs
  src/sources/netflow/format/ipfix.rs
  src/sources/netflow/format/mod.rs
  src/sources/netflow/format/netflow.rs
  src/sources/netflow/ipfix.rs
  src/sources/netflow/mod.rs
  src/sources/netflow/netflow.rs
  src/sources/netflow/template.rs
Labels: sources

add tracing-limit (customSmallerIsBetter) benchmark result for 864320e2b3c9c258ba498831fe75d02e3af334db
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 864320e2b3c9c258ba498831fe75d02e3af334db
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f749b60e9ac0cf108e0b9c981140456aff7ab595
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f749b60e9ac0cf108e0b9c981140456aff7ab595
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f749b60e9ac0cf108e0b9c981140456aff7ab595
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f749b60e9ac0cf108e0b9c981140456aff7ab595
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 864320e2b3c9c258ba498831fe75d02e3af334db
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f749b60e9ac0cf108e0b9c981140456aff7ab595
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f749b60e9ac0cf108e0b9c981140456aff7ab595
  bench/data.js
Labels: none

fix `internal_log_rate_limit`
  lib/framework/src/source/http/decode.rs
  src/sinks/skywalking/mod.rs
  src/sources/dnstap/tcp.rs
  src/sources/gnmi/mod.rs
  src/sources/kmsg.rs
  src/sources/ping.rs
  src/sources/pulsar.rs
  src/sources/sflow/mod.rs
  src/sources/socket/udp.rs
Labels: sources, sinks

add metrics (customSmallerIsBetter) benchmark result for ee91beed797c4f0aa7f3a847ef58b3abca163151
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for ee91beed797c4f0aa7f3a847ef58b3abca163151
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ee91beed797c4f0aa7f3a847ef58b3abca163151
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ee91beed797c4f0aa7f3a847ef58b3abca163151
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ee91beed797c4f0aa7f3a847ef58b3abca163151
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ee91beed797c4f0aa7f3a847ef58b3abca163151
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7494e148d8ee4e60566c2643af476445fd922c42
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 7494e148d8ee4e60566c2643af476445fd922c42
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7494e148d8ee4e60566c2643af476445fd922c42
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7494e148d8ee4e60566c2643af476445fd922c42
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7494e148d8ee4e60566c2643af476445fd922c42
  bench/data.js
Labels: none
