Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add metrics (customSmallerIsBetter) benchmark result for ad29fbded12afd21296a4c38f726bafd34c738f8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ad29fbded12afd21296a4c38f726bafd34c738f8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ad29fbded12afd21296a4c38f726bafd34c738f8
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ad29fbded12afd21296a4c38f726bafd34c738f8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ad29fbded12afd21296a4c38f726bafd34c738f8
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f6461c370f4db9405d380940f81f1b1d302ba689
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f6461c370f4db9405d380940f81f1b1d302ba689
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for a68ab0bfc0b156e94430c2cba36bcd27c9ae712a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f6461c370f4db9405d380940f81f1b1d302ba689
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for a68ab0bfc0b156e94430c2cba36bcd27c9ae712a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for a68ab0bfc0b156e94430c2cba36bcd27c9ae712a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f6461c370f4db9405d380940f81f1b1d302ba689
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for a68ab0bfc0b156e94430c2cba36bcd27c9ae712a
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f6461c370f4db9405d380940f81f1b1d302ba689
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for a68ab0bfc0b156e94430c2cba36bcd27c9ae712a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a68ab0bfc0b156e94430c2cba36bcd27c9ae712a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f6461c370f4db9405d380940f81f1b1d302ba689
  bench/data.js
Labels: none

remove fields
  lib/codecs/src/decoding/format/logfmt.rs
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/logfmt.rs
  lib/codecs/src/encoding/format/native_json.rs
  lib/codecs/src/encoding/format/text.rs
  lib/event/src/log/mod.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/loki/tests.rs
  src/sources/kmsg.rs
  src/sources/kubernetes_events/mod.rs
  src/sources/syslog.rs
  src/transforms/dedup.rs
  src/transforms/geoip.rs
  src/transforms/metricalize.rs
  src/transforms/route.rs
  src/transforms/throttle/mod.rs
Labels: sources, transforms, sinks

remove fields (#2230)
  lib/codecs/src/decoding/format/logfmt.rs
  lib/codecs/src/encoding/format/json.rs
  lib/codecs/src/encoding/format/logfmt.rs
  lib/codecs/src/encoding/format/native_json.rs
  lib/codecs/src/encoding/format/text.rs
  lib/event/src/log/mod.rs
  src/sinks/elasticsearch/integration_tests.rs
  src/sinks/elasticsearch/tests.rs
  src/sinks/loki/tests.rs
  src/sources/kmsg.rs
  src/sources/kubernetes_events/mod.rs
  src/sources/syslog.rs
  src/transforms/dedup.rs
  src/transforms/geoip.rs
  src/transforms/metricalize.rs
  src/transforms/route.rs
  src/transforms/throttle/mod.rs
Labels: sources, transforms, sinks

add prometheus (customSmallerIsBetter) benchmark result for 0e08331c35749647cd0ab374e8372f25b4c595ce
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0e08331c35749647cd0ab374e8372f25b4c595ce
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0e08331c35749647cd0ab374e8372f25b4c595ce
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 0e08331c35749647cd0ab374e8372f25b4c595ce
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 0e08331c35749647cd0ab374e8372f25b4c595ce
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0e08331c35749647cd0ab374e8372f25b4c595ce
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f658b4b20d67f66f2a9e727a5511542ac8356a8f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f658b4b20d67f66f2a9e727a5511542ac8356a8f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f658b4b20d67f66f2a9e727a5511542ac8356a8f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f658b4b20d67f66f2a9e727a5511542ac8356a8f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f658b4b20d67f66f2a9e727a5511542ac8356a8f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f658b4b20d67f66f2a9e727a5511542ac8356a8f
  bench/data.js
Labels: none

clean up
  Cargo.toml
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
  src/testing/mod.rs
  src/testing/topology.rs
Labels: none

bump ubuntu to 24.04
  .github/workflows/baseline.yml
  .github/workflows/benches.yml
  .github/workflows/check.yml
  .github/workflows/labeler.yml
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  ci/environment/bootstrap-ubuntu-24.04.sh
Labels: CI

clean up (#2232)
  Cargo.toml
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
  src/testing/mod.rs
  src/testing/topology.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 13f7c84b132a8cdb2d6d926a95276f045464cdeb
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 13f7c84b132a8cdb2d6d926a95276f045464cdeb
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 13f7c84b132a8cdb2d6d926a95276f045464cdeb
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 13f7c84b132a8cdb2d6d926a95276f045464cdeb
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 13f7c84b132a8cdb2d6d926a95276f045464cdeb
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 13f7c84b132a8cdb2d6d926a95276f045464cdeb
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
