Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add tracing-limit (customSmallerIsBetter) benchmark result for a3dbcaea78dc76b030df5959cececae6dd339600
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a3dbcaea78dc76b030df5959cececae6dd339600
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for a3dbcaea78dc76b030df5959cececae6dd339600
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 9241c10284cb5dab572330b1d1a20dde888ea08f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 9241c10284cb5dab572330b1d1a20dde888ea08f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 9241c10284cb5dab572330b1d1a20dde888ea08f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 9241c10284cb5dab572330b1d1a20dde888ea08f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 18fab6b9d1ccfaecbdb038eed4632a2646e36d56
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 18fab6b9d1ccfaecbdb038eed4632a2646e36d56
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 18fab6b9d1ccfaecbdb038eed4632a2646e36d56
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 18fab6b9d1ccfaecbdb038eed4632a2646e36d56
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 9241c10284cb5dab572330b1d1a20dde888ea08f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9241c10284cb5dab572330b1d1a20dde888ea08f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 18fab6b9d1ccfaecbdb038eed4632a2646e36d56
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 18fab6b9d1ccfaecbdb038eed4632a2646e36d56
  bench/data.js
Labels: none

add new metrics
  src/sources/selfstat/runtime.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 9de16eb3f002daf81a4c575d86a422ec5cd0ee68
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 9de16eb3f002daf81a4c575d86a422ec5cd0ee68
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 9de16eb3f002daf81a4c575d86a422ec5cd0ee68
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 9de16eb3f002daf81a4c575d86a422ec5cd0ee68
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 9de16eb3f002daf81a4c575d86a422ec5cd0ee68
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9de16eb3f002daf81a4c575d86a422ec5cd0ee68
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 33ec1a3061053343abc02c4ad6cc0b1fc50d95e3
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 33ec1a3061053343abc02c4ad6cc0b1fc50d95e3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 33ec1a3061053343abc02c4ad6cc0b1fc50d95e3
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 33ec1a3061053343abc02c4ad6cc0b1fc50d95e3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 33ec1a3061053343abc02c4ad6cc0b1fc50d95e3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 33ec1a3061053343abc02c4ad6cc0b1fc50d95e3
  bench/data.js
Labels: none

remove ahash
  Cargo.lock
  Cargo.toml
  src/transforms/sample.rs
Labels: transforms

add metrics (customSmallerIsBetter) benchmark result for c1508bfd95fd28fec7277bad7ab7eb187cb79307
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c1508bfd95fd28fec7277bad7ab7eb187cb79307
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c1508bfd95fd28fec7277bad7ab7eb187cb79307
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c1508bfd95fd28fec7277bad7ab7eb187cb79307
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c1508bfd95fd28fec7277bad7ab7eb187cb79307
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c1508bfd95fd28fec7277bad7ab7eb187cb79307
  bench/data.js
Labels: none

refine lib/configurable to reduce codebase and the binary size
  Cargo.lock
  lib/codecs/Cargo.toml
  lib/codecs/src/encoding/mod.rs
  lib/configurable-derive/src/configurable.rs
  lib/configurable-derive/src/lib.rs
  lib/configurable-derive/src/parse_attrs.rs
  lib/configurable/src/configurable.rs
  lib/configurable/src/errors.rs
  lib/configurable/src/example.rs
  lib/configurable/src/external/encoding.rs
  lib/configurable/src/external/event.rs
  lib/configurable/src/external/http.rs
  lib/configurable/src/external/indexmap.rs
  lib/configurable/src/external/timezone.rs
  lib/configurable/src/format.rs
  lib/configurable/src/schema/generator.rs
  lib/configurable/src/schema/json_schema.rs
  lib/configurable/src/schema/mod.rs
  lib/configurable/src/schema/num.rs
  lib/configurable/src/schema/stdlib.rs
  lib/configurable/src/schema/visit.rs
  lib/configurable/tests/configurable.rs
  lib/configurable/tests/unnamed_enum.rs
  lib/event/Cargo.toml
  lib/framework/src/config/uri.rs
  lib/framework/src/sink/util/service/concurrency.rs
  lib/framework/src/timezone.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 10b6d16e73b60e3171f9fd9b6660c4e1d0bcdf7f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 10b6d16e73b60e3171f9fd9b6660c4e1d0bcdf7f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 10b6d16e73b60e3171f9fd9b6660c4e1d0bcdf7f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 10b6d16e73b60e3171f9fd9b6660c4e1d0bcdf7f
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
