Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add `minimal` which is optimized for binary size
  Cargo.toml
Labels: none

update metric map
  src/sources/redis/mod.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for b7c30f167e1233c74c80b57386c7dacb9fef79c9
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b7c30f167e1233c74c80b57386c7dacb9fef79c9
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for b7c30f167e1233c74c80b57386c7dacb9fef79c9
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b7c30f167e1233c74c80b57386c7dacb9fef79c9
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b7c30f167e1233c74c80b57386c7dacb9fef79c9
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b7c30f167e1233c74c80b57386c7dacb9fef79c9
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for fcf923a21f7a7cac3f3810ece47d0edc953c72bb
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for fcf923a21f7a7cac3f3810ece47d0edc953c72bb
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for fcf923a21f7a7cac3f3810ece47d0edc953c72bb
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for fcf923a21f7a7cac3f3810ece47d0edc953c72bb
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for fcf923a21f7a7cac3f3810ece47d0edc953c72bb
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fcf923a21f7a7cac3f3810ece47d0edc953c72bb
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 473c4c20b2f87d9e4dae06074a8a8604f092f1e6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 473c4c20b2f87d9e4dae06074a8a8604f092f1e6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 473c4c20b2f87d9e4dae06074a8a8604f092f1e6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 473c4c20b2f87d9e4dae06074a8a8604f092f1e6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 473c4c20b2f87d9e4dae06074a8a8604f092f1e6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 473c4c20b2f87d9e4dae06074a8a8604f092f1e6
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 50c362a280e510f90dbb5a70b30721d59763ded4
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 50c362a280e510f90dbb5a70b30721d59763ded4
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 50c362a280e510f90dbb5a70b30721d59763ded4
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 50c362a280e510f90dbb5a70b30721d59763ded4
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 50c362a280e510f90dbb5a70b30721d59763ded4
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 50c362a280e510f90dbb5a70b30721d59763ded4
  bench/data.js
Labels: none

add summary_with_tags
  lib/event/src/metric/mod.rs
Labels: none

refactor & add more descriptions
  src/sources/redis/client/frame.rs
  src/sources/redis/client/mod.rs
  src/sources/redis/client/resp.rs
  src/sources/redis/config.rs
  src/sources/redis/connection.rs
  src/sources/redis/info.rs
  src/sources/redis/latency.rs
  src/sources/redis/mod.rs
  src/sources/redis/sentinel.rs
  src/sources/redis/slowlog.rs
Labels: sources

add cluster & sentinel
  tests/redis/cluster.yaml
  tests/redis/sentinel.yaml
Labels: tests

remove unused
  src/sources/redis/info.rs
Labels: sources

fix avg_ttl
  src/sources/redis/info.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 076c0919df8aa3ff580365587f7dc0ed6d972595
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 076c0919df8aa3ff580365587f7dc0ed6d972595
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 076c0919df8aa3ff580365587f7dc0ed6d972595
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 076c0919df8aa3ff580365587f7dc0ed6d972595
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 076c0919df8aa3ff580365587f7dc0ed6d972595
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 076c0919df8aa3ff580365587f7dc0ed6d972595
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 5ae498377c7e7b59dd46eb9883c05b05d37591c3
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 5ae498377c7e7b59dd46eb9883c05b05d37591c3
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e6b8a332094935cdec6df37d7058b411e03f8bbd
  bench/data.js
Labels: none
