Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add metrics (customSmallerIsBetter) benchmark result for 625a6f7062c19654bc39329014a8c181e9d00b1d
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 625a6f7062c19654bc39329014a8c181e9d00b1d
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 625a6f7062c19654bc39329014a8c181e9d00b1d
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 625a6f7062c19654bc39329014a8c181e9d00b1d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 625a6f7062c19654bc39329014a8c181e9d00b1d
  bench/data.js
Labels: none

add buddyinfo collector
  src/sources/node/buddyinfo.rs
  src/sources/node/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 8db37963159df7d03cf9ca98c687b849eaf36023
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8db37963159df7d03cf9ca98c687b849eaf36023
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8db37963159df7d03cf9ca98c687b849eaf36023
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8db37963159df7d03cf9ca98c687b849eaf36023
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8db37963159df7d03cf9ca98c687b849eaf36023
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8db37963159df7d03cf9ca98c687b849eaf36023
  bench/data.js
Labels: none

add lnstat collector
  src/sources/node/lnstat.rs
  src/sources/node/mod.rs
Labels: sources

add doc for lnstat collector
  src/sources/node/mod.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for f701b9d908b47aad4fbc402fc1e2278e4dcb4477
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f701b9d908b47aad4fbc402fc1e2278e4dcb4477
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f701b9d908b47aad4fbc402fc1e2278e4dcb4477
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f701b9d908b47aad4fbc402fc1e2278e4dcb4477
  bench/data.js
Labels: none

add cgroups collector
  src/sources/node/cgroups.rs
  src/sources/node/mod.rs
Labels: sources

add vertex (customSmallerIsBetter) benchmark result for f701b9d908b47aad4fbc402fc1e2278e4dcb4477
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f701b9d908b47aad4fbc402fc1e2278e4dcb4477
  bench/data.js
Labels: none

add /proc/cgroups
  tests/node/fixtures.ttar
Labels: tests

add prometheus (customSmallerIsBetter) benchmark result for eeddbd4783ae657d44934ab7da7dcb64da94b2fb
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for eeddbd4783ae657d44934ab7da7dcb64da94b2fb
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for eeddbd4783ae657d44934ab7da7dcb64da94b2fb
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for eeddbd4783ae657d44934ab7da7dcb64da94b2fb
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for eeddbd4783ae657d44934ab7da7dcb64da94b2fb
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for eeddbd4783ae657d44934ab7da7dcb64da94b2fb
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2dde8fed3656350d291f3e7df5f9097752ec8614
  bench/data.js
Labels: none

add timeout for tests
  .cargo/nextest.toml
Labels: none

bump humanize to latest version
  Cargo.lock
  Cargo.toml
  lib/buffer/Cargo.toml
  lib/configurable/Cargo.toml
  lib/framework/Cargo.toml
  lib/tail/Cargo.toml
  lib/vtl/Cargo.toml
Labels: VTL

add prometheus (customSmallerIsBetter) benchmark result for e43dc5a22b787c54aa03f2f7aa68bebe023397dc
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e43dc5a22b787c54aa03f2f7aa68bebe023397dc
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e43dc5a22b787c54aa03f2f7aa68bebe023397dc
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e43dc5a22b787c54aa03f2f7aa68bebe023397dc
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e43dc5a22b787c54aa03f2f7aa68bebe023397dc
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e8c42ddd4ea1195549c00227896b10488f8590ef
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e8c42ddd4ea1195549c00227896b10488f8590ef
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e8c42ddd4ea1195549c00227896b10488f8590ef
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e8c42ddd4ea1195549c00227896b10488f8590ef
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
