Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add tracing-limit (customSmallerIsBetter) benchmark result for 3e0579ddb22e6e02817a0ee679508e6093e3aca9
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3e0579ddb22e6e02817a0ee679508e6093e3aca9
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3e0579ddb22e6e02817a0ee679508e6093e3aca9
  bench/data.js
Labels: none

style
  lib/vtl/src/compiler/function/set.rs
Labels: VTL

fix return value
  lib/vtl/src/compiler/parser.rs
Labels: VTL

handle return properly
  lib/vtl/src/compiler/block.rs
Labels: VTL

add group_by example
  lib/vtl/examples/group_by.rs
Labels: VTL

add prometheus (customSmallerIsBetter) benchmark result for afa551ccf8719f4d1e4d0a9864c13bfed44b863f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for afa551ccf8719f4d1e4d0a9864c13bfed44b863f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for afa551ccf8719f4d1e4d0a9864c13bfed44b863f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for afa551ccf8719f4d1e4d0a9864c13bfed44b863f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for afa551ccf8719f4d1e4d0a9864c13bfed44b863f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for afa551ccf8719f4d1e4d0a9864c13bfed44b863f
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 180184f52f4ed29216e5f7f7a23fe1d1ef277e06
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 180184f52f4ed29216e5f7f7a23fe1d1ef277e06
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8cb71b843793878a0f6e511752f5ac62d45abdc3
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8cb71b843793878a0f6e511752f5ac62d45abdc3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 180184f52f4ed29216e5f7f7a23fe1d1ef277e06
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8cb71b843793878a0f6e511752f5ac62d45abdc3
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 180184f52f4ed29216e5f7f7a23fe1d1ef277e06
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8cb71b843793878a0f6e511752f5ac62d45abdc3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8cb71b843793878a0f6e511752f5ac62d45abdc3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 180184f52f4ed29216e5f7f7a23fe1d1ef277e06
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8cb71b843793878a0f6e511752f5ac62d45abdc3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 180184f52f4ed29216e5f7f7a23fe1d1ef277e06
  bench/data.js
Labels: none

switch offset to calculate_start*
  src/common/offset.rs
  src/sources/http_check.rs
  src/sources/prometheus_scrape.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for d4717cf19ebe68cb4fbc5754e865aa8c54dd630e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d4717cf19ebe68cb4fbc5754e865aa8c54dd630e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d4717cf19ebe68cb4fbc5754e865aa8c54dd630e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d4717cf19ebe68cb4fbc5754e865aa8c54dd630e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d4717cf19ebe68cb4fbc5754e865aa8c54dd630e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d4717cf19ebe68cb4fbc5754e865aa8c54dd630e
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for eb84db66a347b76f38b2625b88c7703fac0afc99
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for eb84db66a347b76f38b2625b88c7703fac0afc99
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for eb84db66a347b76f38b2625b88c7703fac0afc99
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for eb84db66a347b76f38b2625b88c7703fac0afc99
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for eb84db66a347b76f38b2625b88c7703fac0afc99
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for eb84db66a347b76f38b2625b88c7703fac0afc99
  bench/data.js
Labels: none

unify listen name
  src/sources/fluent/mod.rs
Labels: sources

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
