Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add prometheus (customSmallerIsBetter) benchmark result for 33d688e4f7198469564aa0f1f67102c203ee8a4c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 33d688e4f7198469564aa0f1f67102c203ee8a4c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 33d688e4f7198469564aa0f1f67102c203ee8a4c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 33d688e4f7198469564aa0f1f67102c203ee8a4c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 33d688e4f7198469564aa0f1f67102c203ee8a4c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 33d688e4f7198469564aa0f1f67102c203ee8a4c
  bench/data.js
Labels: none

move common/http.rs to sources/http
  src/common/mod.rs
  src/sources/http/mod.rs
  src/sources/http/param.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for e4f7e90271372c48abe24a797e1ecd6b89361fcf
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e4f7e90271372c48abe24a797e1ecd6b89361fcf
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e4f7e90271372c48abe24a797e1ecd6b89361fcf
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e4f7e90271372c48abe24a797e1ecd6b89361fcf
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e4f7e90271372c48abe24a797e1ecd6b89361fcf
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e4f7e90271372c48abe24a797e1ecd6b89361fcf
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1d36140e84a6c5c95964a07b61182f2246557a54
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1d36140e84a6c5c95964a07b61182f2246557a54
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 1d36140e84a6c5c95964a07b61182f2246557a54
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 1d36140e84a6c5c95964a07b61182f2246557a54
  bench/data.js
Labels: none

switch `xxhash3_64` to `xxhash64`
  lib/vtl/Cargo.toml
  lib/vtl/src/compiler/function/xxhash.rs
Labels: VTL

add vertex (customSmallerIsBetter) benchmark result for 1d36140e84a6c5c95964a07b61182f2246557a54
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 1d36140e84a6c5c95964a07b61182f2246557a54
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for edcd802c936d6ab80d69c4fb6033fcc971efa0f3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for edcd802c936d6ab80d69c4fb6033fcc971efa0f3
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for edcd802c936d6ab80d69c4fb6033fcc971efa0f3
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for edcd802c936d6ab80d69c4fb6033fcc971efa0f3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for edcd802c936d6ab80d69c4fb6033fcc971efa0f3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for edcd802c936d6ab80d69c4fb6033fcc971efa0f3
  bench/data.js
Labels: none

disable `opt-level = "z"` for minimal
  Cargo.toml
Labels: none

add metrics (customSmallerIsBetter) benchmark result for bef9afec017053ccd7583e6202d91f8b8d70a101
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for bef9afec017053ccd7583e6202d91f8b8d70a101
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for bef9afec017053ccd7583e6202d91f8b8d70a101
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for bef9afec017053ccd7583e6202d91f8b8d70a101
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for bef9afec017053ccd7583e6202d91f8b8d70a101
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for bef9afec017053ccd7583e6202d91f8b8d70a101
  bench/data.js
Labels: none

cache `btime`
  src/sources/selfstat/linux.rs
Labels: sources

fix `proc_stat` test
  src/sources/selfstat/linux.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for d119db057395d87c05ed6cdcd8ecc45a4da4f377
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d119db057395d87c05ed6cdcd8ecc45a4da4f377
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d119db057395d87c05ed6cdcd8ecc45a4da4f377
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d119db057395d87c05ed6cdcd8ecc45a4da4f377
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d119db057395d87c05ed6cdcd8ecc45a4da4f377
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
