Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add prometheus (customSmallerIsBetter) benchmark result for cfe1b56ff5523d3c0881b6cb9c826d78599fcd2b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for cfe1b56ff5523d3c0881b6cb9c826d78599fcd2b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for cfe1b56ff5523d3c0881b6cb9c826d78599fcd2b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for cfe1b56ff5523d3c0881b6cb9c826d78599fcd2b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for cfe1b56ff5523d3c0881b6cb9c826d78599fcd2b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for cfe1b56ff5523d3c0881b6cb9c826d78599fcd2b
  bench/data.js
Labels: none

add From<Cow<'_, str>> for Value
  lib/event/src/tags/key.rs
  lib/event/src/tags/value.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 316865e466a61b9e2a5751decbb2158417cd5ffa
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 316865e466a61b9e2a5751decbb2158417cd5ffa
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 316865e466a61b9e2a5751decbb2158417cd5ffa
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 354d8ed6cca9e9a924d7cfb590216f767b7b9def
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 354d8ed6cca9e9a924d7cfb590216f767b7b9def
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 354d8ed6cca9e9a924d7cfb590216f767b7b9def
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 316865e466a61b9e2a5751decbb2158417cd5ffa
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 354d8ed6cca9e9a924d7cfb590216f767b7b9def
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 354d8ed6cca9e9a924d7cfb590216f767b7b9def
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 316865e466a61b9e2a5751decbb2158417cd5ffa
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 316865e466a61b9e2a5751decbb2158417cd5ffa
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 354d8ed6cca9e9a924d7cfb590216f767b7b9def
  bench/data.js
Labels: none

add file sink, it's always good for debug
  Cargo.toml
  src/sinks/file.rs
  src/sinks/mod.rs
Labels: sinks

make rotation config optional
  src/sinks/file.rs
Labels: sinks

add prometheus (customSmallerIsBetter) benchmark result for a2949777d3787ae903952a7671e7475b6d89de6a
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for a2949777d3787ae903952a7671e7475b6d89de6a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for a2949777d3787ae903952a7671e7475b6d89de6a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for a2949777d3787ae903952a7671e7475b6d89de6a
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for a2949777d3787ae903952a7671e7475b6d89de6a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a2949777d3787ae903952a7671e7475b6d89de6a
  bench/data.js
Labels: none

fix some bloating functions
  src/sources/node/nfs.rs
  src/sources/node/nfsd.rs
  src/sources/node/powersupplyclass.rs
  src/sources/node/zfs.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for ec32e3426a303b6747d59a9ba78f6110d553dcac
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ec32e3426a303b6747d59a9ba78f6110d553dcac
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ec32e3426a303b6747d59a9ba78f6110d553dcac
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ec32e3426a303b6747d59a9ba78f6110d553dcac
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ec32e3426a303b6747d59a9ba78f6110d553dcac
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ec32e3426a303b6747d59a9ba78f6110d553dcac
  bench/data.js
Labels: none

wrap const_labels with Arc, which reduce some clones(allocation)
  src/sinks/prometheus_exporter.rs
Labels: sinks

fix filename of zfs' dbuf stats
  tests/node/fixtures.ttar
Labels: tests

add prometheus (customSmallerIsBetter) benchmark result for a39fcadd8bd2d02fec20e3d68897ce573bef2784
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for a39fcadd8bd2d02fec20e3d68897ce573bef2784
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for a39fcadd8bd2d02fec20e3d68897ce573bef2784
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for a39fcadd8bd2d02fec20e3d68897ce573bef2784
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
