Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: sources, transforms, sinks, topology, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

sources:
  - src/sources/**/*

transforms:
  - src/transforms/**/*

sinks:
  - src/sinks/**/*

topology:
  - src/topology/**/*

docs:
  - docs/**/*

benches:
  - benches/**/*

tests:
  - tests/**/*

add dockerfile
  distribution/docker/debian/Dockerfile
  distribution/docker/distroless-libc/Dockerfile
Labels: none

update
  .github/workflows/nightly.yml
  distribution/docker/distroless-libc/Dockerfile
  src/main.rs
Labels: none

update
  Cargo.lock
  Cargo.toml
  Cross.toml
  Makefile
  ci/cross/bootstrap-rhel.sh
  ci/cross/bootstrap-ubuntu.sh
  ci/cross/x86_64-unknown-linux-gnu.dockerfile
  ci/cross/x86_64-unknown-linux-musl.dockerfile
  distribution/docker/distroless-static/Dockerfile
  docker/cross/bootstrap-ubuntu.sh
  rust-toolchain.toml
  scripts/environment/setup-helm.sh
Labels: none

update
  Cargo.toml
  Cross.toml
  Makefile
Labels: none

update
  Cargo.lock
  Cargo.toml
  Makefile
  rust-toolchain.toml
Labels: none

update
  Cargo.toml
  Makefile
  ci/cross/bootstrap-rhel.sh
  lib/internal/src/kafka.rs
  lib/internal/src/lib.rs
  src/common/kafka.rs
  src/common/mod.rs
  src/sinks/kafka/mod.rs
  src/sinks/mod.rs
  src/sources/kafka.rs
  src/sources/kafka_metrics.rs
  src/sources/mod.rs
Labels: sources, sinks

update
  Cargo.lock
  Cargo.toml
  src/common/mod.rs
  src/main.rs
  src/sources/mod.rs
Labels: sources

update
  .github/workflows/nightly.yml
Labels: none

fix cross image build step
  .github/workflows/nightly.yml
Labels: none

try login
  .github/workflows/nightly.yml
Labels: none

bump alpine to 3.15.0
  distribution/docker/alpine/Dockerfile
Labels: none

fix docker file path
  .github/workflows/nightly.yml
Labels: none

fix some clippy warnings
  lib/event/src/value.rs
Labels: none

rename tag to ${channel}-${arch}-${base_image}
  .github/workflows/nightly.yml
Labels: none

init
  Cargo.lock
  Cargo.toml
  src/config/mod.rs
  src/config/uri.rs
  src/sinks/loki/config.rs
  src/sinks/util/service/mod.rs
  src/topology/builder.rs
Labels: sinks, topology

update
  Cargo.toml
  lib/event/src/encoding/config.rs
  lib/event/src/lib.rs
  lib/event/src/logfmt.rs
  lib/humanize/src/duration_std.rs
  lib/humanize/src/lib.rs
  lib/internal/src/common.rs
  lib/testify/src/random.rs
  src/common/events/mod.rs
  src/common/events/template.rs
  src/common/mod.rs
  src/config/helper.rs
  src/config/mod.rs
  src/config/uri.rs
  src/shutdown.rs
  src/sinks/loki/config.rs
  src/sinks/loki/event.rs
  src/sinks/loki/healthcheck.rs
  src/sinks/loki/mod.rs
  src/sinks/loki/request_builder.rs
  src/sinks/loki/service.rs
  src/sinks/loki/sink.rs
  src/sinks/loki/tests.rs
  src/sinks/prometheus_exporter.rs
  src/sinks/util/adaptive_concurrency/mod.rs
  src/sinks/util/mod.rs
  src/sinks/util/service/mod.rs
  src/sinks/util/testing.rs
  src/stream/mod.rs
  src/topology/builder.rs
Labels: sinks, topology

update
  src/sinks/loki/tests.rs
Labels: sinks

impl into_batcher_settings
  src/batch.rs
Labels: none

fix test
  src/sinks/loki/sink.rs
Labels: sinks

update
  dev.yml
  src/sinks/loki/mod.rs
  src/sinks/loki/request_builder.rs
  src/sinks/loki/sink.rs
  tests/http_config.rs
  tests/http_echo.rs
Labels: sinks, tests

update
  Cargo.lock
  Cargo.toml
  benches/loki.rs
  build.rs
  lib/humanize/Cargo.toml
  lib/humanize/benches/duration.rs
  lib/redfish/Cargo.toml
  lib/redfish/src/lib.rs
  src/lib.rs
  src/sinks/loki/config.rs
  src/sinks/loki/healthcheck.rs
  src/sinks/loki/mod.rs
  src/sinks/loki/proto/loki.proto
  src/sinks/loki/tests.rs
  src/sinks/mod.rs
  src/sinks/util/service/mod.rs
  tests/compression.rs
  tests/serde_deserialize.rs
Labels: sinks, benches, tests

remove unused
  tests/compression.rs
  tests/serde_deserialize.rs
Labels: tests

update
  ci/cross/bootstrap-ubuntu.sh
  dev.yml
  src/sinks/loki/config.rs
  src/sinks/loki/request_builder.rs
  src/sinks/loki/service.rs
  src/sinks/loki/sink.rs
  src/sinks/loki/tests.rs
  src/sinks/util/mod.rs
Labels: sinks

just print "gzip content received", rather than panic
  dev.yml
  tests/http_echo.rs
Labels: tests

add `integration-tests-*` features
  Cargo.lock
  Cargo.toml
  lib/sysinfo/Cargo.toml
  lib/sysinfo/src/lib.rs
  lib/sysinfo/src/unix.rs
  src/config/provider/http.rs
  src/sources/kafka.rs
  src/sources/mod.rs
  src/sources/nginx_stub.rs
Labels: sources

add integration test for nginx_stub
  .github/workflows/integration_tests.yml
  Makefile
Labels: none

add push to test integration_test workflow
  .github/workflows/integration_tests.yml
Labels: none

fix nginx_stub's integration_test target name
  Makefile
Labels: none

remove test trigger
  .github/workflows/integration_tests.yml
Labels: none

set RUSTFLAGS=-Awarnings for integration-test
  Makefile
Labels: none
