Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add tracing-limit (customSmallerIsBetter) benchmark result for 4e3cfaf30cdac1195d16d68f32717745f749efb3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 4e3cfaf30cdac1195d16d68f32717745f749efb3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 4e3cfaf30cdac1195d16d68f32717745f749efb3
  bench/data.js
Labels: none

add sources/podman
  Cargo.toml
  src/sources/mod.rs
  src/sources/podman.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for d07cf33e4564271419a052b038a36d6f3889a773
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d07cf33e4564271419a052b038a36d6f3889a773
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d07cf33e4564271419a052b038a36d6f3889a773
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d07cf33e4564271419a052b038a36d6f3889a773
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d07cf33e4564271419a052b038a36d6f3889a773
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d07cf33e4564271419a052b038a36d6f3889a773
  bench/data.js
Labels: none

add image to tag
  src/sources/podman.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for cc284ceb13fc94f8b085c2a6fa91476754589c79
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for cc284ceb13fc94f8b085c2a6fa91476754589c79
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for cc284ceb13fc94f8b085c2a6fa91476754589c79
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for cc284ceb13fc94f8b085c2a6fa91476754589c79
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for cc284ceb13fc94f8b085c2a6fa91476754589c79
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for cc284ceb13fc94f8b085c2a6fa91476754589c79
  bench/data.js
Labels: none

implement TypeSize for Value in lib/value
  Cargo.lock
  lib/typesize/Cargo.toml
  lib/typesize/src/lib.rs
  lib/value/Cargo.toml
  lib/value/src/lib.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 035bab2f15f7ed26742131f086b62d44a8064f85
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 035bab2f15f7ed26742131f086b62d44a8064f85
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 035bab2f15f7ed26742131f086b62d44a8064f85
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 035bab2f15f7ed26742131f086b62d44a8064f85
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 035bab2f15f7ed26742131f086b62d44a8064f85
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 035bab2f15f7ed26742131f086b62d44a8064f85
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for dbae02d8228a3de3a087fbfaf830c76195cb92e3
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for dbae02d8228a3de3a087fbfaf830c76195cb92e3
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 54f190e18f397ad57ec20d921cf2b4c25fd714e1
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 54f190e18f397ad57ec20d921cf2b4c25fd714e1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for dbae02d8228a3de3a087fbfaf830c76195cb92e3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 54f190e18f397ad57ec20d921cf2b4c25fd714e1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for dbae02d8228a3de3a087fbfaf830c76195cb92e3
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 54f190e18f397ad57ec20d921cf2b4c25fd714e1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for dbae02d8228a3de3a087fbfaf830c76195cb92e3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 54f190e18f397ad57ec20d921cf2b4c25fd714e1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for dbae02d8228a3de3a087fbfaf830c76195cb92e3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 54f190e18f397ad57ec20d921cf2b4c25fd714e1
  bench/data.js
Labels: none

update humanize to latest version
  Cargo.lock
  Cargo.toml
  lib/buffer/Cargo.toml
  lib/configurable/Cargo.toml
  lib/framework/Cargo.toml
  lib/tail/Cargo.toml
  lib/vtl/Cargo.toml
Labels: VTL

add prometheus (customSmallerIsBetter) benchmark result for 2823b63de668ed2fc5a61b885a659ea535b0c8ab
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 2823b63de668ed2fc5a61b885a659ea535b0c8ab
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 2823b63de668ed2fc5a61b885a659ea535b0c8ab
  bench/data.js
Labels: none
