Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add tracing-limit (customSmallerIsBetter) benchmark result for 6ff6ad3de78376ba1b5e773c7a05bc957266eba3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 6ff6ad3de78376ba1b5e773c7a05bc957266eba3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 6ff6ad3de78376ba1b5e773c7a05bc957266eba3
  bench/data.js
Labels: none

produce logs(flow data and sample data) and metrics(counter data)
  Cargo.toml
  build.rs
  examples/sflow_to_console.yml
  lib/event/src/tags/value.rs
  src/sources/sflow/datagram.rs
  src/sources/sflow/mod.rs
Labels: sources

bump uuid to 1.12.1
  Cargo.lock
  Cargo.toml
Labels: none

bump uuid to 1.12.1 (#2146)
  Cargo.lock
  Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for d2d28366fe38c7725934332dba4e011bbb020d76
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d2d28366fe38c7725934332dba4e011bbb020d76
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d2d28366fe38c7725934332dba4e011bbb020d76
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d2d28366fe38c7725934332dba4e011bbb020d76
  bench/data.js
Labels: none

convert counter data to metrics
  examples/sflow_to_console.yml
  lib/event/src/tags/value.rs
  src/sources/sflow/datagram.rs
  src/sources/sflow/mod.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for d2d28366fe38c7725934332dba4e011bbb020d76
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d2d28366fe38c7725934332dba4e011bbb020d76
  bench/data.js
Labels: none

simplify PackedForward parsing
  src/sources/fluent/mod.rs
Labels: sources

convert counter data to metrics (#2147)
  examples/sflow_to_console.yml
  lib/event/src/tags/value.rs
  src/sources/sflow/datagram.rs
  src/sources/sflow/mod.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for 6cf6391030cad75fd70848f37c2a625672feabe7
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 6cf6391030cad75fd70848f37c2a625672feabe7
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 6cf6391030cad75fd70848f37c2a625672feabe7
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 6cf6391030cad75fd70848f37c2a625672feabe7
  bench/data.js
Labels: none

simplify PackedForward parsing (#2148)
  src/sources/fluent/mod.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for 6cf6391030cad75fd70848f37c2a625672feabe7
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 6cf6391030cad75fd70848f37c2a625672feabe7
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 803b82a2497be25247e1be02d3eac9479f026ce1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 803b82a2497be25247e1be02d3eac9479f026ce1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 803b82a2497be25247e1be02d3eac9479f026ce1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 803b82a2497be25247e1be02d3eac9479f026ce1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 803b82a2497be25247e1be02d3eac9479f026ce1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 803b82a2497be25247e1be02d3eac9479f026ce1
  bench/data.js
Labels: none

pipeline send events only
  lib/event/src/array.rs
  lib/finalize/src/finalization.rs
  lib/framework/src/pipeline/mod.rs
  lib/framework/src/source/util/http/source.rs
  lib/testify/src/stream.rs
  src/sources/exec/mod.rs
  src/sources/fluent/mod.rs
  src/sources/http_check.rs
  src/sources/internal_logs.rs
  src/sources/journald.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/prometheus_pushgateway.rs
  src/sources/prometheus_remote_write.rs
  src/sources/static_metrics.rs
  src/sources/syslog.rs
  src/sources/tail/mod.rs
  src/testing/components.rs
  tests/topology.rs
Labels: sources, tests

fix tests
  src/sources/journald.rs
  src/sources/prometheus_pushgateway.rs
  src/sources/static_metrics.rs
Labels: sources

simplify compiler
  lib/framework/src/config/builder.rs
  lib/framework/src/config/extension.rs
  lib/framework/src/config/global.rs
  lib/framework/src/config/mod.rs
  lib/framework/src/config/transform.rs
  lib/framework/src/config/validation.rs
  lib/framework/src/transform.rs
Labels: none

add can_acknowledge to SourceConfig
  tests/util/mock/mod.rs
Labels: tests

add the missing mod
  lib/framework/src/source/http/auth.rs
  lib/framework/src/source/http/decode.rs
  lib/framework/src/source/http/error.rs
  lib/framework/src/source/http/mod.rs
  lib/framework/src/source/http/source.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for a59776cb7497fc603e6a446d768dcacbf88d4ea6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for a59776cb7497fc603e6a446d768dcacbf88d4ea6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for a59776cb7497fc603e6a446d768dcacbf88d4ea6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for a59776cb7497fc603e6a446d768dcacbf88d4ea6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a59776cb7497fc603e6a446d768dcacbf88d4ea6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for a59776cb7497fc603e6a446d768dcacbf88d4ea6
  bench/data.js
Labels: none

re-order framework/source/utils
  lib/framework/src/source/finalizer.rs
  lib/framework/src/source/mod.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/source/unix.rs
  lib/framework/src/source/util/mod.rs
  lib/framework/src/source/util/wrappers.rs
  src/sources/netflow/mod.rs
  src/sources/syslog.rs
  src/sources/tail/mod.rs
Labels: sources
