Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add vertex (customSmallerIsBetter) benchmark result for 12704f93b0860ac0c17012009011f93cf5f2356c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 12704f93b0860ac0c17012009011f93cf5f2356c
  bench/data.js
Labels: none

cleanup
  lib/framework/Cargo.toml
  lib/framework/src/dns.rs
  lib/framework/src/tls/incoming.rs
Labels: none

add event (customSmallerIsBetter) benchmark result for bbbb63d3befb52715b868e0429b7788586f19c27
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for bbbb63d3befb52715b868e0429b7788586f19c27
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for bbbb63d3befb52715b868e0429b7788586f19c27
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for bbbb63d3befb52715b868e0429b7788586f19c27
  bench/data.js
Labels: none

cleanup
  README.md
Labels: none

add Build (customSmallerIsBetter) benchmark result for bbbb63d3befb52715b868e0429b7788586f19c27
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for bbbb63d3befb52715b868e0429b7788586f19c27
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0c380197274f3fb046d457efbabe014ccc0f5b96
  bench/data.js
Labels: none

reorganize sink/utils
  lib/framework/src/sink/http.rs
  lib/framework/src/sink/mod.rs
  lib/framework/src/sink/socket_bytes_sink.rs
  lib/framework/src/sink/tcp.rs
  lib/framework/src/sink/udp.rs
  lib/framework/src/sink/unix.rs
  lib/framework/src/sink/util/mod.rs
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/sink.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/http/config.rs
  src/sinks/http/request_builder.rs
  src/sinks/http/service.rs
  src/sinks/http/sink.rs
  src/sinks/influxdb/config.rs
  src/sinks/influxdb/request_builder.rs
  src/sinks/influxdb/service.rs
  src/sinks/influxdb/sink.rs
  src/sinks/jaeger/http.rs
  src/sinks/jaeger/mod.rs
  src/sinks/prometheus_remote_write.rs
  src/sinks/socket.rs
  tests/socket.rs
  tests/syslog.rs
Labels: sinks, tests

add prometheus (customSmallerIsBetter) benchmark result for ebaa782698c4a5b656e91339519f8285e653be68
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ebaa782698c4a5b656e91339519f8285e653be68
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ebaa782698c4a5b656e91339519f8285e653be68
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ebaa782698c4a5b656e91339519f8285e653be68
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ebaa782698c4a5b656e91339519f8285e653be68
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ebaa782698c4a5b656e91339519f8285e653be68
  bench/data.js
Labels: none

reorganize data structures
  src/sources/sflow/datagram.rs
  src/sources/sflow/mod.rs
Labels: sources

Revert "lib/framework: reorganize sink/utils"
  lib/framework/src/sink/mod.rs
  lib/framework/src/sink/util/http.rs
  lib/framework/src/sink/util/mod.rs
  lib/framework/src/sink/util/socket_bytes_sink.rs
  lib/framework/src/sink/util/tcp.rs
  lib/framework/src/sink/util/udp.rs
  lib/framework/src/sink/util/unix.rs
  src/sinks/clickhouse/config.rs
  src/sinks/clickhouse/sink.rs
  src/sinks/elasticsearch/service.rs
  src/sinks/http/config.rs
  src/sinks/http/request_builder.rs
  src/sinks/http/service.rs
  src/sinks/http/sink.rs
  src/sinks/influxdb/config.rs
  src/sinks/influxdb/request_builder.rs
  src/sinks/influxdb/service.rs
  src/sinks/influxdb/sink.rs
  src/sinks/jaeger/http.rs
  src/sinks/jaeger/mod.rs
  src/sinks/prometheus_remote_write.rs
  src/sinks/socket.rs
  tests/socket.rs
  tests/syslog.rs
Labels: sinks, tests

add prometheus (customSmallerIsBetter) benchmark result for d31cf862e0468209bd2d8b49ec46e21299bc447e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d31cf862e0468209bd2d8b49ec46e21299bc447e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d31cf862e0468209bd2d8b49ec46e21299bc447e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d31cf862e0468209bd2d8b49ec46e21299bc447e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d31cf862e0468209bd2d8b49ec46e21299bc447e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d31cf862e0468209bd2d8b49ec46e21299bc447e
  bench/data.js
Labels: none

optimize syscall lookup
  src/sources/audit/syscalls.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 51f2ae163e6398034e2983593989245eb9bda01a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 51f2ae163e6398034e2983593989245eb9bda01a
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 51f2ae163e6398034e2983593989245eb9bda01a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 51f2ae163e6398034e2983593989245eb9bda01a
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 51f2ae163e6398034e2983593989245eb9bda01a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 51f2ae163e6398034e2983593989245eb9bda01a
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f0c1359d54e1cc7a340aa4dffee9a61efb842d25
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f0c1359d54e1cc7a340aa4dffee9a61efb842d25
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f0c1359d54e1cc7a340aa4dffee9a61efb842d25
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f0c1359d54e1cc7a340aa4dffee9a61efb842d25
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f0c1359d54e1cc7a340aa4dffee9a61efb842d25
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f0c1359d54e1cc7a340aa4dffee9a61efb842d25
  bench/data.js
Labels: none

cleanup
  lib/framework/src/http/proxy/mod.rs
  src/sources/internal_metrics.rs
  src/sources/systemd/dbus.rs
Labels: sources
