Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add prometheus (customSmallerIsBetter) benchmark result for e5c104854e6140218e68a40c35a0a381a3cd39d3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e5c104854e6140218e68a40c35a0a381a3cd39d3
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e5c104854e6140218e68a40c35a0a381a3cd39d3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e5c104854e6140218e68a40c35a0a381a3cd39d3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e5c104854e6140218e68a40c35a0a381a3cd39d3
  bench/data.js
Labels: none

remove SecretString
  lib/framework/src/config/mod.rs
  lib/framework/src/config/secret.rs
  lib/framework/src/config/uri.rs
  lib/framework/src/http/mod.rs
  lib/framework/src/source/http/auth.rs
  src/sinks/elasticsearch/common.rs
  src/sources/pulsar.rs
  src/sources/redis/mod.rs
Labels: sources, sinks

add prometheus (customSmallerIsBetter) benchmark result for 57b8912d84d8aa850723e3837a50a6e6b382f97c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 57b8912d84d8aa850723e3837a50a6e6b382f97c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 57b8912d84d8aa850723e3837a50a6e6b382f97c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 57b8912d84d8aa850723e3837a50a6e6b382f97c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 57b8912d84d8aa850723e3837a50a6e6b382f97c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 57b8912d84d8aa850723e3837a50a6e6b382f97c
  bench/data.js
Labels: none

cleanup
  lib/framework/src/config/env.rs
  lib/framework/src/config/global.rs
  lib/framework/src/config/loading.rs
  lib/framework/src/http/mod.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/template.rs
  lib/framework/src/topology/running.rs
  lib/value/src/path/jit.rs
  src/sources/generate.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 7d7c91f47e5dbd04dc5c56cc1d5e7463db975f90
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7d7c91f47e5dbd04dc5c56cc1d5e7463db975f90
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7d7c91f47e5dbd04dc5c56cc1d5e7463db975f90
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7d7c91f47e5dbd04dc5c56cc1d5e7463db975f90
  bench/data.js
Labels: none

add env expansion comment
  lib/framework/src/config/env.rs
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7d7c91f47e5dbd04dc5c56cc1d5e7463db975f90
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7d7c91f47e5dbd04dc5c56cc1d5e7463db975f90
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 03a5642aa2e3c46ffebc39a262370381c6bc4f92
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 03a5642aa2e3c46ffebc39a262370381c6bc4f92
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 03a5642aa2e3c46ffebc39a262370381c6bc4f92
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 03a5642aa2e3c46ffebc39a262370381c6bc4f92
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 03a5642aa2e3c46ffebc39a262370381c6bc4f92
  bench/data.js
Labels: none

remove docs
  docs/20211103_disk_buffer.md
  docs/20211115_observability.md
  docs/20211119_remote_config.md
  docs/20211124_service_discovery.md
Labels: docs

add Build (customSmallerIsBetter) benchmark result for 03a5642aa2e3c46ffebc39a262370381c6bc4f92
  bench/data.js
Labels: none

fix example config
  examples/fluent.yaml
  examples/pushgateway_to_stdout.yml
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7a105144d112f1486a6a4acc0471babb5cc8e3ab
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f4041ac8c2428e4685a8e65bccd6e0c4edf46fb6
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 906faca7b2eb0cfb204f55d9549ef60f173456a1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 906faca7b2eb0cfb204f55d9549ef60f173456a1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 906faca7b2eb0cfb204f55d9549ef60f173456a1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 906faca7b2eb0cfb204f55d9549ef60f173456a1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 906faca7b2eb0cfb204f55d9549ef60f173456a1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 906faca7b2eb0cfb204f55d9549ef60f173456a1
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 906f036f74616a7e4b9b8cae0c8f6dcb446d7843
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 906f036f74616a7e4b9b8cae0c8f6dcb446d7843
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 906f036f74616a7e4b9b8cae0c8f6dcb446d7843
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 906f036f74616a7e4b9b8cae0c8f6dcb446d7843
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
