Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add vertex (customSmallerIsBetter) benchmark result for c345c152e010b61363599f58b4d7b7e129bcee6f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c345c152e010b61363599f58b4d7b7e129bcee6f
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for dd3dcb02d2f1b2add924c55ae1643f90ee64589f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for dd3dcb02d2f1b2add924c55ae1643f90ee64589f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for dd3dcb02d2f1b2add924c55ae1643f90ee64589f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for dd3dcb02d2f1b2add924c55ae1643f90ee64589f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for dd3dcb02d2f1b2add924c55ae1643f90ee64589f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for dd3dcb02d2f1b2add924c55ae1643f90ee64589f
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f8a7852114d153f3076aa711aaa047c1c352f510
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f8a7852114d153f3076aa711aaa047c1c352f510
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f8a7852114d153f3076aa711aaa047c1c352f510
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f8a7852114d153f3076aa711aaa047c1c352f510
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f8a7852114d153f3076aa711aaa047c1c352f510
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f8a7852114d153f3076aa711aaa047c1c352f510
  bench/data.js
Labels: none

bump rand to 0.10.2
  Cargo.toml
  lib/buffer/Cargo.toml
  lib/event/Cargo.toml
  lib/framework/Cargo.toml
  lib/ntp/Cargo.toml
  lib/resolver/Cargo.toml
  lib/tail/Cargo.toml
  lib/testify/Cargo.toml
Labels: none

bump toolchain to 1.96.1
  rust-toolchain.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for c08c64c1bcc182cf3c4ce0112ec811db8fc9a079
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c08c64c1bcc182cf3c4ce0112ec811db8fc9a079
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c08c64c1bcc182cf3c4ce0112ec811db8fc9a079
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c08c64c1bcc182cf3c4ce0112ec811db8fc9a079
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c08c64c1bcc182cf3c4ce0112ec811db8fc9a079
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c08c64c1bcc182cf3c4ce0112ec811db8fc9a079
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a6df40ecbcd71ffde0750a522db4c9a6476de33d
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 13eb8b53a026449fa5da4d6953a62b3221fd77ae
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 13eb8b53a026449fa5da4d6953a62b3221fd77ae
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 13eb8b53a026449fa5da4d6953a62b3221fd77ae
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 13eb8b53a026449fa5da4d6953a62b3221fd77ae
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 13eb8b53a026449fa5da4d6953a62b3221fd77ae
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 13eb8b53a026449fa5da4d6953a62b3221fd77ae
  bench/data.js
Labels: none

bump toolchain to 1.97.0
  rust-toolchain.toml
Labels: none

force dependabot update Cargo.toml
  .github/dependabot.yml
Labels: CI

add Build (customSmallerIsBetter) benchmark result for 3ab30c6498180ed757f88a8a7a0818be6efa2d91
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9d5177b4212bd3412dba5c78456cda07bc8cf013
  bench/data.js
Labels: none

fix clippy warnings
  lib/framework/src/dns.rs
  lib/value/src/crud/get.rs
  lib/value/src/crud/get_mut.rs
  lib/virt/src/protocol/primitives.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/loki/integration_tests.rs
  src/sources/multiplier/mod.rs
  src/sources/ping.rs
  src/sources/sflow/mod.rs
  src/sources/systemd/dbus.rs
  src/validate.rs
Labels: sources, sinks

fix clippy warnings
  src/sinks/prometheus_exporter.rs
Labels: sinks

add prometheus (customSmallerIsBetter) benchmark result for 65254506d1fbc387eac8af7b900b6100fc045431
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 65254506d1fbc387eac8af7b900b6100fc045431
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 65254506d1fbc387eac8af7b900b6100fc045431
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 65254506d1fbc387eac8af7b900b6100fc045431
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
