Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add Build (customSmallerIsBetter) benchmark result for 88e57803b34ff1a40643eb0a6443929de1c3efa3
  bench/data.js
Labels: none

add extensions/exec_observer
  Cargo.toml
  lib/framework/src/observe/endpoint.rs
  src/extensions/exec_observer.rs
  src/extensions/mod.rs
  tests/exec_observer/config.yaml
  tests/exec_observer/dummy.sh
Labels: extensions, tests

add prometheus (customSmallerIsBetter) benchmark result for fbbca0a90e27a284252ca88183ecc9826b1dc711
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for fbbca0a90e27a284252ca88183ecc9826b1dc711
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for fbbca0a90e27a284252ca88183ecc9826b1dc711
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for fbbca0a90e27a284252ca88183ecc9826b1dc711
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for fbbca0a90e27a284252ca88183ecc9826b1dc711
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fbbca0a90e27a284252ca88183ecc9826b1dc711
  bench/data.js
Labels: none

simplify observer register & warning if the observer have no receivers
  lib/framework/src/observe/mod.rs
  lib/framework/src/observe/observer.rs
  lib/framework/src/topology/builder.rs
  src/extensions/consul_observer.rs
  src/extensions/dns_observer.rs
  src/extensions/exec_observer.rs
  src/extensions/http_observer.rs
  src/extensions/kubernetes_observer/mod.rs
  src/extensions/port_observer.rs
Labels: extensions

fmt
  lib/framework/src/topology/builder.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e88e27d5226c1b5645a1291d16adf631fa1003eb
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e88e27d5226c1b5645a1291d16adf631fa1003eb
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e88e27d5226c1b5645a1291d16adf631fa1003eb
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e88e27d5226c1b5645a1291d16adf631fa1003eb
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e88e27d5226c1b5645a1291d16adf631fa1003eb
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e88e27d5226c1b5645a1291d16adf631fa1003eb
  bench/data.js
Labels: none

remove unused
  lib/framework/src/config/builder.rs
  lib/framework/src/config/loading.rs
  lib/framework/src/config/provider/file.rs
  lib/framework/src/config/provider/mod.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e5ffda71092d371d72e88ea2075e28ffff4be69a
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e5ffda71092d371d72e88ea2075e28ffff4be69a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e5ffda71092d371d72e88ea2075e28ffff4be69a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e5ffda71092d371d72e88ea2075e28ffff4be69a
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e5ffda71092d371d72e88ea2075e28ffff4be69a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e5ffda71092d371d72e88ea2075e28ffff4be69a
  bench/data.js
Labels: none

cleanup
  src/extensions/exec_observer.rs
  src/extensions/healthcheck.rs
  src/extensions/kubernetes_observer/mod.rs
  src/extensions/kubernetes_observer/pod.rs
  src/extensions/kubernetes_observer/service.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 1cd5d7533872859ae43f78e524e7fd8f30415d33
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1cd5d7533872859ae43f78e524e7fd8f30415d33
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1cd5d7533872859ae43f78e524e7fd8f30415d33
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 1cd5d7533872859ae43f78e524e7fd8f30415d33
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 1cd5d7533872859ae43f78e524e7fd8f30415d33
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 1cd5d7533872859ae43f78e524e7fd8f30415d33
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e48bece723949477dd15ec8a90254d2ef6166ead
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e48bece723949477dd15ec8a90254d2ef6166ead
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e48bece723949477dd15ec8a90254d2ef6166ead
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e48bece723949477dd15ec8a90254d2ef6166ead
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e48bece723949477dd15ec8a90254d2ef6166ead
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e48bece723949477dd15ec8a90254d2ef6166ead
  bench/data.js
Labels: none

simplify
  lib/buffers/src/lib.rs
  lib/framework/src/config/extension.rs
  lib/framework/src/config/id.rs
  lib/framework/src/observe/observer.rs
  lib/framework/src/topology/builder.rs
  src/extensions/consul_observer.rs
  src/extensions/dns_observer.rs
  src/extensions/exec_observer.rs
  src/extensions/http_observer.rs
  src/extensions/kubernetes_observer/mod.rs
  src/extensions/port_observer.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for e52155f22c52af0b38feadb40e06a75ecaf59e62
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e52155f22c52af0b38feadb40e06a75ecaf59e62
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e52155f22c52af0b38feadb40e06a75ecaf59e62
  bench/data.js
Labels: none
