Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add vertex (customSmallerIsBetter) benchmark result for 08a320e83baf016bb240f036b494dafd1a503c0b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 08a320e83baf016bb240f036b494dafd1a503c0b
  bench/data.js
Labels: none

Revert "remove lib/xdr (#2184)"
  Cargo.lock
  Cargo.toml
  lib/xdr/Cargo.toml
  lib/xdr/src/lib.rs
  src/sources/netflow/decode.rs
  src/sources/netflow/ipfix.rs
  src/sources/netflow/netflow.rs
  src/sources/sflow/datagram.rs
Labels: sources

Revert "remove lib/xdr (#2184)" (#2185)
  Cargo.lock
  Cargo.toml
  lib/xdr/Cargo.toml
  lib/xdr/src/lib.rs
  src/sources/netflow/decode.rs
  src/sources/netflow/ipfix.rs
  src/sources/netflow/netflow.rs
  src/sources/sflow/datagram.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for bd287bc72f85da88802b90fe60899b5661824fa9
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for bd287bc72f85da88802b90fe60899b5661824fa9
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for bd287bc72f85da88802b90fe60899b5661824fa9
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for bd287bc72f85da88802b90fe60899b5661824fa9
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for bd287bc72f85da88802b90fe60899b5661824fa9
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for bd287bc72f85da88802b90fe60899b5661824fa9
  bench/data.js
Labels: none

try remove tokio::sync::Mutex
  src/extensions/jemalloc.rs
  src/sources/jaeger/grpc.rs
  src/sources/jaeger/http.rs
Labels: sources, extensions

fix something
  Cargo.toml
  lib/framework/src/sink/util/http.rs
  lib/framework/src/sink/util/request_builder.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/tls/incoming.rs
  regression/fluent_to_http/lading.yaml
  regression/fluent_to_http/vertex.yaml
  src/sinks/http/config.rs
  src/sinks/http/request_builder.rs
  src/sinks/influxdb/request_builder.rs
  src/sources/fluent/mod.rs
  src/sources/fluent/msgpack.rs
  src/sources/mqtt/mod.rs
Labels: sources, sinks

try remove tokio::sync::Mutex (#2186)
  src/extensions/jemalloc.rs
  src/sources/jaeger/grpc.rs
  src/sources/jaeger/http.rs
Labels: sources, extensions

add prometheus (customSmallerIsBetter) benchmark result for 428c8f4ab08e40b920f08d6b1ded22384453166e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 428c8f4ab08e40b920f08d6b1ded22384453166e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 428c8f4ab08e40b920f08d6b1ded22384453166e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 428c8f4ab08e40b920f08d6b1ded22384453166e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 428c8f4ab08e40b920f08d6b1ded22384453166e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 428c8f4ab08e40b920f08d6b1ded22384453166e
  bench/data.js
Labels: none

small tweaks
  Cargo.toml
  lib/framework/src/config/source.rs
  lib/framework/src/http/serve.rs
  lib/framework/src/source/http/source.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/topology/builder.rs
  regression/Dockerfile
  regression/docker-compose.yaml
  regression/fluent_to_http/lading.yaml
  regression/fluent_to_http/vertex.yaml
  src/extensions/jemalloc.rs
  src/extensions/mod.rs
  src/extensions/pprof.rs
  src/extensions/pprof/heap.rs
  src/extensions/pprof/jeprof.in
  src/extensions/pprof/mod.rs
  src/extensions/pprof/profile.rs
  src/launch.rs
  src/sinks/http/encoder.rs
  src/sources/fluent/mod.rs
  src/sources/fluent/msgpack.rs
  src/sources/jaeger/mod.rs
  src/sources/tail/mod.rs
Labels: sources, sinks, extensions

misc: fix something (#2187)
  Cargo.toml
  lib/framework/src/config/source.rs
  lib/framework/src/http/serve.rs
  lib/framework/src/sink/util/http.rs
  lib/framework/src/sink/util/request_builder.rs
  lib/framework/src/source/http/source.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/tls/incoming.rs
  lib/framework/src/topology/builder.rs
  regression/Dockerfile
  regression/docker-compose.yaml
  regression/fluent_to_http/lading.yaml
  regression/fluent_to_http/vertex.yaml
  src/extensions/jemalloc.rs
  src/extensions/mod.rs
  src/extensions/pprof.rs
  src/extensions/pprof/heap.rs
  src/extensions/pprof/jeprof.in
  src/extensions/pprof/mod.rs
  src/extensions/pprof/profile.rs
  src/launch.rs
  src/sinks/http/config.rs
  src/sinks/http/encoder.rs
  src/sinks/http/request_builder.rs
  src/sinks/influxdb/request_builder.rs
  src/sources/fluent/mod.rs
  src/sources/fluent/msgpack.rs
  src/sources/jaeger/mod.rs
  src/sources/mqtt/mod.rs
  src/sources/tail/mod.rs
Labels: sources, sinks, extensions

add metrics (customSmallerIsBetter) benchmark result for 260c9e7965197b0bc0f102a1b192e69a7b374cdd
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 260c9e7965197b0bc0f102a1b192e69a7b374cdd
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 260c9e7965197b0bc0f102a1b192e69a7b374cdd
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 260c9e7965197b0bc0f102a1b192e69a7b374cdd
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 260c9e7965197b0bc0f102a1b192e69a7b374cdd
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for ba6a3324af589982a745edebed6c789a882265c8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ba6a3324af589982a745edebed6c789a882265c8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ba6a3324af589982a745edebed6c789a882265c8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ba6a3324af589982a745edebed6c789a882265c8
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ba6a3324af589982a745edebed6c789a882265c8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ba6a3324af589982a745edebed6c789a882265c8
  bench/data.js
Labels: none

disable jemalloc by default
  Cargo.toml
Labels: none

disable jemalloc by default (#2190)
  Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for ccf23f7e1c041d5b1409697b8d275a18feacceee
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ccf23f7e1c041d5b1409697b8d275a18feacceee
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ccf23f7e1c041d5b1409697b8d275a18feacceee
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ccf23f7e1c041d5b1409697b8d275a18feacceee
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ccf23f7e1c041d5b1409697b8d275a18feacceee
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ccf23f7e1c041d5b1409697b8d275a18feacceee
  bench/data.js
Labels: none
