Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

fix pull
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
Labels: none

lib/testify: add async docker implement (#2208)
  Cargo.lock
  Cargo.toml
  Makefile
  lib/framework/src/sink/util/buffer/compression.rs
  lib/testify/Cargo.toml
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
  lib/testify/src/lib.rs
  scripts/redfish_prepare.sh
  src/sinks/loki/config.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/mod.rs
  src/sinks/loki/proto/loki.proto
  src/sinks/loki/request_builder.rs
  src/sinks/loki/service.rs
  src/sources/dnstap/mod.rs
  src/testing/wait.rs
Labels: sources, sinks

add prometheus (customSmallerIsBetter) benchmark result for 5f09a3b3d1ed6b8b5d400bfe80835bc8c2616c99
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 5f09a3b3d1ed6b8b5d400bfe80835bc8c2616c99
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 5f09a3b3d1ed6b8b5d400bfe80835bc8c2616c99
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 5f09a3b3d1ed6b8b5d400bfe80835bc8c2616c99
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5f09a3b3d1ed6b8b5d400bfe80835bc8c2616c99
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 5f09a3b3d1ed6b8b5d400bfe80835bc8c2616c99
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 49e7b6a5dda6040e4db07e797c273da38a315ff7
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 49e7b6a5dda6040e4db07e797c273da38a315ff7
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 49e7b6a5dda6040e4db07e797c273da38a315ff7
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 49e7b6a5dda6040e4db07e797c273da38a315ff7
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 49e7b6a5dda6040e4db07e797c273da38a315ff7
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 49e7b6a5dda6040e4db07e797c273da38a315ff7
  bench/data.js
Labels: none

remove unused feature
  Cargo.toml
  lib/buffers/Cargo.toml
  lib/framework/Cargo.toml
  lib/testify/Cargo.toml
Labels: none

remove unused feature (#2210)
  Cargo.toml
  lib/buffers/Cargo.toml
  lib/framework/Cargo.toml
  lib/testify/Cargo.toml
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9356036bf9cc69cd552a90e3c9024f5354595152
  bench/data.js
Labels: none

add necessary features
  lib/framework/Cargo.toml
Labels: none

add Build (customSmallerIsBetter) benchmark result for a202d7c636cfa8d0ad420dcd9ed5f062b625d725
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f39f07f5c9a82fb7ee063590d80ffa509039d0cf
  bench/data.js
Labels: none

add sinks/skywalking
  Cargo.lock
  Cargo.toml
  build.rs
  examples/skywalking.yaml
  lib/buffers/Cargo.toml
  lib/codecs/src/decoding/format/bytes.rs
  lib/framework/src/sink/mod.rs
  src/sinks/clickhouse/sink.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/http/config.rs
  src/sinks/influxdb/health.rs
  src/sinks/jaeger/http.rs
  src/sinks/mod.rs
  src/sinks/prometheus_remote_write.rs
  src/sinks/skywalking/logging.proto
  src/sinks/skywalking/mod.rs
Labels: sinks

fix tests
  lib/codecs/src/decoding/format/bytes.rs
Labels: none

fix tests
  lib/codecs/src/decoding/format/bytes.rs
  lib/testify/Cargo.toml
  src/sources/exec/mod.rs
Labels: sources

style
  lib/codecs/src/decoding/format/bytes.rs
Labels: none

sinks/skywalking: init (#2213)
  Cargo.lock
  Cargo.toml
  build.rs
  examples/skywalking.yaml
  lib/buffers/Cargo.toml
  lib/codecs/src/decoding/format/bytes.rs
  lib/framework/src/sink/mod.rs
  lib/testify/Cargo.toml
  src/sinks/clickhouse/sink.rs
  src/sinks/elasticsearch/common.rs
  src/sinks/elasticsearch/config.rs
  src/sinks/http/config.rs
  src/sinks/influxdb/health.rs
  src/sinks/jaeger/http.rs
  src/sinks/mod.rs
  src/sinks/prometheus_remote_write.rs
  src/sinks/skywalking/logging.proto
  src/sinks/skywalking/mod.rs
  src/sources/exec/mod.rs
Labels: sources, sinks

add prometheus (customSmallerIsBetter) benchmark result for ef52655683a7e2f89a5dbf48f6e81c8624c8b683
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for ef52655683a7e2f89a5dbf48f6e81c8624c8b683
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ef52655683a7e2f89a5dbf48f6e81c8624c8b683
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ef52655683a7e2f89a5dbf48f6e81c8624c8b683
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ef52655683a7e2f89a5dbf48f6e81c8624c8b683
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ef52655683a7e2f89a5dbf48f6e81c8624c8b683
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for a4f7c1180b310fb8c0601854d236b31ee5e52670
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for a4f7c1180b310fb8c0601854d236b31ee5e52670
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for a4f7c1180b310fb8c0601854d236b31ee5e52670
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for a4f7c1180b310fb8c0601854d236b31ee5e52670
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for a4f7c1180b310fb8c0601854d236b31ee5e52670
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a4f7c1180b310fb8c0601854d236b31ee5e52670
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 06aa2b1f26f162ff83b37e22d9e433162cfb44f7
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 06aa2b1f26f162ff83b37e22d9e433162cfb44f7
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 06aa2b1f26f162ff83b37e22d9e433162cfb44f7
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
