Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add metrics (customSmallerIsBetter) benchmark result for ea5eec929c4e82c85921c0b668f6f58ae487ad9d
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for ea5eec929c4e82c85921c0b668f6f58ae487ad9d
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for ea5eec929c4e82c85921c0b668f6f58ae487ad9d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ea5eec929c4e82c85921c0b668f6f58ae487ad9d
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for ea5eec929c4e82c85921c0b668f6f58ae487ad9d
  bench/data.js
Labels: none

add sources/dnstap
  Cargo.toml
  Makefile
  build.rs
  examples/dnstap.yaml
  lib/framework/src/config/resource.rs
  lib/jaeger/Cargo.toml
  src/sources/dnstap/dnstap.proto
  src/sources/dnstap/mod.rs
  src/sources/dnstap/tcp.rs
  src/sources/dnstap/unix.rs
  src/sources/mod.rs
  src/sources/socket/unix.rs
  tests/dnstap/Corefile
Labels: sources, tests

add log, easy to debug
  tests/dnstap/Corefile
Labels: tests

fix FStrm support, and add integration tests
  Cargo.toml
  Makefile
  src/sources/dnstap/mod.rs
  src/sources/dnstap/tcp.rs
  src/testing/container.rs
  src/testing/trace.rs
Labels: sources

fix doc test
  src/sources/dnstap/mod.rs
Labels: sources

add sources/dnstap
  Cargo.toml
  build.rs
  lib/jaeger/Cargo.toml
  src/sources/dnstap/dnstap.proto
  src/sources/dnstap/mod.rs
  src/sources/dnstap/tcp.rs
  src/sources/dnstap/unix.rs
  src/sources/mod.rs
Labels: sources

add dnstap integration tests
  Cargo.toml
  Makefile
  src/sources/dnstap/mod.rs
  src/sources/dnstap/tcp.rs
  src/testing/container.rs
Labels: sources

Sources/dnstap: init (#2204)
  Cargo.toml
  Makefile
  build.rs
  lib/jaeger/Cargo.toml
  src/sources/dnstap/dnstap.proto
  src/sources/dnstap/mod.rs
  src/sources/dnstap/tcp.rs
  src/sources/dnstap/unix.rs
  src/sources/mod.rs
  src/testing/container.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 77782da5b705613a202a0e3083b6d3ceb9e36502
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 77782da5b705613a202a0e3083b6d3ceb9e36502
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 77782da5b705613a202a0e3083b6d3ceb9e36502
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 77782da5b705613a202a0e3083b6d3ceb9e36502
  bench/data.js
Labels: none

fix fd leak
  lib/framework/src/config/watcher.rs
  src/sources/node/tcpstat.rs
Labels: sources

add vertex (customSmallerIsBetter) benchmark result for 77782da5b705613a202a0e3083b6d3ceb9e36502
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 77782da5b705613a202a0e3083b6d3ceb9e36502
  bench/data.js
Labels: none

fix fd leak (#2205)
  lib/framework/src/config/watcher.rs
  src/sources/node/tcpstat.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 5cf8bd712ff743e150ea9b1a896a477b9ff7dbed
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 5cf8bd712ff743e150ea9b1a896a477b9ff7dbed
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 5cf8bd712ff743e150ea9b1a896a477b9ff7dbed
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 5cf8bd712ff743e150ea9b1a896a477b9ff7dbed
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5cf8bd712ff743e150ea9b1a896a477b9ff7dbed
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 5cf8bd712ff743e150ea9b1a896a477b9ff7dbed
  bench/data.js
Labels: none

generate cpu metrics when `record-core-cycles` enabled
  src/sources/dpdk.rs
Labels: sources

generate cpu metrics when `record-core-cycles` enabled (#2206)
  src/sources/dpdk.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 4159a256e484d1ba7dddd8252d13bb9f3b7dbc41
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 4159a256e484d1ba7dddd8252d13bb9f3b7dbc41
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 4159a256e484d1ba7dddd8252d13bb9f3b7dbc41
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 4159a256e484d1ba7dddd8252d13bb9f3b7dbc41
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 4159a256e484d1ba7dddd8252d13bb9f3b7dbc41
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 4159a256e484d1ba7dddd8252d13bb9f3b7dbc41
  bench/data.js
Labels: none

add missing source
  README.md
Labels: none

add missing source (#2207)
  README.md
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2aa3e8db1ba72adb0d2cbc5fe5b89408537cc5f4
  bench/data.js
Labels: none

add async container implement
  Cargo.lock
  lib/testify/Cargo.toml
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
  lib/testify/src/lib.rs
Labels: none

update some e2e tests
  Cargo.toml
  Makefile
  lib/framework/src/sink/util/buffer/compression.rs
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
  src/sinks/loki/config.rs
  src/sinks/loki/integration_tests.rs
  src/sinks/loki/mod.rs
  src/sinks/loki/proto/loki.proto
  src/sinks/loki/request_builder.rs
  src/sinks/loki/service.rs
  src/sources/dnstap/mod.rs
  src/testing/wait.rs
Labels: sources, sinks

mute unzip
  scripts/redfish_prepare.sh
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
