Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add prometheus (customSmallerIsBetter) benchmark result for 994024b194d462eafd0c656ba796195cd436acf9
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 994024b194d462eafd0c656ba796195cd436acf9
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 994024b194d462eafd0c656ba796195cd436acf9
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 994024b194d462eafd0c656ba796195cd436acf9
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 994024b194d462eafd0c656ba796195cd436acf9
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 994024b194d462eafd0c656ba796195cd436acf9
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8d2c24e1e6138a7c442224e5dc1f8a26122ff8fd
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8d2c24e1e6138a7c442224e5dc1f8a26122ff8fd
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8d2c24e1e6138a7c442224e5dc1f8a26122ff8fd
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8d2c24e1e6138a7c442224e5dc1f8a26122ff8fd
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8d2c24e1e6138a7c442224e5dc1f8a26122ff8fd
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8d2c24e1e6138a7c442224e5dc1f8a26122ff8fd
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 5bcbe580811f1c9669498a3d63b6564d61c3c8af
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 5bcbe580811f1c9669498a3d63b6564d61c3c8af
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 5bcbe580811f1c9669498a3d63b6564d61c3c8af
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 5bcbe580811f1c9669498a3d63b6564d61c3c8af
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 5bcbe580811f1c9669498a3d63b6564d61c3c8af
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5bcbe580811f1c9669498a3d63b6564d61c3c8af
  bench/data.js
Labels: none

update infiniband stats files
  tests/node/fixtures.ttar
Labels: tests

add prometheus (customSmallerIsBetter) benchmark result for d184c05a84b0a00524f06364e4c493dd8fe63a88
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d184c05a84b0a00524f06364e4c493dd8fe63a88
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d184c05a84b0a00524f06364e4c493dd8fe63a88
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d184c05a84b0a00524f06364e4c493dd8fe63a88
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d184c05a84b0a00524f06364e4c493dd8fe63a88
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d184c05a84b0a00524f06364e4c493dd8fe63a88
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for b74445bd722dd8932bac960cfcc56138d0e789f1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b74445bd722dd8932bac960cfcc56138d0e789f1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b74445bd722dd8932bac960cfcc56138d0e789f1
  bench/data.js
Labels: none

add sources/tengine
  Cargo.toml
  src/sources/mod.rs
  src/sources/tengine.rs
Labels: sources

add tracing-limit (customSmallerIsBetter) benchmark result for b74445bd722dd8932bac960cfcc56138d0e789f1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b74445bd722dd8932bac960cfcc56138d0e789f1
  bench/data.js
Labels: none

add auth support
  src/sources/tengine.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for b74445bd722dd8932bac960cfcc56138d0e789f1
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 0686b59a7c9938df323ec2e846ce411fbfb6804d
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0686b59a7c9938df323ec2e846ce411fbfb6804d
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0686b59a7c9938df323ec2e846ce411fbfb6804d
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 0686b59a7c9938df323ec2e846ce411fbfb6804d
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 0686b59a7c9938df323ec2e846ce411fbfb6804d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0686b59a7c9938df323ec2e846ce411fbfb6804d
  bench/data.js
Labels: none

add missing testdata
  tests/node/fixtures.ttar
Labels: tests
