Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add prometheus (customSmallerIsBetter) benchmark result for 508b1bc803dfd51781251b77ab2fe0b2eb717972
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 508b1bc803dfd51781251b77ab2fe0b2eb717972
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 5a5d0852b7534c436698d094d867c729d5980909
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 508b1bc803dfd51781251b77ab2fe0b2eb717972
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 508b1bc803dfd51781251b77ab2fe0b2eb717972
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 5a5d0852b7534c436698d094d867c729d5980909
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 508b1bc803dfd51781251b77ab2fe0b2eb717972
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5a5d0852b7534c436698d094d867c729d5980909
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 508b1bc803dfd51781251b77ab2fe0b2eb717972
  bench/data.js
Labels: none

print as version
  ci/environment/bootstrap-ubuntu-24.04.sh
Labels: CI

print as version
  ci/cross/bootstrap-ubuntu.sh
Labels: CI

try cross main
  ci/cross/x86_64-unknown-linux-gnu.dockerfile
  ci/cross/x86_64-unknown-linux-musl.dockerfile
Labels: CI

add metrics (customSmallerIsBetter) benchmark result for b67a4b2262597c6ff4fadf922beedc6e239c8e24
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for b67a4b2262597c6ff4fadf922beedc6e239c8e24
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b67a4b2262597c6ff4fadf922beedc6e239c8e24
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b67a4b2262597c6ff4fadf922beedc6e239c8e24
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b67a4b2262597c6ff4fadf922beedc6e239c8e24
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b67a4b2262597c6ff4fadf922beedc6e239c8e24
  bench/data.js
Labels: none

add extensions/http_observer
  Cargo.toml
  lib/framework/src/config/builder.rs
  lib/framework/src/config/extension.rs
  lib/framework/src/config/http.rs
  lib/framework/src/config/mod.rs
  lib/framework/src/config/validation.rs
  lib/framework/src/observe/endpoint.rs
  lib/framework/src/observe/mod.rs
  lib/framework/src/topology/builder.rs
  src/extensions/healthcheck.rs
  src/extensions/heartbeat.rs
  src/extensions/http_observer.rs
  src/extensions/mod.rs
  src/extensions/port_observer.rs
  src/extensions/pprof/mod.rs
  src/extensions/zpages/mod.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 83dcbae7c4fe9035c2f7ef34bfed1d32788a1664
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 83dcbae7c4fe9035c2f7ef34bfed1d32788a1664
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 83dcbae7c4fe9035c2f7ef34bfed1d32788a1664
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 83dcbae7c4fe9035c2f7ef34bfed1d32788a1664
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 83dcbae7c4fe9035c2f7ef34bfed1d32788a1664
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 83dcbae7c4fe9035c2f7ef34bfed1d32788a1664
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 3cfe7141d83402bd4971f147bcbeba3321081806
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f75445213fbcc49a2b2e80f98d0bda4fbecd2f6d
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f75445213fbcc49a2b2e80f98d0bda4fbecd2f6d
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3cfe7141d83402bd4971f147bcbeba3321081806
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for f75445213fbcc49a2b2e80f98d0bda4fbecd2f6d
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3cfe7141d83402bd4971f147bcbeba3321081806
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for f75445213fbcc49a2b2e80f98d0bda4fbecd2f6d
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 3cfe7141d83402bd4971f147bcbeba3321081806
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3cfe7141d83402bd4971f147bcbeba3321081806
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for f75445213fbcc49a2b2e80f98d0bda4fbecd2f6d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3cfe7141d83402bd4971f147bcbeba3321081806
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f75445213fbcc49a2b2e80f98d0bda4fbecd2f6d
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for dcc48d4a6e4e7a4304f2920804dc988f7be02078
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for dcc48d4a6e4e7a4304f2920804dc988f7be02078
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for dcc48d4a6e4e7a4304f2920804dc988f7be02078
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
