Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add tracing-limit (customSmallerIsBetter) benchmark result for 0727fbc52e3acb226cc2d8d071fcbdbc1ff21914
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 0727fbc52e3acb226cc2d8d071fcbdbc1ff21914
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0727fbc52e3acb226cc2d8d071fcbdbc1ff21914
  bench/data.js
Labels: none

fix feature name
  Cargo.toml
  src/extensions/mod.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 5cec03c3450cf0d24a5cf686077eaf85f8fe15a6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 5cec03c3450cf0d24a5cf686077eaf85f8fe15a6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 5cec03c3450cf0d24a5cf686077eaf85f8fe15a6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 5cec03c3450cf0d24a5cf686077eaf85f8fe15a6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 5cec03c3450cf0d24a5cf686077eaf85f8fe15a6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5cec03c3450cf0d24a5cf686077eaf85f8fe15a6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1fd82d9854cca86d0f871f5476aaaafa50bc2c99
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 1fd82d9854cca86d0f871f5476aaaafa50bc2c99
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1fd82d9854cca86d0f871f5476aaaafa50bc2c99
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 1fd82d9854cca86d0f871f5476aaaafa50bc2c99
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 1fd82d9854cca86d0f871f5476aaaafa50bc2c99
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 1fd82d9854cca86d0f871f5476aaaafa50bc2c99
  bench/data.js
Labels: none

add sources/wireless
  Cargo.toml
  src/sources/mod.rs
  src/sources/wireless/mod.rs
  src/sources/wireless/nl80211.rs
Labels: sources

style
  src/sources/wireless/nl80211.rs
Labels: sources

make it async
  src/sources/wireless/mod.rs
  src/sources/wireless/nl80211.rs
Labels: sources

fix musl build
  src/sources/wireless/nl80211.rs
Labels: sources

switch to AsyncFd
  src/sources/wireless/mod.rs
  src/sources/wireless/nl80211.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 067de49249180b6b03bcfdbd2575f0d8e21656a6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 067de49249180b6b03bcfdbd2575f0d8e21656a6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 067de49249180b6b03bcfdbd2575f0d8e21656a6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 067de49249180b6b03bcfdbd2575f0d8e21656a6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 067de49249180b6b03bcfdbd2575f0d8e21656a6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 067de49249180b6b03bcfdbd2575f0d8e21656a6
  bench/data.js
Labels: none

add tls timing
  src/sources/http_check.rs
Labels: sources

fix metric & label name parsing
  lib/prometheus/src/text.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 18d8f86ba3ed4779c7efedf68060af3cb761c290
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 18d8f86ba3ed4779c7efedf68060af3cb761c290
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 18d8f86ba3ed4779c7efedf68060af3cb761c290
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 18d8f86ba3ed4779c7efedf68060af3cb761c290
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 18d8f86ba3ed4779c7efedf68060af3cb761c290
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 18d8f86ba3ed4779c7efedf68060af3cb761c290
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 3d090d3fe0bfbb85df88a68b5a9b7bf73c1602d0
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3d090d3fe0bfbb85df88a68b5a9b7bf73c1602d0
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3d090d3fe0bfbb85df88a68b5a9b7bf73c1602d0
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 2b12e3be9e6ad123d4829090375218dd50205f9d
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 3d090d3fe0bfbb85df88a68b5a9b7bf73c1602d0
  bench/data.js
Labels: none
