Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

re-order framework/source/utils (#2150)
  lib/framework/src/source/finalizer.rs
  lib/framework/src/source/mod.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/source/unix.rs
  lib/framework/src/source/util/mod.rs
  lib/framework/src/source/util/wrappers.rs
  src/sources/netflow/mod.rs
  src/sources/syslog.rs
  src/sources/tail/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for d8dd9cc509caf4db8c2c5cec4e312f92ff725aa0
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d8dd9cc509caf4db8c2c5cec4e312f92ff725aa0
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d8dd9cc509caf4db8c2c5cec4e312f92ff725aa0
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d8dd9cc509caf4db8c2c5cec4e312f92ff725aa0
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d8dd9cc509caf4db8c2c5cec4e312f92ff725aa0
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d8dd9cc509caf4db8c2c5cec4e312f92ff725aa0
  bench/data.js
Labels: none

decode inputs to Events
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/logfmt.rs
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/codecs/src/decoding/mod.rs
  lib/event/src/array.rs
  lib/framework/Cargo.toml
  lib/framework/src/pipeline/mod.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/source/unix.rs
  lib/framework/src/topology/builder.rs
  src/sinks/blackhole.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/fluent/mod.rs
  src/sources/kafka.rs
  src/sources/syslog.rs
  src/transforms/cardinality.rs
  src/transforms/route.rs
  tests/util/mock/mod.rs
Labels: sources, transforms, sinks, tests

empty buf is handled already
  lib/codecs/src/decoding/format/json.rs
Labels: none

lib/codecs: decode inputs to Events (#2151)
  Cargo.lock
  Cargo.toml
  lib/codecs/Cargo.toml
  lib/codecs/src/decoding/format/bytes.rs
  lib/codecs/src/decoding/format/json.rs
  lib/codecs/src/decoding/format/logfmt.rs
  lib/codecs/src/decoding/format/mod.rs
  lib/codecs/src/decoding/format/syslog.rs
  lib/codecs/src/decoding/mod.rs
  lib/event/src/array.rs
  lib/framework/Cargo.toml
  lib/framework/src/pipeline/mod.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/source/unix.rs
  lib/framework/src/topology/builder.rs
  src/sinks/blackhole.rs
  src/sources/demo_logs.rs
  src/sources/exec/mod.rs
  src/sources/fluent/mod.rs
  src/sources/kafka.rs
  src/sources/syslog.rs
  src/transforms/cardinality.rs
  src/transforms/route.rs
  tests/util/mock/mod.rs
Labels: sources, transforms, sinks, tests

add prometheus (customSmallerIsBetter) benchmark result for c4eac1c77f80e40b56e683c5e500ac147075e79c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c4eac1c77f80e40b56e683c5e500ac147075e79c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c4eac1c77f80e40b56e683c5e500ac147075e79c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c4eac1c77f80e40b56e683c5e500ac147075e79c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c4eac1c77f80e40b56e683c5e500ac147075e79c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c4eac1c77f80e40b56e683c5e500ac147075e79c
  bench/data.js
Labels: none

add sources/socket
  Cargo.lock
  Cargo.toml
  lib/framework/Cargo.toml
  lib/framework/src/config/ip.rs
  lib/framework/src/config/mod.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/source/unix.rs
  lib/framework/src/tls/incoming.rs
  src/sinks/socket.rs
  src/sources/mod.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  src/sources/syslog.rs
  tests/socket.rs
  tests/syslog.rs
Labels: sources, sinks, tests

add regression
  regression/Dockerfile
  regression/docker-compose.yaml
  regression/tcp_to_tcp/lading.yaml
  regression/tcp_to_tcp/vertex.yaml
Labels: none

fix IpAccessConfig generate schema
  lib/framework/src/config/ip.rs
Labels: none

fix Auth's Json Schema and it's tests
  lib/configurable-derive/src/configurable.rs
  lib/configurable/tests/empty_struct.rs
  lib/configurable/tests/flatten_enum.rs
  lib/configurable/tests/pr_2152.rs
Labels: none

lib/sources: add socket (#2152)
  Cargo.lock
  Cargo.toml
  lib/configurable-derive/src/configurable.rs
  lib/configurable/tests/empty_struct.rs
  lib/configurable/tests/flatten_enum.rs
  lib/configurable/tests/pr_2152.rs
  lib/framework/Cargo.toml
  lib/framework/src/config/ip.rs
  lib/framework/src/config/mod.rs
  lib/framework/src/source/tcp.rs
  lib/framework/src/source/unix.rs
  lib/framework/src/tls/incoming.rs
  regression/Dockerfile
  regression/docker-compose.yaml
  regression/tcp_to_tcp/lading.yaml
  regression/tcp_to_tcp/vertex.yaml
  src/sinks/socket.rs
  src/sources/mod.rs
  src/sources/socket/mod.rs
  src/sources/socket/tcp.rs
  src/sources/socket/udp.rs
  src/sources/socket/unix.rs
  src/sources/syslog.rs
  tests/socket.rs
  tests/syslog.rs
Labels: sources, sinks, tests

add prometheus (customSmallerIsBetter) benchmark result for 990aef28c6f794e4a2359fa3cce82eab0c9e7cb5
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 990aef28c6f794e4a2359fa3cce82eab0c9e7cb5
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 990aef28c6f794e4a2359fa3cce82eab0c9e7cb5
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 990aef28c6f794e4a2359fa3cce82eab0c9e7cb5
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 990aef28c6f794e4a2359fa3cce82eab0c9e7cb5
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 990aef28c6f794e4a2359fa3cce82eab0c9e7cb5
  bench/data.js
Labels: none

style
  src/common/mod.rs
Labels: none

style
  src/common/mod.rs
Labels: none

fix tests
  lib/codecs/src/decoding/format/json.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 86f0938daecfcef67b40feb8b5297c30c6d1c2f6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 86f0938daecfcef67b40feb8b5297c30c6d1c2f6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 86f0938daecfcef67b40feb8b5297c30c6d1c2f6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 86f0938daecfcef67b40feb8b5297c30c6d1c2f6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 86f0938daecfcef67b40feb8b5297c30c6d1c2f6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 86f0938daecfcef67b40feb8b5297c30c6d1c2f6
  bench/data.js
Labels: none

config scan_minimum_cooldown
  lib/tail/src/buffer.rs
  lib/tail/src/checkpoint.rs
  lib/tail/src/harvester.rs
  lib/tail/src/provider/glob.rs
  src/sources/tail/mod.rs
Labels: sources

set scan_minimum_cooldown
  src/sources/kubernetes_logs/mod.rs
Labels: sources

sources/tail: config scan minimum cooldown (#2154)
  lib/tail/src/buffer.rs
  lib/tail/src/checkpoint.rs
  lib/tail/src/harvester.rs
  lib/tail/src/provider/glob.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/tail/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for da71a4340e93496334655a0c27d4bccff0d1f079
  bench/data.js
Labels: none
