Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add vertex (customSmallerIsBetter) benchmark result for 10b6d16e73b60e3171f9fd9b6660c4e1d0bcdf7f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 10b6d16e73b60e3171f9fd9b6660c4e1d0bcdf7f
  bench/data.js
Labels: none

remove tracked_allocator
  Cargo.lock
  Cargo.toml
  src/extensions/pprof/mod.rs
  src/launch.rs
  src/main.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 5f8d51363a24a984c53ab2a5ded87b9e9054a1bf
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 5f8d51363a24a984c53ab2a5ded87b9e9054a1bf
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 5f8d51363a24a984c53ab2a5ded87b9e9054a1bf
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 5f8d51363a24a984c53ab2a5ded87b9e9054a1bf
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5f8d51363a24a984c53ab2a5ded87b9e9054a1bf
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 5f8d51363a24a984c53ab2a5ded87b9e9054a1bf
  bench/data.js
Labels: none

remove lib/tracked_alloc
  lib/tracked_alloc/Cargo.toml
  lib/tracked_alloc/examples/dump.rs
  lib/tracked_alloc/src/lib.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 6f6d998cb2f9a82d84c86cb958e6846f3331e109
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 6f6d998cb2f9a82d84c86cb958e6846f3331e109
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 6f6d998cb2f9a82d84c86cb958e6846f3331e109
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 6f6d998cb2f9a82d84c86cb958e6846f3331e109
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 6f6d998cb2f9a82d84c86cb958e6846f3331e109
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 6f6d998cb2f9a82d84c86cb958e6846f3331e109
  bench/data.js
Labels: none

bump toolchain to 1.87.0
  build.rs
  lib/codecs/src/decoding/framing/octet_counting.rs
  lib/codecs/src/decoding/mod.rs
  lib/framework/src/config/provider/http.rs
  lib/framework/src/config/provider/http/chunk.rs
  lib/framework/src/http/proxy/mod.rs
  lib/framework/src/http/proxy/tunnel.rs
  lib/framework/src/sink/util/socket_bytes_sink.rs
  lib/framework/src/tls/incoming.rs
  lib/framework/src/tls/settings.rs
  lib/hostname/src/lib.rs
  lib/testify/src/container/mod.rs
  rust-toolchain.toml
  src/sinks/http/encoder.rs
  src/sources/exec/mod.rs
Labels: sources, sinks

add prometheus (customSmallerIsBetter) benchmark result for 678af446b9f94ebc26fef552648ec51b7dd2ae39
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 678af446b9f94ebc26fef552648ec51b7dd2ae39
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 678af446b9f94ebc26fef552648ec51b7dd2ae39
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 678af446b9f94ebc26fef552648ec51b7dd2ae39
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 678af446b9f94ebc26fef552648ec51b7dd2ae39
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 678af446b9f94ebc26fef552648ec51b7dd2ae39
  bench/data.js
Labels: none

get home_dir with stable api
  lib/kubernetes/src/config/incluster.rs
  lib/kubernetes/src/config/mod.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 133063c56acd8eec474e10bad4881bc58ab4de6c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 133063c56acd8eec474e10bad4881bc58ab4de6c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 133063c56acd8eec474e10bad4881bc58ab4de6c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 133063c56acd8eec474e10bad4881bc58ab4de6c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 133063c56acd8eec474e10bad4881bc58ab4de6c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 133063c56acd8eec474e10bad4881bc58ab4de6c
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 68515e2eb759cb5ae7388ae54518e18aa8390590
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 68515e2eb759cb5ae7388ae54518e18aa8390590
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 68515e2eb759cb5ae7388ae54518e18aa8390590
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 68515e2eb759cb5ae7388ae54518e18aa8390590
  bench/data.js
Labels: none

remove deprecated method
  lib/tracing-limit/benches/limit.rs
Labels: none

add Build (customSmallerIsBetter) benchmark result for 68515e2eb759cb5ae7388ae54518e18aa8390590
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 68515e2eb759cb5ae7388ae54518e18aa8390590
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for fd0cb9c429ca4522dd941a01893db01fb4782ca8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for fd0cb9c429ca4522dd941a01893db01fb4782ca8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for fd0cb9c429ca4522dd941a01893db01fb4782ca8
  bench/data.js
Labels: none
