Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add Build (customSmallerIsBetter) benchmark result for 395e78477b3a3b5da318f095af20c14411f7beb1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 45ef538145e74aca83158927704e73bc77536eca
  bench/data.js
Labels: none

remove gc task
  src/sinks/prometheus_exporter.rs
Labels: sinks

add prometheus (customSmallerIsBetter) benchmark result for c4315b87c42b4748625d0113280d4301c176f70f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c4315b87c42b4748625d0113280d4301c176f70f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c4315b87c42b4748625d0113280d4301c176f70f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for c4315b87c42b4748625d0113280d4301c176f70f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for c4315b87c42b4748625d0113280d4301c176f70f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c4315b87c42b4748625d0113280d4301c176f70f
  bench/data.js
Labels: none

cleanup
  src/sources/node/mdadm.rs
  src/sources/node/vmstat.rs
Labels: sources

impl all methods of GlobalAlloc
  src/common/tracked_allocator.rs
  src/sources/selfstat/mod.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for 4567ad594d7669a55f9cb40fad237461c6b150b7
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 4567ad594d7669a55f9cb40fad237461c6b150b7
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 4567ad594d7669a55f9cb40fad237461c6b150b7
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 4567ad594d7669a55f9cb40fad237461c6b150b7
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 4567ad594d7669a55f9cb40fad237461c6b150b7
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 4567ad594d7669a55f9cb40fad237461c6b150b7
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for be360c6d85034e3bd0666c1d10a480b803da0c42
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for be360c6d85034e3bd0666c1d10a480b803da0c42
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for be360c6d85034e3bd0666c1d10a480b803da0c42
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for be360c6d85034e3bd0666c1d10a480b803da0c42
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for be360c6d85034e3bd0666c1d10a480b803da0c42
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for be360c6d85034e3bd0666c1d10a480b803da0c42
  bench/data.js
Labels: none

add bcachefs collector
  src/sources/node/bcachefs.rs
  src/sources/node/mod.rs
  tests/node/fixtures.ttar
Labels: sources, tests

remove glob operations, and simplify
  src/sources/node/zfs.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 2c7dd9b3743375c67d48e0387fb9d67942748ad8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 2c7dd9b3743375c67d48e0387fb9d67942748ad8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 2c7dd9b3743375c67d48e0387fb9d67942748ad8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 2c7dd9b3743375c67d48e0387fb9d67942748ad8
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 99e1ea00156b09f4f93d0fd5ea6b823d37582792
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 99e1ea00156b09f4f93d0fd5ea6b823d37582792
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 99e1ea00156b09f4f93d0fd5ea6b823d37582792
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 99e1ea00156b09f4f93d0fd5ea6b823d37582792
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 2c7dd9b3743375c67d48e0387fb9d67942748ad8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2c7dd9b3743375c67d48e0387fb9d67942748ad8
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 99e1ea00156b09f4f93d0fd5ea6b823d37582792
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 99e1ea00156b09f4f93d0fd5ea6b823d37582792
  bench/data.js
Labels: none

simplify
  src/sources/node/nfs.rs
  src/sources/node/nfsd.rs
  src/sources/node/powersupplyclass.rs
  src/sources/node/xfs.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 6b601a17ae2ed3b0069356c902e91f6dce371574
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 6b601a17ae2ed3b0069356c902e91f6dce371574
  bench/data.js
Labels: none
