Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

simplify
  lib/event/src/trace/event.rs
  lib/event/src/trace/link.rs
  lib/jaeger/src/translate/proto_to_internal.rs
Labels: none

add Build (customSmallerIsBetter) benchmark result for 27a81e473c068370d7084a8f2b312d3f99c2c09c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ccbebceace01dfc421c9660bb520391e99da2705
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for eb2cc8abb676f3a5865eaedb4fefee0711fbc94b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f37014d16931f60dfe1291a36024f84d3d7e67b7
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for f9dd3a7efaa118b1dff1d6060a4201472b31a848
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 37d9a5548fda67812afdf8bec3acd6f78ce74183
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7ff093607e1627c8481547408681171226eaa4f6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 52df23451aa9ad448ab4f9b7582446fbe41add9b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 6fd34e240cb97b10695e67b63ed1fa8156215546
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ff1aa907ec210a90f36df36c497fe0199af1baa6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 4347b2450be10bc09ad2acaa27481147c191b969
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ceef3653a7dc5eb2cfb6218daada12e1da4bee7e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for a7924f91bfd379d9909e049af1318834cfa79a56
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8313ead800e68cac6219946f4b10a659a777d85b
  bench/data.js
Labels: none

switch to our own serde_yaml
  Cargo.lock
  Cargo.toml
  lib/buffer/Cargo.toml
  lib/codecs/Cargo.toml
  lib/configurable/Cargo.toml
  lib/framework/Cargo.toml
  lib/kubernetes/Cargo.toml
Labels: none

add Build (customSmallerIsBetter) benchmark result for f102ce0d4a212a5330d0ac79198776607057d739
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for ac795cf9cffc5b9ae0eee65e50d61e981e98fc24
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d8ff3dfb21b16133bcdc6a9fe4446531b058df81
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 835cbe9d16cba4b4f909859f7378aa9422dff430
  bench/data.js
Labels: none

re-order http provider config
  lib/framework/src/config/provider/http.rs
Labels: none

rename port_observer to host_observer
  Cargo.toml
  src/extensions/host_observer.rs
  src/extensions/mod.rs
Labels: extensions

add Build (customSmallerIsBetter) benchmark result for c4e06f8b768ad7d83d8f5d457ba1d301645b2dba
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for cfd735cdc2c7b45f9ac6190b0df8543639d9342d
  bench/data.js
Labels: none

allow deprecated enum values
  src/sources/gnmi/mod.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for 609e85923234fc845feaf46c298a73bd90758ac4
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d36ea86b504f5a06d0339dc544dad395ea5e2a35
  bench/data.js
Labels: none

reorder `use`
  src/sources/mysqld/mod.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for b06bf006f4b5f308b782a695254de420b1b3ee6d
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e080a4cf805edbe9925189ef60a5eee07a215914
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for cf2733f70723cdce06aa917f38357c2769c2e69b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2f60cf6806a4c1a171781cefcf2661eaede26a46
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0d29a497cd28fc762b5f2c6b6513b0c5f549b090
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e8a47496b86a99d0356128cdd241ef7c10950e87
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

add Build (customSmallerIsBetter) benchmark result for a8a97b4e848a0d4c5dfb2107897b2d59460e395d
  bench/data.js
Labels: none

bump toolchain to 1.93
  lib/jaeger/src/thrift/jaeger.rs
  lib/jaeger/src/thrift/zipkincore.rs
  rust-toolchain.toml
  src/sources/node/sockstat.rs
Labels: sources

add Build (customSmallerIsBetter) benchmark result for cc00d308464c25afd7a58b40db73027d8815601f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 153d9adc29c38428953ba6fbb3b264a2ca28d285
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 70b8a25c17773e4e56cf5ebae01fa840ea5870ae
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
