Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add extensions/consul_observer
  Cargo.toml
  lib/framework/src/observe/endpoint.rs
  lib/framework/src/shutdown.rs
  src/extensions/consul_observer.rs
  src/extensions/mod.rs
  src/sources/multiplier/mod.rs
Labels: sources, extensions

add prometheus (customSmallerIsBetter) benchmark result for 280e5a080e6b367f34c59bb92bb7c6825788f53c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 280e5a080e6b367f34c59bb92bb7c6825788f53c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 280e5a080e6b367f34c59bb92bb7c6825788f53c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 280e5a080e6b367f34c59bb92bb7c6825788f53c
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 280e5a080e6b367f34c59bb92bb7c6825788f53c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 280e5a080e6b367f34c59bb92bb7c6825788f53c
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 3885b2061a4949dfdac7569bab2367a030cf0d94
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 3885b2061a4949dfdac7569bab2367a030cf0d94
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 3885b2061a4949dfdac7569bab2367a030cf0d94
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 3885b2061a4949dfdac7569bab2367a030cf0d94
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 3885b2061a4949dfdac7569bab2367a030cf0d94
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 3885b2061a4949dfdac7569bab2367a030cf0d94
  bench/data.js
Labels: none

support watch specified services
  src/extensions/consul_observer.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 82d16fcf2f99df7e62032e797c4c4d343ecaf24c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 82d16fcf2f99df7e62032e797c4c4d343ecaf24c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 82d16fcf2f99df7e62032e797c4c4d343ecaf24c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 82d16fcf2f99df7e62032e797c4c4d343ecaf24c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 82d16fcf2f99df7e62032e797c4c4d343ecaf24c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 82d16fcf2f99df7e62032e797c4c4d343ecaf24c
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 20c79cd7ca9e4b4c7043a937e9ed1f7f891cfefb
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 20c79cd7ca9e4b4c7043a937e9ed1f7f891cfefb
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 20c79cd7ca9e4b4c7043a937e9ed1f7f891cfefb
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 20c79cd7ca9e4b4c7043a937e9ed1f7f891cfefb
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 20c79cd7ca9e4b4c7043a937e9ed1f7f891cfefb
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 20c79cd7ca9e4b4c7043a937e9ed1f7f891cfefb
  bench/data.js
Labels: none

fix extensions/consul_observer
  lib/framework/src/observe/mod.rs
  lib/framework/src/observe/observer.rs
  src/extensions/consul_observer.rs
  src/extensions/zpages/mod.rs
Labels: extensions

fix compile error
  src/extensions/zpages/mod.rs
Labels: extensions

add metrics (customSmallerIsBetter) benchmark result for 9f1bf3a9cd79bfc950cd186506ff6b0698ab0a68
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 9f1bf3a9cd79bfc950cd186506ff6b0698ab0a68
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 9f1bf3a9cd79bfc950cd186506ff6b0698ab0a68
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 9f1bf3a9cd79bfc950cd186506ff6b0698ab0a68
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 9f1bf3a9cd79bfc950cd186506ff6b0698ab0a68
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9f1bf3a9cd79bfc950cd186506ff6b0698ab0a68
  bench/data.js
Labels: none

add type to endpoint
  lib/framework/src/observe/endpoint.rs
  lib/framework/src/observe/observer.rs
  src/extensions/consul_observer.rs
  src/extensions/port_observer.rs
  src/sources/multiplier/interpolate.rs
  src/sources/multiplier/mod.rs
Labels: sources, extensions

add metrics (customSmallerIsBetter) benchmark result for e210e63e2380a4f2b3d1fc5276a52b60095c0ad4
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e210e63e2380a4f2b3d1fc5276a52b60095c0ad4
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e210e63e2380a4f2b3d1fc5276a52b60095c0ad4
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e210e63e2380a4f2b3d1fc5276a52b60095c0ad4
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
