Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add event (customSmallerIsBetter) benchmark result for 6b601a17ae2ed3b0069356c902e91f6dce371574
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 6b601a17ae2ed3b0069356c902e91f6dce371574
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 6b601a17ae2ed3b0069356c902e91f6dce371574
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 6b601a17ae2ed3b0069356c902e91f6dce371574
  bench/data.js
Labels: none

refactor Error
  src/sources/node/btrfs.rs
  src/sources/node/conntrack.rs
  src/sources/node/drm.rs
  src/sources/node/error.rs
  src/sources/node/infiniband.rs
  src/sources/node/ipvs.rs
  src/sources/node/mdadm.rs
  src/sources/node/mod.rs
  src/sources/node/netstat.rs
  src/sources/node/nfs.rs
  src/sources/node/nfsd.rs
  src/sources/node/pressure.rs
  src/sources/node/processes.rs
  src/sources/node/selinux.rs
  src/sources/node/softnet.rs
  src/sources/node/thermal_zone.rs
  src/sources/node/udp_queues.rs
Labels: sources

add /proc/sys/kernel/pid_max and /proc/sys/kernel/threads-max
  tests/node/fixtures.ttar
Labels: tests

add prometheus (customSmallerIsBetter) benchmark result for 8242b53843797e30a43e3e9facfc4590ce671a09
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8242b53843797e30a43e3e9facfc4590ce671a09
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8242b53843797e30a43e3e9facfc4590ce671a09
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8242b53843797e30a43e3e9facfc4590ce671a09
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8242b53843797e30a43e3e9facfc4590ce671a09
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8242b53843797e30a43e3e9facfc4590ce671a09
  bench/data.js
Labels: none

refactor some error handling
  src/sources/node/filesystem.rs
  src/sources/node/hwmon.rs
  src/sources/node/lnstat.rs
  src/sources/node/mod.rs
  src/sources/node/netclass.rs
  src/sources/node/nvme.rs
  src/sources/node/zfs.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for 45fac12e923bcd1af3b0eea83c78b85c38d64faa
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 45fac12e923bcd1af3b0eea83c78b85c38d64faa
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 45fac12e923bcd1af3b0eea83c78b85c38d64faa
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 45fac12e923bcd1af3b0eea83c78b85c38d64faa
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 45fac12e923bcd1af3b0eea83c78b85c38d64faa
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 45fac12e923bcd1af3b0eea83c78b85c38d64faa
  bench/data.js
Labels: none

add meminfo_numa collector
  src/sources/node/meminfo_numa.rs
  src/sources/node/mod.rs
Labels: sources

add event (customSmallerIsBetter) benchmark result for e9bcad852267e3434859c9796a914c41addf560b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e9bcad852267e3434859c9796a914c41addf560b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e9bcad852267e3434859c9796a914c41addf560b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e9bcad852267e3434859c9796a914c41addf560b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e9bcad852267e3434859c9796a914c41addf560b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e9bcad852267e3434859c9796a914c41addf560b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 7133e4bf49139e86e9add16c233f4306e7b5c183
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 7133e4bf49139e86e9add16c233f4306e7b5c183
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 7133e4bf49139e86e9add16c233f4306e7b5c183
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 7133e4bf49139e86e9add16c233f4306e7b5c183
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 7133e4bf49139e86e9add16c233f4306e7b5c183
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 7133e4bf49139e86e9add16c233f4306e7b5c183
  bench/data.js
Labels: none

add resource usage of node_exporter and vertex
  README.md
  docs/node/cpu.png
  docs/node/memory.png
  docs/node/scrape.png
Labels: docs

add Build (customSmallerIsBetter) benchmark result for c1ec141ec03e1962f484783292484690884fe518
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 66224e54623a52850e7153ee480e5d6752080557
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 66224e54623a52850e7153ee480e5d6752080557
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 66224e54623a52850e7153ee480e5d6752080557
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 66224e54623a52850e7153ee480e5d6752080557
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 66224e54623a52850e7153ee480e5d6752080557
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 66224e54623a52850e7153ee480e5d6752080557
  bench/data.js
Labels: none
