Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

fix tests
  src/sources/kubernetes_logs/provider.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 2f9a26705cc2aa6c7a2ae44f921c36471ca5d815
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 2f9a26705cc2aa6c7a2ae44f921c36471ca5d815
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 2f9a26705cc2aa6c7a2ae44f921c36471ca5d815
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 2f9a26705cc2aa6c7a2ae44f921c36471ca5d815
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 2f9a26705cc2aa6c7a2ae44f921c36471ca5d815
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 2f9a26705cc2aa6c7a2ae44f921c36471ca5d815
  bench/data.js
Labels: none

add watch to lib/kubernetes
  Cargo.lock
  Cargo.toml
  lib/kubernetes/Cargo.toml
  lib/kubernetes/examples/list_watch.rs
  lib/kubernetes/examples/streaming_watch.rs
  lib/kubernetes/examples/watch.rs
  lib/kubernetes/src/client.rs
  lib/kubernetes/src/lib.rs
  lib/kubernetes/src/version.rs
  lib/kubernetes/src/watch.rs
  src/extensions/kubernetes_observer/mod.rs
  src/sources/kubernetes_events/event.rs
  src/sources/kubernetes_events/mod.rs
  src/sources/kubernetes_logs/annotator.rs
  src/sources/kubernetes_logs/mod.rs
  src/sources/kubernetes_logs/provider.rs
  src/sources/kubernetes_logs/store.rs
Labels: sources, extensions

fix Init* events
  lib/kubernetes/src/watch.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 4e455a105cfc1cb5d0e6658736416a83c5c44429
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 4e455a105cfc1cb5d0e6658736416a83c5c44429
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 4e455a105cfc1cb5d0e6658736416a83c5c44429
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 4e455a105cfc1cb5d0e6658736416a83c5c44429
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 4e455a105cfc1cb5d0e6658736416a83c5c44429
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 4e455a105cfc1cb5d0e6658736416a83c5c44429
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 14d63a2a9d47c656b5b73940ac42de84b3a0aed0
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 14d63a2a9d47c656b5b73940ac42de84b3a0aed0
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 14d63a2a9d47c656b5b73940ac42de84b3a0aed0
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 14d63a2a9d47c656b5b73940ac42de84b3a0aed0
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 14d63a2a9d47c656b5b73940ac42de84b3a0aed0
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 14d63a2a9d47c656b5b73940ac42de84b3a0aed0
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 84f3a5e4a7857be96b9695ac2c55d934bb570aa7
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 84f3a5e4a7857be96b9695ac2c55d934bb570aa7
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 84f3a5e4a7857be96b9695ac2c55d934bb570aa7
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 84f3a5e4a7857be96b9695ac2c55d934bb570aa7
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 84f3a5e4a7857be96b9695ac2c55d934bb570aa7
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 84f3a5e4a7857be96b9695ac2c55d934bb570aa7
  bench/data.js
Labels: none

fix compile error
  Cargo.lock
  Cargo.toml
  src/sources/grpc_check.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for cbcf953e9fc53ac87e7acf14498a1db2812b4da8
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for cbcf953e9fc53ac87e7acf14498a1db2812b4da8
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for cbcf953e9fc53ac87e7acf14498a1db2812b4da8
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for cbcf953e9fc53ac87e7acf14498a1db2812b4da8
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for cbcf953e9fc53ac87e7acf14498a1db2812b4da8
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for cbcf953e9fc53ac87e7acf14498a1db2812b4da8
  bench/data.js
Labels: none

cleanup
  lib/bytesize/src/lib.rs
  lib/event/src/array.rs
  lib/event/src/lib.rs
  lib/event/src/log/mod.rs
  lib/event/src/metric/mod.rs
  lib/event/src/proto/mod.rs
  lib/event/src/trace/mod.rs
  src/sources/mysqld/mod.rs
  src/sources/prometheus_scrape.rs
  src/sources/zookeeper.rs
Labels: sources

add metrics (customSmallerIsBetter) benchmark result for 88e57803b34ff1a40643eb0a6443929de1c3efa3
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 88e57803b34ff1a40643eb0a6443929de1c3efa3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 88e57803b34ff1a40643eb0a6443929de1c3efa3
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 88e57803b34ff1a40643eb0a6443929de1c3efa3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 88e57803b34ff1a40643eb0a6443929de1c3efa3
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
