Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

add event (customSmallerIsBetter) benchmark result for d12ea94046854fd142506ceb2e7731678b11d5b2
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d12ea94046854fd142506ceb2e7731678b11d5b2
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d12ea94046854fd142506ceb2e7731678b11d5b2
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d12ea94046854fd142506ceb2e7731678b11d5b2
  bench/data.js
Labels: none

update sbbf to support aarch64
  Cargo.lock
  Cargo.toml
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8fa37f0e802efce8975cb0450cc4e597af9e1667
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8fa37f0e802efce8975cb0450cc4e597af9e1667
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8fa37f0e802efce8975cb0450cc4e597af9e1667
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8fa37f0e802efce8975cb0450cc4e597af9e1667
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8fa37f0e802efce8975cb0450cc4e597af9e1667
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8fa37f0e802efce8975cb0450cc4e597af9e1667
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 4af8636aad012813a76d06234bd449775bc1e305
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 4af8636aad012813a76d06234bd449775bc1e305
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 4af8636aad012813a76d06234bd449775bc1e305
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 4af8636aad012813a76d06234bd449775bc1e305
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 4af8636aad012813a76d06234bd449775bc1e305
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 4af8636aad012813a76d06234bd449775bc1e305
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 156292201c295e30f8b00c4c3bc0de2aaadc5ee1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 156292201c295e30f8b00c4c3bc0de2aaadc5ee1
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 156292201c295e30f8b00c4c3bc0de2aaadc5ee1
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 156292201c295e30f8b00c4c3bc0de2aaadc5ee1
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 156292201c295e30f8b00c4c3bc0de2aaadc5ee1
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 156292201c295e30f8b00c4c3bc0de2aaadc5ee1
  bench/data.js
Labels: none

style
  build.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 6d9b3c7ec87f2fad14404ec1acfd26170abf0345
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 6d9b3c7ec87f2fad14404ec1acfd26170abf0345
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 6d9b3c7ec87f2fad14404ec1acfd26170abf0345
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 6d9b3c7ec87f2fad14404ec1acfd26170abf0345
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 6d9b3c7ec87f2fad14404ec1acfd26170abf0345
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 6d9b3c7ec87f2fad14404ec1acfd26170abf0345
  bench/data.js
Labels: none

a little cleanup & simplify
  lib/backoff/src/lib.rs
  lib/buffer/src/config.rs
  lib/tail/src/checkpoint.rs
  lib/value/src/crud/mod.rs
  lib/vtl/src/compiler/function.rs
  lib/vtl/src/compiler/function/flatten.rs
  src/sources/node/mod.rs
  src/sources/selfstat/linux.rs
  tests/cli.rs
Labels: sources, VTL, tests

add prometheus (customSmallerIsBetter) benchmark result for d8c21d5e89534bd144a44b5ca48f9edc9e9551a0
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for d8c21d5e89534bd144a44b5ca48f9edc9e9551a0
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for d8c21d5e89534bd144a44b5ca48f9edc9e9551a0
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for d8c21d5e89534bd144a44b5ca48f9edc9e9551a0
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for d8c21d5e89534bd144a44b5ca48f9edc9e9551a0
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for d8c21d5e89534bd144a44b5ca48f9edc9e9551a0
  bench/data.js
Labels: none

remove extensions/heartbeat
  Cargo.toml
  README.md
  src/extensions/heartbeat.rs
  src/extensions/mod.rs
  src/launch.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 9ad0217a003e2173ca1734e6f3accf9fce8db669
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 9ad0217a003e2173ca1734e6f3accf9fce8db669
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
