Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

bump ubuntu to 24.04 (#2233)
  .github/workflows/baseline.yml
  .github/workflows/benches.yml
  .github/workflows/check.yml
  .github/workflows/labeler.yml
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  ci/environment/bootstrap-ubuntu-24.04.sh
Labels: CI

add prometheus (customSmallerIsBetter) benchmark result for e2d2bec4e7353dc9176ebcc7d559ad579bf6550b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e2d2bec4e7353dc9176ebcc7d559ad579bf6550b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e2d2bec4e7353dc9176ebcc7d559ad579bf6550b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e2d2bec4e7353dc9176ebcc7d559ad579bf6550b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e2d2bec4e7353dc9176ebcc7d559ad579bf6550b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e2d2bec4e7353dc9176ebcc7d559ad579bf6550b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for bbea72c72c39aaf20caafa48808682f61162a2b7
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for bbea72c72c39aaf20caafa48808682f61162a2b7
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for bbea72c72c39aaf20caafa48808682f61162a2b7
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for bbea72c72c39aaf20caafa48808682f61162a2b7
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for bbea72c72c39aaf20caafa48808682f61162a2b7
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for bbea72c72c39aaf20caafa48808682f61162a2b7
  bench/data.js
Labels: none

support verify_hostname
  Cargo.lock
  lib/framework/Cargo.toml
  lib/framework/src/tls/settings.rs
Labels: none

style
  lib/framework/src/tls/settings.rs
Labels: none

lib/framework: support verify_hostname (#2235)
  Cargo.lock
  lib/framework/Cargo.toml
  lib/framework/src/tls/settings.rs
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 994d1d8251373c52a1be7601752d795ab53be19f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 994d1d8251373c52a1be7601752d795ab53be19f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 994d1d8251373c52a1be7601752d795ab53be19f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 994d1d8251373c52a1be7601752d795ab53be19f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 994d1d8251373c52a1be7601752d795ab53be19f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 994d1d8251373c52a1be7601752d795ab53be19f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 9dc0c3d943982793ae0189087caea0693485485b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 9dc0c3d943982793ae0189087caea0693485485b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 9dc0c3d943982793ae0189087caea0693485485b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 9dc0c3d943982793ae0189087caea0693485485b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 9dc0c3d943982793ae0189087caea0693485485b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 9dc0c3d943982793ae0189087caea0693485485b
  bench/data.js
Labels: none

add port_observer and source/multiplier
  Cargo.lock
  Cargo.toml
  examples/observe.yaml
  lib/configurable/src/external/value.rs
  lib/framework/Cargo.toml
  lib/framework/src/http/mod.rs
  lib/framework/src/lib.rs
  lib/framework/src/observe/endpoint.rs
  lib/framework/src/observe/mod.rs
  lib/framework/src/observe/observer.rs
  lib/framework/src/topology/builder.rs
  lib/jaeger/Cargo.toml
  lib/vtl/src/compiler/mod.rs
  lib/vtl/src/compiler/parser.rs
  lib/vtl/src/compiler/state.rs
  lib/vtl/src/lib.rs
  lib/vtl/src/tests/arithmetic.rs
  lib/vtl/src/tests/assignment.rs
  lib/vtl/src/tests/for_statement.rs
  lib/vtl/src/tests/if_statement.rs
  lib/vtl/src/tests/mod.rs
  lib/vtl/tests/arithmetic/addition.vtl
  lib/vtl/tests/arithmetic/division.vtl
  lib/vtl/tests/arithmetic/multiplication.vtl
  lib/vtl/tests/arithmetic/subtraction.vtl
  lib/vtl/tests/assignment/array_hole.vtl
  lib/vtl/tests/assignment/complex_path.vtl
  lib/vtl/tests/if/if.vtl
  lib/vtl/tests/scripts.rs
  lib/vtl/tests/string/concat.vtl
  lib/vtl/tests/string/format.vtl
  lib/vtl/tests/string/pascalcase.vtl
  lib/vtl/tests/string/transform.vtl
  lib/vtl/tests/types/is.vtl
  lib/vtl/tests/types/is_null.vtl
  src/extensions/mod.rs
  src/extensions/port_observer.rs
  src/sources/mod.rs
  src/sources/multiplier/interpolate.rs
  src/sources/multiplier/mod.rs
Labels: sources, extensions, VTL

add port_observer and source/multiplier (#2249)
  Cargo.lock
  Cargo.toml
  examples/observe.yaml
  lib/configurable/src/external/value.rs
  lib/framework/Cargo.toml
  lib/framework/src/http/mod.rs
  lib/framework/src/lib.rs
  lib/framework/src/observe/endpoint.rs
  lib/framework/src/observe/mod.rs
  lib/framework/src/observe/observer.rs
  lib/framework/src/topology/builder.rs
  lib/jaeger/Cargo.toml
  lib/vtl/src/compiler/mod.rs
  lib/vtl/src/compiler/parser.rs
  lib/vtl/src/compiler/state.rs
  lib/vtl/src/lib.rs
  lib/vtl/src/tests/arithmetic.rs
  lib/vtl/src/tests/assignment.rs
  lib/vtl/src/tests/for_statement.rs
  lib/vtl/src/tests/if_statement.rs
  lib/vtl/src/tests/mod.rs
  lib/vtl/tests/arithmetic/addition.vtl
  lib/vtl/tests/arithmetic/division.vtl
  lib/vtl/tests/arithmetic/multiplication.vtl
  lib/vtl/tests/arithmetic/subtraction.vtl
  lib/vtl/tests/assignment/array_hole.vtl
  lib/vtl/tests/assignment/complex_path.vtl
  lib/vtl/tests/if/if.vtl
  lib/vtl/tests/scripts.rs
  lib/vtl/tests/string/concat.vtl
  lib/vtl/tests/string/format.vtl
  lib/vtl/tests/string/pascalcase.vtl
  lib/vtl/tests/string/transform.vtl
  lib/vtl/tests/types/is.vtl
  lib/vtl/tests/types/is_null.vtl
  src/extensions/mod.rs
  src/extensions/port_observer.rs
  src/sources/mod.rs
  src/sources/multiplier/interpolate.rs
  src/sources/multiplier/mod.rs
Labels: sources, extensions, VTL

add metrics (customSmallerIsBetter) benchmark result for fb7076faa8dfed06b6b14f8b640af172bef2f6c6
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for fb7076faa8dfed06b6b14f8b640af172bef2f6c6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for fb7076faa8dfed06b6b14f8b640af172bef2f6c6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for fb7076faa8dfed06b6b14f8b640af172bef2f6c6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for fb7076faa8dfed06b6b14f8b640af172bef2f6c6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for fb7076faa8dfed06b6b14f8b640af172bef2f6c6
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 8a5472cf2eefd733c4596f9d3868fbb92302579b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8a5472cf2eefd733c4596f9d3868fbb92302579b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8a5472cf2eefd733c4596f9d3868fbb92302579b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8a5472cf2eefd733c4596f9d3868fbb92302579b
  bench/data.js
Labels: none

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*
