Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add tracing-limit (customSmallerIsBetter) benchmark result for 06aa2b1f26f162ff83b37e22d9e433162cfb44f7
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 06aa2b1f26f162ff83b37e22d9e433162cfb44f7
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 06aa2b1f26f162ff83b37e22d9e433162cfb44f7
  bench/data.js
Labels: none

add sources/pulsar
  Cargo.lock
  Cargo.toml
  Makefile
  lib/framework/Cargo.toml
  lib/framework/src/topology/builder.rs
  lib/jaeger/Cargo.toml
  lib/testify/src/container/docker.rs
  lib/testify/src/container/mod.rs
  src/sinks/loki/integration_tests.rs
  src/sources/dnstap/mod.rs
  src/sources/mod.rs
  src/sources/pulsar.rs
Labels: sources, sinks

add prometheus (customSmallerIsBetter) benchmark result for b70fe409490e181c1ca5e95b141cdff980a1149a
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 557fc0ef6aab3715aa7fc356c905e369300c2b5b
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b70fe409490e181c1ca5e95b141cdff980a1149a
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 557fc0ef6aab3715aa7fc356c905e369300c2b5b
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b70fe409490e181c1ca5e95b141cdff980a1149a
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 557fc0ef6aab3715aa7fc356c905e369300c2b5b
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b70fe409490e181c1ca5e95b141cdff980a1149a
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 557fc0ef6aab3715aa7fc356c905e369300c2b5b
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 557fc0ef6aab3715aa7fc356c905e369300c2b5b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 557fc0ef6aab3715aa7fc356c905e369300c2b5b
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b70fe409490e181c1ca5e95b141cdff980a1149a
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b70fe409490e181c1ca5e95b141cdff980a1149a
  bench/data.js
Labels: none

update to 1.85.0
  lib/configurable/src/schema/json_schema.rs
  lib/event/src/trace/evicted_queue.rs
  lib/ntp/src/lib.rs
  lib/value/src/kind.rs
  rust-toolchain.toml
  src/sources/chrony/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 5ad0a92d4f3ef6378cee81ffd27a35d256a6fcc6
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 5ad0a92d4f3ef6378cee81ffd27a35d256a6fcc6
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 5ad0a92d4f3ef6378cee81ffd27a35d256a6fcc6
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 5ad0a92d4f3ef6378cee81ffd27a35d256a6fcc6
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 5ad0a92d4f3ef6378cee81ffd27a35d256a6fcc6
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 5ad0a92d4f3ef6378cee81ffd27a35d256a6fcc6
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 0d3f39c1fda38b29a452c0b95d2af74fa8cdbdbd
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0d3f39c1fda38b29a452c0b95d2af74fa8cdbdbd
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0d3f39c1fda38b29a452c0b95d2af74fa8cdbdbd
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 0d3f39c1fda38b29a452c0b95d2af74fa8cdbdbd
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 0d3f39c1fda38b29a452c0b95d2af74fa8cdbdbd
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0d3f39c1fda38b29a452c0b95d2af74fa8cdbdbd
  bench/data.js
Labels: none

replace bloomy with sbbf
  Cargo.lock
  Cargo.toml
  src/transforms/cardinality.rs
Labels: transforms

add prometheus (customSmallerIsBetter) benchmark result for faf7977ee7cd759c3a81c4ff6288c63df48a4db3
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for faf7977ee7cd759c3a81c4ff6288c63df48a4db3
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for faf7977ee7cd759c3a81c4ff6288c63df48a4db3
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for faf7977ee7cd759c3a81c4ff6288c63df48a4db3
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for faf7977ee7cd759c3a81c4ff6288c63df48a4db3
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for faf7977ee7cd759c3a81c4ff6288c63df48a4db3
  bench/data.js
Labels: none

cargo update
  Cargo.lock
Labels: none

cargo update (#2221)
  Cargo.lock
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for f301428aa2b1fc039a305d0b9e90e2c6b55f28d1
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for f301428aa2b1fc039a305d0b9e90e2c6b55f28d1
  bench/data.js
Labels: none
