Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add Build (customSmallerIsBetter) benchmark result for 38588a3f78eb8553aa593ddf1f7316857eb66f86
  bench/data.js
Labels: none

implement tapestats
  src/sources/node/mod.rs
  src/sources/node/tapestats.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for c4e40bf8f18a382d1ae7174769f329c9e833a000
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for c4e40bf8f18a382d1ae7174769f329c9e833a000
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for c4e40bf8f18a382d1ae7174769f329c9e833a000
  bench/data.js
Labels: none

fix `node_tape_write_time_seconds_total`
  src/sources/node/tapestats.rs
Labels: sources

add tracing-limit (customSmallerIsBetter) benchmark result for c4e40bf8f18a382d1ae7174769f329c9e833a000
  bench/data.js
Labels: none

style
  src/sources/node/tapestats.rs
Labels: sources

add vertex (customSmallerIsBetter) benchmark result for c4e40bf8f18a382d1ae7174769f329c9e833a000
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for c4e40bf8f18a382d1ae7174769f329c9e833a000
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for bb0a601a3ea8b0f1d699d814cc1907ee1921a31f
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for bb0a601a3ea8b0f1d699d814cc1907ee1921a31f
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for bb0a601a3ea8b0f1d699d814cc1907ee1921a31f
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for bb0a601a3ea8b0f1d699d814cc1907ee1921a31f
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for bb0a601a3ea8b0f1d699d814cc1907ee1921a31f
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for bb0a601a3ea8b0f1d699d814cc1907ee1921a31f
  bench/data.js
Labels: none

add ruok
  src/sources/zookeeper.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 8dfb0bf4ce632ed7b4ca15da094e6e5e87c6cb2c
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 8dfb0bf4ce632ed7b4ca15da094e6e5e87c6cb2c
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 8dfb0bf4ce632ed7b4ca15da094e6e5e87c6cb2c
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 8dfb0bf4ce632ed7b4ca15da094e6e5e87c6cb2c
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 8dfb0bf4ce632ed7b4ca15da094e6e5e87c6cb2c
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 8dfb0bf4ce632ed7b4ca15da094e6e5e87c6cb2c
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for 1d7bf8f1b5d97310baf52956964bc6b7ef2aff2e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 1d7bf8f1b5d97310baf52956964bc6b7ef2aff2e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 1d7bf8f1b5d97310baf52956964bc6b7ef2aff2e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 1d7bf8f1b5d97310baf52956964bc6b7ef2aff2e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 1d7bf8f1b5d97310baf52956964bc6b7ef2aff2e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 1d7bf8f1b5d97310baf52956964bc6b7ef2aff2e
  bench/data.js
Labels: none

remove unnecessary `bench` feature
  Cargo.toml
Labels: none

optimize haproxy's csv parser
  benches/haproxy.rs
  src/sources/haproxy.rs
Labels: sources, benches

add prometheus (customSmallerIsBetter) benchmark result for 0b129ae61da9ea815699a6673ad4f1992f48670e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0b129ae61da9ea815699a6673ad4f1992f48670e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0b129ae61da9ea815699a6673ad4f1992f48670e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 0b129ae61da9ea815699a6673ad4f1992f48670e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 0b129ae61da9ea815699a6673ad4f1992f48670e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 0b129ae61da9ea815699a6673ad4f1992f48670e
  bench/data.js
Labels: none

optimize `parse_text`
  lib/prometheus/src/lib.rs
  lib/prometheus/src/text.rs
Labels: none

add `const_labels`
  src/sinks/prometheus_exporter.rs
Labels: sinks

trim description
  lib/prometheus/src/text.rs
Labels: none
