Repository f1shl3gs/vertex, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, sources, transforms, sinks, extensions, topology, VTL, docs, benches, tests

.github/labeler.yml:

# Generic component-level labels and high-level groupings

CI:
  - changed-files:
    - any-glob-to-any-file: ci/**/*
    - any-glob-to-any-file: .github/**/*

sources:
  - changed-files:
    - any-glob-to-any-file: src/sources/**/*

transforms:
  - changed-files:
    - any-glob-to-any-file: src/transforms/**/*

sinks:
  - changed-files:
    - any-glob-to-any-file: src/sinks/**/*

extensions:
  - changed-files:
    - any-glob-to-any-file: src/extensions/**/*

topology:
  - changed-files:
    - any-glob-to-any-file: src/topology/**/*

VTL:
  - changed-files:
    - any-glob-to-any-file: lib/vtl/**/*

docs:
  - changed-files:
    - any-glob-to-any-file: docs/**/*

benches:
  - changed-files:
    - any-glob-to-any-file: benches/**/*
    - any-glob-to-any-file: ci/bench/**/*

tests:
  - changed-files:
    - any-glob-to-any-file: tests/**/*

add Build (customSmallerIsBetter) benchmark result for bc7b79d900715f158b492913486acf260543741b
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for b86068b8e76c25b499a796d04ec30515cc799f3e
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b86068b8e76c25b499a796d04ec30515cc799f3e
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b86068b8e76c25b499a796d04ec30515cc799f3e
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b86068b8e76c25b499a796d04ec30515cc799f3e
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b86068b8e76c25b499a796d04ec30515cc799f3e
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b86068b8e76c25b499a796d04ec30515cc799f3e
  bench/data.js
Labels: none

add comments for config
  src/sources/multiplier/mod.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for b5c6776a200ff7319f7128ce540ab392d452cf82
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for b5c6776a200ff7319f7128ce540ab392d452cf82
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for b5c6776a200ff7319f7128ce540ab392d452cf82
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for b5c6776a200ff7319f7128ce540ab392d452cf82
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for b5c6776a200ff7319f7128ce540ab392d452cf82
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for b5c6776a200ff7319f7128ce540ab392d452cf82
  bench/data.js
Labels: none

add extensions/docker_observer
  Cargo.toml
  examples/observe.yaml
  src/extensions/docker_observer.rs
  src/extensions/mod.rs
Labels: extensions

add prometheus (customSmallerIsBetter) benchmark result for 2200d08262fb66632fd279ce1fe3dd486a64edde
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 2200d08262fb66632fd279ce1fe3dd486a64edde
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 2200d08262fb66632fd279ce1fe3dd486a64edde
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 2200d08262fb66632fd279ce1fe3dd486a64edde
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 2200d08262fb66632fd279ce1fe3dd486a64edde
  bench/data.js
Labels: none

fix type name
  src/extensions/docker_observer.rs
Labels: extensions

add Build (customSmallerIsBetter) benchmark result for 2200d08262fb66632fd279ce1fe3dd486a64edde
  bench/data.js
Labels: none

fix example config
  examples/observe.yaml
Labels: none

update toolchain to 1.91.0
  rust-toolchain.toml
  src/sources/consul/integration_tests.rs
  src/sources/node/btrfs.rs
Labels: sources

add prometheus (customSmallerIsBetter) benchmark result for 86c0c4e8fe4fff7e1ab7d99e212c95ea016afadc
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 86c0c4e8fe4fff7e1ab7d99e212c95ea016afadc
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 86c0c4e8fe4fff7e1ab7d99e212c95ea016afadc
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for 86c0c4e8fe4fff7e1ab7d99e212c95ea016afadc
  bench/data.js
Labels: none

add prometheus (customSmallerIsBetter) benchmark result for e3a580308a11832454842bfb79b1ad5ce706a531
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for e3a580308a11832454842bfb79b1ad5ce706a531
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for e3a580308a11832454842bfb79b1ad5ce706a531
  bench/data.js
Labels: none

add tracing-limit (customSmallerIsBetter) benchmark result for e3a580308a11832454842bfb79b1ad5ce706a531
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for 86c0c4e8fe4fff7e1ab7d99e212c95ea016afadc
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for 86c0c4e8fe4fff7e1ab7d99e212c95ea016afadc
  bench/data.js
Labels: none

add vertex (customSmallerIsBetter) benchmark result for e3a580308a11832454842bfb79b1ad5ce706a531
  bench/data.js
Labels: none

add Build (customSmallerIsBetter) benchmark result for e3a580308a11832454842bfb79b1ad5ce706a531
  bench/data.js
Labels: none

add lib/docker
  Cargo.lock
  Cargo.toml
  lib/docker/Cargo.toml
  lib/docker/src/containers.rs
  lib/docker/src/lib.rs
  lib/docker/src/system.rs
  lib/hyper-unix/Cargo.toml
  src/extensions/docker_observer.rs
  src/sources/docker.rs
Labels: sources, extensions

add prometheus (customSmallerIsBetter) benchmark result for 0727fbc52e3acb226cc2d8d071fcbdbc1ff21914
  bench/data.js
Labels: none

add event (customSmallerIsBetter) benchmark result for 0727fbc52e3acb226cc2d8d071fcbdbc1ff21914
  bench/data.js
Labels: none

add metrics (customSmallerIsBetter) benchmark result for 0727fbc52e3acb226cc2d8d071fcbdbc1ff21914
  bench/data.js
Labels: none
